<template>
  <div
    v-for="(blog, index) in blog_items"
    :key="blog.id"
    :class="index % 2 == 1 ? 'row' : ''"
  >
    <div class="col-md-6">
      <div class="card_body">
        <HomeBlogCard :data="blog" />
      </div>
    </div>
  </div>
</template>

<script>
import HomeBlogCard from "~~/components/Cards/HomeBlogCard.vue";
export default {
  components: { HomeBlogCard },

  data() {
    return {
      blog_items: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [{ data: blog_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/blog?limit=4`),
      ]);

      this.blog_items = blog_response._value.data;
    },
  },

};
</script>

<style scoped></style>
