<template>
  <div>
    <ul class="vidqa_sldr">
      <swiper
        :breakpoints="swiperOptions.breakpoints"
        :modules="modules"
        :slides-per-view="4"
        :space-between="20"
        :autoplay="{ delay: 6000 }"
        loop
        @swiper="onSwiper"
        @slideChange="onSlideChange"
      >
        <swiper-slide v-for="(partner,index) in partners" :key="'partner_'+index">
          <div class="partner-item">
            <div class="common-text">
              <img  :src="$config.storagePath+partner.banner" />
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </ul>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  data() {
    return {
      partners: [
        { id: 1, banner: "Partners/logo_1.png"},
        { id: 2, banner: "Partners/logo_2.png"},
        { id: 3, banner: "Partners/logo_3.png"},
        { id: 4, banner: "Partners/logo_4.png"},
        { id: 5, banner: "Partners/logo_5.png"},
      ],
    };
  },
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      //   console.log(swiper);
    };
    const onSlideChange = () => {
      //   console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
       swiperOptions: {
          breakpoints: {       
      320: {       
         slidesPerView: 2,
         spaceBetween: 10     
      },          
      770: {       
         slidesPerView: 2,       
         spaceBetween: 50     
      },   
  
      771: {       
         slidesPerView: 4,       
         spaceBetween: 30     
      } 
       }   
        },
    };
  },
};
</script>

<style scoped>
.vidqa_sldrli .vidqa_cnt {
  /* padding: 30px 30px 70px;
    width: calc(100% - 238px); */
  position: relative;
  padding: 3rem 6rem;
}
.vidqa_sldrli .vidqa_cnt .vidqa_uni {
  position: static;
  /* align-items: inherit; */
  display: flex;
  align-items: center;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
}

.vidqa_sldrli .vidqa_cnt .vid_trnscnt {
  color: black !important;
}

.vid_trans .vid_transcrpt {
  font-size: 18px;
  margin: 28px 10px 0 0;
  color: #1d1f2b;
  font-weight: 700;
  font-family: "BuenosAires-Bold";
}
.vidqa_sldrli .vidqa_cnt .triangle :before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}
.vidqa_sldrli .vidqa_cnt .vid_trans .vid_trnscnt {
  font-size: 15px;
  color: #1d202c;
  padding-top: 10px;
  padding: 0px;
  padding-bottom: 15px;
  margin-top: 20px;
}
.vidqa_sldrli {
  min-width: 270px !important;
  min-height: 10rem;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}

.content-page .content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  margin-right: 20px;
}
.content-page .content p {
  letter-spacing: -0.025em;
  font-size: 12px;
  
  color: black;
}

.content-page .content h2 {
  color: #1d202c;
  font-size: 22px;
  
  letter-spacing: -0.025em;
  line-height: 32px;
  margin-bottom: 0;
}

.partner-item{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 5px 10px 0px rgb(9 9 9 / 20%);
    display: block;
    margin: 20px;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    left: -20px;
}
</style>

