<template>
  <div v-for="course in course_items" :key="course.id">
    <CourseCard
      :title="course.title"
      :banner="course.banner"
      :slug="`/course/${course.slug}`"
    />
  </div>
</template>

<script>
import CourseCard from "~~/components/Cards/CourseCard.vue";
export default {
  components: { CourseCard },

  data() {
    return {
      course_items: [],
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: async function () {
      const [{ data: course_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/course?limit=6`),
      ]);
      this.course_items = course_response._value.data;
    },
  },
};
</script>

<style scoped>
</style>>

 