<template>
  <div>
    <ul class="vidqa_sldr">
      <swiper
        :breakpoints="swiperOptions.breakpoints"
        :modules="modules"
        :slides-per-view="2"
        :space-between="0"
        :autoplay="{ delay: 6000 }"
        loop
        @swiper="onSwiper"
        @slideChange="onSlideChange"
      >
        <swiper-slide v-for="testimonial in testimonial_items" :key="testimonial.id">
          <li class="vidqa_sldrli">
            <div class="vidqa_pd">
              <div class="vidqa_cnt">
                <div class="vidqa_uni">
                  <div class="vidqa_unilogo">
                    <img :src="$config.storagePath+testimonial.avatar" class="lazy-loaded" />
                  </div>
                  <div class="vidqa_unicnt">
                    <h2>{{ testimonial.name }}</h2>
                    <p>{{ testimonial.university }}</p>
                  </div>
                </div>
                <div class="vid_trans">
                  <p class="vid_trnscnt" id="transText7">
                    {{ testimonial.quote }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </swiper-slide>
      </swiper>
    </ul>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  data() {
      return {
        testimonial_items: [],
      };
    },

  setup() {
  
 
    const onSwiper = (swiper) => {
      //   console.log(swiper);
    };
    const onSlideChange = () => {
      //   console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
      swiperOptions: {
        breakpoints: {
          320: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          770: {
            slidesPerView: 2,
            spaceBetween: 50,
          },
        },
      },
    };    
    
  },

  created() {
      this.loadData();
    },

    methods:{
      loadData:async function(){
        // console.log(this.$config.baseApiURL);

        const [{ data: testimonial_response }] = await Promise.all([
          useFetch(this.$config.baseApiURL+`/testimonial`)
        ])

        this.testimonial_items=testimonial_response._value.data;

      }
      
    },
};
</script>

<style scoped>
.swiper {
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  left: -20px;
}
.vidqa_sldrli .vidqa_cnt{
    position: relative;
    padding: 2rem 4rem;
    background: #242c42;
    color: white;
    border-radius: 20px;
}
.vidqa_sldrli .vidqa_cnt .vidqa_uni {
  position: static;
  /* align-items: inherit; */
  display: flex;
  align-items: center;
  bottom: 15px;
  /* left: 15px; */
  /* width: calc(100% - 30px); */
}

.vidqa_sldrli .vidqa_cnt .vid_trnscnt {
  color: black !important;
}

.vid_trans .vid_transcrpt {
  font-size: 18px;
  margin: 28px 10px 0 0;
  color: #1d1f2b;
  font-weight: 700;
  font-family: "BuenosAires-Bold";
}
.vidqa_sldrli .vidqa_cnt .triangle :before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}
.vidqa_sldrli .vidqa_cnt .vid_trans .vid_trnscnt {
  font-size: 15px;
  color: #ffffff!important;
  padding-top: 10px;
  padding: 0px;
  margin-top: 20px;
}
.vidqa_sldrli {
  min-width: 270px !important;
  min-height: 10rem;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}

.vidqa_sldrli img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.vidqa_sldrli p {
  letter-spacing: -0.025em;
  font-size: 12px;
  
  color: #ffffff;
}

.vidqa_sldrli h2 {
  color: #ffffff;
  font-size: 22px;
  
  letter-spacing: -0.025em;
  line-height: 32px;
  margin-bottom: 0;
}

.vidqa_unicnt{
  padding-left: 20px;
}
.vidqa_unilogo {
    min-width: 80px;
}

@media only screen and (max-width: 700px) {
  .vidqa_sldrli .vidqa_cnt{
        padding: 2rem;
  }
  .vidqa_sldrli h2 {
    font-size: 18px;
    line-height: 1.4;
    /* margin-bottom: 0; */
}

}
</style>

