<template>
  <div>
    <div class="vwo-single-column">
      <div class="container content-landing-page">
        <swiper
          :breakpoints="swiperOptions.breakpoints"
          :modules="modules"
          :slides-per-view="4"
          :space-between="20"
          :autoplay="{ delay: 6000 }"
          loop
          @swiper="onSwiper"
          @slideChange="onSlideChange"
        >
          <swiper-slide v-for="row in data" :key="row.id">
            <nuxt-link :to="'/institution/' + row.slug" class="yCmsComponent yComponentWrapper fnd_tl">
              <nuxt-link :to="'/institution/' + row.slug">
                <div class="overlay"></div>
                <img :src="$config.storagePath + row.logo" />
              </nuxt-link>
              <div class="uni-info">
                <h3>{{ row.name }}</h3>
              </div>
            </nuxt-link>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import { Autoplay, Navigation } from "swiper";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

export default {
  props: {
    data: Array,
  },
  data() {
    return {
      swiperOptions: {
        breakpoints: {
          320: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          770: {
            slidesPerView: 2,
            spaceBetween: 50,
          },

          771: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
        },
      },
    };
  },
  components: {
    Swiper,
    SwiperSlide,
  },
  setup() {
    const onSwiper = (swiper) => {
      // console.log(swiper);
    };
    const onSlideChange = () => {
      // console.log("slide change");
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Autoplay],
      swiperOptions: {
        breakpoints: {
          320: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          770: {
            slidesPerView: 2,
            spaceBetween: 50,
          },

          771: {
            slidesPerView: 4,
            spaceBetween: 30,
          },
        },
      },
    };
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.fnd_tl a {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 0 rgb(9 9 9 / 20%);
  margin: 10px;
  overflow: hidden;
}
.fnd_tl a:hover .image-title {
  bottom: 5px;
  border-radius: 10px;
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}
/* .fnd_tl {
  margin: 10px;
} */

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;

  transition: all 0.5s ease;
  border-radius: 10px;
}

.uni-info h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  height: 60px;
  text-align: center;
  text-transform: CAPITALIZE;
}
</style>

 