<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img :src="$config.storagePath + course.banner"/>
              </div>
              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <div class="content">
                    <p class="blog_heading">
                      <strong>{{ course.title }}</strong>
                    </p>
                    <div class="html-editor-text" v-html="course.description"></div>
                  </div>
                </div>
              </div>
            </div>
            <CourseSidebar :data="all_courses" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CourseSidebar from "~~/components/Sidebars/CourseSidebar.vue";
export default {
  components: { CourseSidebar },

  data() {
    return {
      course: [],
      all_courses: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      const [{ data: blog_response }, { data: all_courses_response }] =
        await Promise.all([
          useFetch( this.$config.baseApiURL + `/course/` + this.$route.params.slug),
          useFetch( this.$config.baseApiURL +`/course`)

        ]);
      this.course = blog_response._value.data;
      this.all_courses = all_courses_response._value.data;
    },
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
  text-transform: capitalize;
}
</style>
