<template>
  <div class="contact-from">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="left_side_info">
          <ContactDetailCard />
        </div>
      </div>
      <form @submit.prevent="sendEmail">
        <div class="col-sm-12 col-md-7">
          <div class="get_in_touch_from">
            <div class="row">
              <div class="col-md-12">
                <div class="form_title">
                  <span class="form_title_text"> Get in Touch </span>
                  <div
                    class="alert alert-success"
                    v-if="response_message != ''"
                  >
                    <p>{{ response_message }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                    <input v-model="form.title" type="hidden" />
                  <label class="control-label form-label"
                    >Name
                    <span class="highlight" id="userName-info">*</span></label
                  >
                    <input v-model="form.title" type="hidden" />
                  <input
                    v-model="form.name"
                    placeholder="Full Name"
                    type="text"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Which english test you have taken?
                    <span class="highlight">*</span></label
                  >

                  <div class="custom-select">
                    <select
                      v-model="form.subject"
                      class="form-control form-control-lg cus-select-form"
                    >
                      <option
                        class="cus-select-option"
                        value=""
                        selected="selected"
                      >
                        Please select
                      </option>
                      <option class="cus-select-option" value="IELTS">
                        IELTS
                      </option>
                      <option class="cus-select-option" value="OIETC">
                        OIETC
                      </option>
                      <option class="cus-select-option" value="Duo Lingo">
                        Duo Lingo
                      </option>
                      <option
                        class="cus-select-option"
                        value="I plan to take one"
                      >
                        I plan to take one
                      </option>
                      <option
                        class="cus-select-option"
                        value="Medium of Instruction:English"
                      >
                        Medium of Instruction:English
                      </option>
                      <option class="cus-select-option" value="Other">
                        Other
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Mobile Number
                    <span class="highlight" id="company-info">*</span></label
                  >
                  <input
                    placeholder="Mobile Number"
                    v-model="form.phone"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Email
                    <span class="highlight" id="emailA-info">*</span></label
                  ><input
                    placeholder="Email"
                    v-model="form.email"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Address
                    <span class="highlight" id="address-info">*</span></label
                  >
                  <textarea
                    placeholder="Type here..."
                    v-model="form.address"
                    class="form-control form-input address_text"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="submit_button" style="margin-top: 40px;">
                  <button type="submit" class="btn-block button">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import ContactDetailCard from "~~/components/Cards/ContactDetailCard.vue";
export default {
  components: { ContactDetailCard },
  data() {
    return {
      form: {
        title: "Get in Touch",
        name: "",
        email: "",
        phone: "",
        address: "",
        subject: "",
      },
      response_message: "",
    };
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },

    sendEmail: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
            // Log error
            // console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
.left_side_info {
  background: #0e452c;
  border-radius: 20px;
  overflow: hidden;
  padding: 36px 0px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
.contact-from {
  top: 5rem !important;
}
.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.content-page .left-panel {
  top: 0 !important;
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 100%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}

.left_img img {
  border-radius: 15px;
  margin-top: 15rem;
}
.container__full {
  width: 100%;
}

/* select box style start */
.form-control .custom-select {
  position: relative;
  overflow: hidden;
}
select.form-control.cus-select-form {
  height: 48px;
  /* margin: 16px 0px; */
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
option.cus-select-option {
  font-size: 14px !important;
  padding: 10px 0px;
  border: none;
}
option.cus-select-option .selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;

  width: 0;
  height: 0;
  border: 1px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}

.form_title {
  margin: 5px 0px 20px 0px;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}

/* get-in-tuch-form end */
</style>