<template>
  <div class="contact-from">
    <div class="col-sm-12 col-md-5">
      <div class="left_side_info">
        <ContactDetailCard />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="get_in_touch_from">
          <div class="row">
            <div class="col-md-12">
              <div class="form_title">
                <span class="form_title_text">Request a Call Back </span>
                 <div
                          class="alert alert-success"
                          v-if="response_message != ''"
                        >
                          <p>{{ response_message }}</p>
                        </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label form-label"
                  >Name
                  <span class="highlight" id="userName-info">*</span></label
                >
                <input v-model="form.title" type="hidden" />
                <input
                  type="text"
                  v-model="form.name"
                  placeholder="Full Name"
                  id="fullname"
                  name="fullname"
                  class="form-control form-input contactus-input"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label form-label"
                  >Mobile Number
                  <span class="highlight" id="company-info">*</span></label
                >
                <input
                  type="text"
                  v-model="form.phone"
                  placeholder="Mobile Number"
                  id="Mobile Number"
                  name="Mobile Number"
                  class="form-control form-input contactus-input"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label form-label"
                  >Email
                  <span class="highlight" id="emailA-info">*</span></label
                ><input
                  type="text"
                  v-model="form.email"
                  placeholder="Email"
                  id="emailA"
                  name="email"
                  class="form-control form-input contactus-input"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="submit_button">
                <button  @click="sendEmail" type="button" class="btn-block button">
                  Send Request
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactDetailCard from "~~/components/Cards/ContactDetailCard.vue";
export default {
  components: { ContactDetailCard },
   data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        subject: "Request a Call Back",
      },
      response_message: "",
    };
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },

    sendEmail: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
            // Log error
            // console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
/* .static_banner {
  min-height: 250px;
  background: none;
} */
.contact-from {
  top: 5rem !important;
}
.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.content-page .left-panel {
  top: 0 !important;
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 100%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}

.left_img img {
  border-radius: 15px;
  margin-top: 15rem;
}
.container__full {
  width: 100%;
}

.left_side_info {
  background: var(--base-gradient-left);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 0px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
/* get-in-tuch-form start */
.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}

.form_title {
  margin: 5px 0px 20px 0px;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}
.section_content_img img {
  border-radius: 10px;
  overflow: hidden;
}
/* get-in-tuch-form end */

/* responsive  */
@media only screen and (max-width: 700px) {
  .get_in_touch_from {
    margin-top: 10px;
  }
}
/* responsive  end */
</style>