<template>
  <div class="homepage content-page">
    <main ref="mainTag">
     <NuxtLayout>
      <NuxtPage />
     </NuxtLayout>
      </main>
  </div>
</template>
<script>

export default{

  created(){
    this.$bus.$on('addMobileMenuClass', () => {
      this.$refs.mainTag.classList.add("offcanvas");
    });

    this.$bus.$on('removeMobileMenuClass', () => {
      this.$refs.mainTag.classList.remove("offcanvas");
    });
  }
  
}
</script>
