<template>
  <div>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent">
            <div class=""></div>
          </div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="row">
                <div class="col-md-12">
                  <div class="page-header">
                    <h1 class="page-title">{{ course_category.title }}</h1>
                  </div>
                </div>
              </div>
              <br />
              <div
                class=""
                v-for="course in course_category.courses"
                :key="course.id"
              >
                <CategoryCourseCard
                  :title="course.title"
                  :banner="course.banner"
                  :slug="'/course/' + course.slug"
                />
              </div>
            </div>

            <CourseCategory :data="all_categories" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CourseCategory from "~~/components/Sidebars/CourseCategory.vue";
import CategoryCourseCard from "~~/components/Cards/CategoryCourseCard.vue";
export default {
  components: { CourseCategory, CategoryCourseCard },
  data() {
    return {
      course_category: [],
      all_categories: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      const [
        { data: course_category_response },
        { data: all_categories_response },
      ] = await Promise.all([
        useFetch(
          this.$config.baseApiURL +
            `/course-category/` +
            this.$route.params.slug
        ),
        useFetch(this.$config.baseApiURL + `/course-category`),
      ]);
      this.course_category = course_category_response._value.data;
      this.all_categories = all_categories_response._value.data;
    },
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 10px;
}
.fnd_tl .image-title {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  z-index: 997;
  margin-bottom: 1rem;
}

.fnd_tl a {
  display: inline-block;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.fnd_tl a:hover .image-title {
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}

.fnd_tl {
  margin-bottom: 20px;
}

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: linear-gradient(to bottom, #000f04 0%, #000000 100%);
  z-index: 900;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.course_tittle {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0px 10px 20px;
}
.vwo-single-column {
  margin-top: 60px;
}

.content-landing-page {
  padding: 0;
}
.image-title .button:hover {
  background: var(--base-gradient-left);
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}
.static_banner {
  background: none;
}
</style>