<template>
  <div>
    <div class="vwo-single-column">
      <div class="container content-landing-page">
        <div class="find_course"></div>
        <div
          v-for="institution in institutions"
          :key="institution.id"
          class="yCmsContentSlot"
        >
          <div
            class="
              yCmsComponent
              col-xs-12 col-sm-6 col-md-4
              yComponentWrapper
              fnd_tl
            "
          >
            <nuxt-link :to="'/institution/' + institution.slug">
              <div class="overlay"></div>
              <img :src="$config.storagePath + institution.logo" />
            </nuxt-link>
            <div class="uni-info">
              <h3>{{ institution.name }}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="ofcdetail_wrapper">
        <section class="ofc_eventswrap usrpage"></section>
        <section class="page-homepage testimonial_wrap">
          <div class="home-container testimonial">
            <div class="row testimonial-video"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      institutions: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      const [{ data: institutions }] = await Promise.all([
        useFetch(
          this.$config.baseApiURL +
            `/institution?slug=` +
            this.$route.params.slug
        ),
      ]);
      this.institutions = institutions._value.data;
    },
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 10px;
}

.fnd_tl a {
  border-radius: 20px;
  box-shadow: 2px 5px 10px 0 rgba(9, 9, 9, 0.2);
  display: block;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.fnd_tl a:hover .image-title {
  bottom: 5px;
  border-radius: 10px;
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}
.fnd_tl {
  margin-bottom: 20px;
}

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;

  transition: all 0.5s ease;
  border-radius: 10px;
}

.uni-info h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  height: 60px;
  text-align: center;
  text-transform: CAPITALIZE;
}
</style>