<template>
  <div>
    <footer class="main-footer footer ftr_margn">
      <div class="container">
        <div class="footer__top">
          <div class="row">
            <div class="footer-left col-xs-12 col-sm-12">
              <div>
                <div
                  class="footer__nav--container links col-xs-6 col-md-12 col-sm-12">
                  <div class="footer-form-title">
                    <div class="form-title">
                      Want us to email you occasionally with <br />
                      Tarek Associates?
                        <div
                    class="alert alert-success"
                    v-if="response_message != ''"
                  >
                    <p>{{ response_message }}</p>
                  </div>
                    </div>
                  </div>
                  <div>
                    <form  @submit.prevent="createUser" class="email-footer">
                        <input v-model="form.title" type="hidden" />
                      <div class="
                          mx-auto
                          mb-6
                          flex
                          max-w-sm
                          flex-col
                          justify-center
                          md:flex-row
                          lg:mx-0 lg:mb-0 lg:max-w-full
                        ">
                        <input v-model="form.email"
                          class="
                            mb-4
                            rounded-2xl
                            px-4
                            py-4
                            text-center text-base text-black
                            placeholder-grey-800
                            md:mb-0
                            md:-mr-8
                            md:w-1/2
                            md:py-3
                            md:text-left
                            md:text-xs
                            footer-email
                          "
                          type="email"
                          name="email"
                          placeholder="Enter your email address"
                          autocomplete=""
                          required=""
                        /><button
                          type="submit"
                          class="
                            btn btn-primary
                            py-5
                            md:w-32 md:py-4
                            footer-submit
                          "
                        >
                          Subscribe
                        </button>
                      </div>
                      <!---->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            
            <!-- footer right side start -->
            <div class="col-sm-12 col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="card_info">
                    <div class="info_heading">
                      <h4>Head Office</h4>
                    </div>
                    <div class="item">
                      <div class="item_title">Address :</div>
                      <div class="item_text">
                        NH.202 E1 Studio, 7 Whitechapel Road, London, E1 1DU
                      </div>
                    </div>
                    <div class="item">
                      <div class="item_title">Phone :</div>
                      <div class="item_text">02045161434, +44(0)7891913041</div>
                    </div>
                    <div class="item">
                      <div class="item_title">Email :</div>
                      <div class="item_text">info@tarekassociates.co.uk</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card_info">
                    <div class="info_heading">
                      <h4>Dhaka Office</h4>
                    </div>
                    <div class="item">
                      <div class="item_title">Address :</div>
                      <div class="item_text">
                        Sonartori Tower (6th Floor), 12 Sonargaon Road,
                        Banglamotor, Dhaka-1000
                      </div>
                    </div>
                    <div class="item">
                      <div class="item_title">Phone :</div>
                      <div class="item_text">+88029632750, +881321166550</div>
                    </div>
                    <div class="item">
                      <div class="item_title">Email :</div>
                      <div class="item_text">dhaka@tarekassociates.co.uk</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- footer right side end -->

            <!-- footer left Start -->
            <div class="col-sm-12 col-md-4">
              <div class="left-footer">

                <div class="card_info">
                    <div class="info_heading">
                      <h4>Useful Links</h4>
                    </div>
                    <div class="link_list">
                      <ul>
                        <li>
                          <nuxt-link to="/privacy-policy">Privacy Policy</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/course-category/undergraduate-courses">Undergraduate Course</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/course-category/postgraduate-courses">Postgraduate Course</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/course-category/diploma-courses">Diploma Course</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/course-category/professional-courses">Professional Course</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/course-category/phd-dba-courses">PhD/DBA Course</nuxt-link>
                        </li>
                        <li>
                          
                          <nuxt-link to="/course-category/english-language">English Course</nuxt-link>
                        </li>
                      </ul>

                    </div>
                
                  <div class="footer-left-social">
                    <!-- <div class="social-heading">
                      <span class="title"> Follow us </span>
                    </div> -->
                    <div class="socials">
                      <a
                        href="https://www.facebook.com/TarekAssociatess/"
                        target="_blank"
                        class="facebook"
                        ><img
                          src="https://img.icons8.com/fluency/48/000000/facebook.png"
                      /></a>
                      <a
                        href="https://www.youtube.com/channel/UC5Vx5gKZpz9VNJh8iyMdf7A"
                        target="_blank"
                        class="google"
                        ><img
                          src="https://img.icons8.com/color/48/000000/youtube-play.png"
                      /></a>
                      <a
                        href="https://twitter.com/TarekAssociate2"
                        target="_blank"
                        class="twitter"
                        ><img
                          src="https://img.icons8.com/fluency/48/000000/twitter.png"
                      /></a>
                      <a
                        href="https://www.instagram.com/tarekassociates/"
                        target="_blank"
                        class="pinterest"
                        ><img
                          src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"
                      /></a>
                      <a
                        href="https://www.linkedin.com/company/tarek-associates-education-consultant-uk/"
                        target="_blank"
                        class="blog"
                        ><img
                          src="https://img.icons8.com/fluency/48/000000/linkedin.png"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- footer left end -->



          </div>
        </div>
      </div>
      <div class="copyright footer__bottom">
        <div class="container">
          <div class="row">
            <div
              class="
                copyright-text
                col-sm-12 col-md-12
                center-block
                footer__copyright
              ">
              © {{ new Date().getFullYear() }}  All rights reserved by <nuxt-link to="/" > Tarek Associates</nuxt-link>.
              <br />
              Design and Developed by
              <a href="https://www.thetork.com" target="_blank" style="color:#28e28e!important">Tork</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- whats'up boot -->
    <a
      href="https://api.whatsapp.com/send?phone=01321166550"
      target="_blank"
      class="wa_widget_container"
    >
      <div class="wa_widget_text">
        <span style="font-size: 12px"
          >Need Help? <br class="whatsapp_break" />
          <strong>Chat with us</strong></span
        >
      </div>
      <div class="wa_widget_icon">
        <svg
          width="56px"
          height="56px"
          class="nta-whatsapp-default-avatar"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
        > 
          <path
            style="fill: #ededed"
            d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
      S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"
          ></path>
          <path
            style="fill: #55cd6c"
            d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
      c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
      c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"
          ></path>
          <path
            style="fill: #fefefe"
            d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
      c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
      c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
      c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
      c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
      l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"
          ></path>
        </svg>
      </div>
    </a>
  </div>
</template>

<script>

export default {
  data() {
    return {
      form: { 
        title: "Subscription Email",
        email: "",
      },
      response_message: "",
    };
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },

    createUser: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
              },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
.socials img {
  width: 40px;
  margin-right: 5px;
}
.socials img:hover {
  transform: scale(1.3);
  transition: 1s;
}
.main-footer {
  position: relative;
  overflow: hidden;
  padding-top: 0px;
}
.footer-head-office {
  position: absolute;
}
.footer-email {
  min-height: 50px;
  width: 350px;
  border-radius: 25px 0px 0px 25px;
  border: none;
  background: #fbfbfb;
  color: black;
}
.footer-submit {
  border: none;
  min-height: 50px;
  border-radius: 0px 25px 25px 0px;
  background: #0000009e;
}

.footer-submit:hover {
  background: black;
  transition: 1.5s;
}
.email-footer {
  text-align: center;
}
.footer-form-title .form-title {
  font-weight: 700;
  text-align: center;
  margin: 60px 0 20px 0;
  font-size: 3rem;
}

/* footer lest style start */
.left-footer {
  margin-top: 3rem;
}
/* footer lest style start */
.left-footer ul{
	padding: 0px;
	font-size: 14px;
	font-weight: 700;
  margin-bottom: 20px;
}

.left-footer ul li a{
	color: #ffffff;
}

.footer-left-img img {
  width: 50%;
}
.footer-left-content p {
  color: white;
  margin-top: 1rem;
}

.social-heading {
  margin-top: 1rem;
}
.social-heading .title {
  font-size: 20px;
  font-weight: bold;
}

.socials img {
  width: 40px;
  margin-right: 5px;
}
.socials img:hover {
  transform: scale(1.3);
  transition: 1s;
}
/* footer lest style end */

/* footer right side style start */

.card_info {
  /* background: var(--base-gradient); */
  width: 100%;
  padding: 20px;
  color: white;
  /* box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%); */
  border-radius: 25px;
  overflow: hidden;
  padding: 10px 30px;
  margin-top: 3rem;
  font-size: 14px;
}

.card_info .info_heading {
  text-align: center;
  font-weight: 700;
}
.card_info .info_heading h4{
	font-size: 20px!important;
	font-weight: 700;
	margin-bottom: 30px;
	text-align: left;
}
.card_info .item {
  margin-bottom: 5px;
}
.card_info .item_title {
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
}
@media only screen and (max-width: 700px) {
}
/* footer right side style end */

footer.main-footer.footer {
  background: #08454c;
}
.footer__copyright {
  text-align: center;
  background: #14161f;
}
.footer__copyright a{
  color:#ffffff!important;
  font-weight: 600;
}



.widgetLabel1 {
  margin-right: 7px;
  z-index: 999999999 !important;
  white-space: nowrap;
  font-size: 13px;
  float: left;
  line-height: 56px;
  border-radius: 05px;
  padding: 0 15px;
  border: none;
  box-shadow: none;
  background: rgb(193 219 248) none repeat scroll 0% 0%;
  width: 156px;
  height: 56px;
}

.request-call-back-toggle {
  font-size: 14px !important;
  color: #000;
}

.wa_widget_container {
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  right: 30px;
  z-index: 999999999 !important;
}
.wa_widget_text {
  font-weight: 700;
  color: #ffffff;
  margin-right: 10px;
}
.wa_widget_icon {
  float: right;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  background: rgb(45, 183, 66);
  position: relative;
}
.wa_widget_container {
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 999999999 !important;
  display: flex;
  align-items: center;
}
.wa_widget_icon svg {
  margin: 0 auto;
  padding: 9px;
  position: absolute;
  right: 1px;
  top: 2px;
}
.footer__copyright {
  text-align: center;
  background: #14161f;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .wa_widget_icon {
  height: 44px;
  width: 44px;
}

  .wa_widget_icon svg {
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    right: -6px;
    top: -6px;
}
}


/* footer media query */
@media only screen and (max-width: 700px) {
  .main-footer .links {
    width: 100%;
}
.footer-email{
    width: 230px;
}

.footer-form-title .form-title{
    font-size: 1.9rem;
}


}

  @media only screen and (min-width: 375px) and (max-width: 667px){
    .footer-email{
    width: 200px;
}
  }

@media (min-width: 768px) and (max-width: 1024px){

  .footer-email{
    width: 250px;
}

}
/* @media (max-width: 639px)
.main-footer .links {
    width: 100%;
} */



</style>

