<template>

<!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

  <div>
    <header class="js-mainHeader main-header main-new-header">
      <nav class="navigation navigation--top hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="nav__left js-site-logo">
              <div class="col-xs-12 no-space yComponentWrapper">
                <div
                  class="yCmsContentSlot col-xs-12 no-space yComponentWrapper"
                >
                  <div class="simple-banner-component simple-banner">
                    <nuxt-link to="/">
                      <img
                        alt="Public Accelerator, State of Rosebud homepage"
                        src="~/assets/images/hybris-logo4a4a.jpg"
                    /></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <nav
        class="navigation navigation--middle js-navigation--middle vwo_sticky"
      >
        <div class="container-fluid">
          <div class="row desktop__nav">
            <div class="nav__left fl">
              <div class="row">
                <div class="hpsa-logo-block fl">
                  <div class="col-xs-12 no-space yComponentWrapper">
                    <div
                      class="
                        yCmsComponent
                        col-xs-12
                        no-space
                        yComponentWrapper
                        dsk_logo
                      "
                    >
                      <div class="simple-banner-component simple-banner">
                        <nuxt-link to="/"
                          ><img
                            alt="Tarek Associates Education, Open your world homepage"
                            src="~/assets/images/logo.png"
                        /></nuxt-link>
                      </div>
                    </div>
                    <nuxt-link to="/">
                      <img
                        src="~/assets/images/logo-mobile.png"
                        class="mob_logo"
                        alt="Tarek Associates Education, Open your world homepage"
                      />
                    </nuxt-link>
                  </div>
                </div>
                <div class="col-sm-1 hidden-xs visible-sm mobile-menu">
                  <button
                    title="Open Menu"
                    aria-label=""
                    class="js-toggle-sm-navigation header-menu-btn"
                    type="button"
                  >
                    <span class="glyphicon glyphicon-align-justify"></span>
                  </button>
                </div>
                <div class="search_area search_area_top fl" id="srchEvoke">
                  <div
                    class="site-search js-toggle-xs-search hidden-xs"
                    @click="showSearchOverlay"
                  >
                    <div class="yCmsComponent">
                      <div class="ui-front">
                        <div class="input-group">
                          <div class="srch_bx" title="Search">
                            <span>Type Courses, Universities & Colleges</span>
                            <span class="srchicon"
                              ><img src="~/assets/images/feather-search.svg"
                            /></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a
                    title="Close icon"
                    class="cls_icon"
                    href="javascript:void(0);"
                    ><img
                      src="~/assets/images/close-icon.png"
                      width="16"
                      height="16"
                      alt="Close icon"
                  /></a>
                </div>
              </div>
            </div>
            <div class="nav__right md-secondary-navigation">
              <ul class="nav__links nav__links--account pull-right user_area">
                <li @click="showSearchOverlay" class="mob-srch-icon">
                  <img
                    class="glyphicon-search"
                    src="~/assets/images/icon-mob-search.svg"
                    alt="mob-search"
                  />
                </li>

                <li class="partners">
                  <button
                    class="button book-appoinment-btn"
                    @click="showBookAppointment"
                  >Book Appointment
                  </button>
                </li>

                <div id="userLoginFlag" style="display: none">N</div>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="hidden-xs hidden-sm js-secondaryNavAccount collapse"
          id="accNavComponentDesktopOne"
        >
          <ul class="nav__links"></ul>
        </div>
        <div
          class="hidden-xs hidden-sm js-secondaryNavCompany collapse"
          id="accNavComponentDesktopTwo"
        >
          <ul class="nav__links js-nav__links"></ul>
        </div>
      </nav>
      <a id="skiptonavigation" tabindex="-1"></a>
      <div class="nav-new-mega-menu clearfix">
        <div class="nav-new-menu-items clearfix">
          <div class="mega-menu-bg clearfix">
            <ul
              class="mobile-structure clr navbar-left"
              @click="$bus.$emit('addMobileMenuClass')"
            >
              <li class="hamburger-icon fr js-toggle-sm-navigation">
                <img
                  class="ham_ic"
                  src="~/assets/images/ham.svg"
                  height="15"
                  width="18"
                  alt="Hamburger"
                />
                More
              </li>
            </ul>
            <nav
              class="
                navigation navigation--bottom
                js_navigation--bottom
                js-enquire-offcanvas-navigation
                nav
              "
              ref="mobileNavigation"
            >
              <ul
                class="
                  sticky-nav-top
                  hidden-lg hidden-md
                  js-sticky-user-group
                  hidden-md hidden-lg
                "
              >
                <li class="liUserSign">
                  <nuxt-link to="/">
                    <img
                      class="mob_nav_logo"
                      width="74"
                      height="30"
                      alt="Tarek Associates Education, Open your world homepage"
                      src="~/assets/images/logo-mobile.png"
                    />
                  </nuxt-link>
                  <div
                    class="close-nav"
                    @click="$bus.$emit('removeMobileMenuClass')"
                  >
                    <button
                      tabindex="0"
                      title="Close this Menu"
                      aria-label="Close Menu"
                      type="button"
                      class="js-toggle-sm-navigation btn"
                    >
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </li>
              </ul>
              <div class="navigation__overflow nav-new-menu p-unset">
                <ul
                  class="
                    nav__links nav__links--products
                    js-offcanvas-links
                    navbar-left
                    p-unset
                  "
                >
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/our-services"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                        >Our Services</nuxt-link
                      >
                    </span>
                    <div
                      class="
                        sub__navigation
                        js_sub__navigation
                        col-md-3 col-lg-2
                      "
                    >
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/one-to-one-counselling">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Service/One-to-One-Councelling.jpg"
                                    width="262"
                                    height="193"
                                    alt="Why choose tarek associates?"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/one-to-one-counselling"
                                    class="menu_img_button"
                                    >One to One Counselling</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/admission-support">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Service/Admission-Support.jpg"
                                    width="262"
                                    height="193"
                                    alt="Why choose tarek associates?"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/admission-support"
                                    class="menu_img_button"
                                    >Admission Support</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/visa-and-immigration">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Service/Visa-and-immigration.jpg"
                                    width="262"
                                    height="193"
                                    alt="Visa application assistance"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/visa-and-immigration"
                                    class="menu_img_button"
                                    >Visa and immigration</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/bangladesh"
                                  class="menu_img_button"
                                >
                                  Bangladesh</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link to="/india" class="menu_img_button"
                                  >India</nuxt-link
                                >
                              </div>
                            </li>
                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/south-africa"
                                  class="menu_img_button"
                                  >South Africa</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link to="/agent" class="menu_img_button"
                                  >Become Agent</nuxt-link
                                >
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/about-us"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                        >About Us</nuxt-link
                      >
                    </span>
                    <div
                      class="
                        sub__navigation
                        js_sub__navigation
                        col-md-3 col-lg-2
                      "
                    >
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/about-us">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/WhoWeAre/who-we-are.jpg"
                                    width="262"
                                    height="193"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/about-us"
                                    class="menu_img_button"
                                    >Who We Are?</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/message-director">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/WhoWeAre/Director.jpg"
                                    width="262"
                                    height="193"
                                    alt="Benefits of overseas study"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/message-director"
                                    class="menu_img_button"
                                    >Message from Director</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/meet-the-team">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/WhoWeAre/meet-our-team.jpg"
                                    width="262"
                                    height="193"
                                    alt="Steps to study abroad"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/meet-the-team"
                                    class="menu_img_button"
                                    >Meet the team</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link to="/stories" class="menu_img_button"
                                  >Story</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/testimonials"
                                  class="menu_img_button"
                                  >Testimonials</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link to="/career" class="menu_img_button"
                                  >Career</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link to="/faqs" class="menu_img_button"
                                  >FAQs</nuxt-link
                                >
                              </div>
                            </li>
                            <li class="yCmsComponent nav__link--secondary fnd_tl">
                              <div class="image-title">
                                <nuxt-link to="/privacy-policy" class="menu_img_button"
                                  >Privacy Policy</nuxt-link>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/institutions"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                        >Institutions</nuxt-link
                      >
                    </span>
                    <div
                      class="
                        sub__navigation
                        js_sub__navigation
                        col-md-3 col-lg-2
                      "
                    >
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/institution-category/university">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Institute/University.jpg"
                                    width="262"
                                    height="193"
                                    alt="Study in UK"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/institution-category/university"
                                    class="menu_img_button"
                                    >Universities</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/institution-category/college">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Institute/College.jpg"
                                    width="262"
                                    height="193"
                                    alt="Study in Canada"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/institution-category/college"
                                    class="menu_img_button"
                                    >Colleges</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/student-finance">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Institute/Finance.jpg"
                                    width="262"
                                    height="193"
                                    alt="Study in New Zealand"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/student-finance"
                                    class="menu_img_button"
                                    >Student Finance</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/courses"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                        >Courses</nuxt-link
                      >
                    </span>
                    <div
                      class="
                        sub__navigation
                        js_sub__navigation
                        col-md-3 col-lg-2
                      "
                    >
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link
                                to="/course-category/undergraduate-courses"
                              >
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Courses/undergraduate.jpg"
                                    width="262"
                                    height="193"
                                    alt="Find a university"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/course-category/undergraduate-courses"
                                    class="menu_img_button"
                                    >Undergraduate Courses</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link
                                to="/course-category/postgraduate-courses"
                              >
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Courses/Postgraduate.jpg"
                                    width="262"
                                    height="193"
                                    alt="Find a university"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/course-category/postgraduate-courses"
                                    class="menu_img_button"
                                    >Postgraduate Courses</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="
                                mgmnu_img
                                yCmsComponent
                                nav__link--secondary
                                fnd_tl
                              "
                            >
                              <nuxt-link to="/course-category/diploma-courses">
                                <div class="image-div">
                                  <img
                                    src="~/assets/images/Courses/diploma.jpg"
                                    width="262"
                                    height="193"
                                    alt="Scholarships"
                                  />
                                </div>
                                <div class="image-title">
                                  <nuxt-link
                                    to="/course-category/diploma-courses"
                                    class="menu_img_button"
                                    >Diploma Courses</nuxt-link
                                  >
                                </div>
                              </nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="sub-navigation-section col-md-12">
                          <ul class="sub-navigation-list">
                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/course-category/phd-dba-courses"
                                  class="menu_img_button"
                                >
                                  PhD/DBA Courses</nuxt-link
                                >
                              </div>
                            </li>

                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/course-category/professional-courses"
                                  class="menu_img_button"
                                  >Professional Courses</nuxt-link
                                >
                              </div>
                            </li>
                            <li
                              class="yCmsComponent nav__link--secondary fnd_tl"
                            >
                              <div class="image-title">
                                <nuxt-link
                                  to="/course-category/english-language"
                                  class="menu_img_button"
                                  >English Language</nuxt-link
                                >
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/gallery"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                      >
                        Gallery</nuxt-link
                      >
                    </span>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/blogs"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                      >
                        Blog</nuxt-link
                      >
                    </span>
                  </li>
                  <li
                    @mouseenter="openSubmenu"
                    @mouseleave="closeSubmenu"
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                      p-unset
                    "
                  >
                    <span class="yCmsComponent nav__link js_nav__link">
                      <nuxt-link
                        to="/contact-us"
                        class="main-menu"
                        active-class="active"
                        exact-active-class="exact-active"
                        >Contact Us</nuxt-link
                      >
                    </span>
                  </li>

                  <!-- less important -->
                  <li
                    class="
                      auto
                      nav__links--primary nav__links--primary-has__sub
                      js-enquire-has-sub
                    "
                  >
                    <div class="sub__navigation js_sub__navigation col-md-12">
                      <div class="row">
                        <div class="sub-navigation-section col-md-3">
                          <ul class="sub-navigation-list has-title"></ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- less important -->
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- top bar search overly start -->
    <div class="srch_ovly" id="search_overlay" ref="searchOverlay">
      <div class="nsrch_wrp nsrch_wrp_vw">
        <span
          class="glyphicon glyphicon-remove srcls"
          @click="hideSearchOverlay"
        ></span>
        <div class="get_in_touch_from">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="form_title">
                  <span
                    class="form_title_text top_bar_serch"
                    style="text-align: center"
                  >
                    Search Here ...
                  </span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group datepicker" id="date-picker-example">
                  <i class="fas fa-calendar input-prefix" tabindex="0"></i>
                  <input
                    type="text"
                    placeholder="Type Here..."
                    v-model="search_text"
                    class="form-control form-input contactus-input"
                    @keyup.enter="webPageSearch()"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="submit_button">
                  <button type="button" class="button" @click="webPageSearch()">
                    Search
                  </button>
                </div>
              </div>
              <div class="search_list col-md-12" v-if="search_data.courses && search_data.courses.length > 0">
                <h3>Courses</h3>
                <ul  @click="hideSearchOverlay" >
                  <li v-for="(item,index) in search_data.courses" :key="'course_'+index"><nuxt-link :to="'/course/' + item.slug">{{ item.title }}</nuxt-link></li>
                  
                </ul>
              </div>
              <div class="search_list col-md-12" v-if="search_data.institutions && search_data.institutions.length > 0">
                <h3>Institutions</h3>
                <ul  @click="hideSearchOverlay" >
                  <li v-for="(item,index) in search_data.institutions" :key="'institute_'+index"><nuxt-link :to="'/institution/' + item.slug">{{ item.name }}</nuxt-link></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- top bar search overly end -->

    
    <!-- book appointment -->
    <div class="appointment">
      <div class="srch_ovly" id="search_overlay" ref="bookAppointmentModal">
        <div class="nsrch_wrp nsrch_wrp_vw">
          <span
            class="glyphicon glyphicon-remove srcls"
            @click="hideBookAppointment"
          ></span>
          <div class="get_in_touch_from">
            <div class="container">
              <form @submit.prevent="sendEmail">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form_title">
                      <span class="form_title_text"> Book an Appointment </span>
                      <div
                        class="alert alert-success"
                        v-if="response_message != ''"
                      >
                        <p>{{ response_message }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group datepicker" id="date-picker-example">
                      <input v-model="form.title" type="hidden" />
                      <label class="control-label form-label"
                        >Name
                        <span class="highlight" id="userName-info"
                          >*</span
                        ></label
                      >
                      <i class="fas fa-calendar input-prefix" tabindex="0"></i>
                      <input
                        type="text"
                        placeholder="Full Name"
                        v-model="form.name"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Email
                        <span class="highlight" id="emailA-info">*</span></label
                      ><input
                        type="text"
                        placeholder="Email"
                        v-model="form.email"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Which english test you have taken ?
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <div class="custom-select">
                        <select
                          v-model="form.test"
                          class="form-control form-control-lg cus-select-form"
                        >
                          <option
                            class="cus-select-option"
                            selected="selected"
                            value=""
                          >
                            --Select One--
                          </option>

                          <option
                            class="cus-select-option"
                            selected="selected"
                            value="IELTS"
                          >
                            IELTS
                          </option>

                          <option class="cus-select-option" value="OIETC">
                            OIETC
                          </option>
                          <option class="cus-select-option" value="Duolingo">
                            Duolingo 
                          </option>
                          <option
                            class="cus-select-option"
                            value="MOI"
                          >
                           MOI
                          </option>
                          <option class="cus-select-option" value="Other">
                            Others
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Which subject are you interested in level of course ?
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <div class="custom-select">
                        <select
                          v-model="form.course"
                          class="form-control form-control-lg cus-select-form"
                        >
                          <option
                            class="cus-select-option"
                            selected="selected"
                            value=""
                          >
                            --Select One--
                          </option>

                          <option
                            class="cus-select-option"
                            selected="selected"
                            value="Undergraduation"
                          >
                            Undergraduation (UG)
                          </option>

                          <option class="cus-select-option" value="Postgraduation">
                            Postgraduation (PG)
                          </option>
                          <option class="cus-select-option" value="Foundation year">
                            Foundation Year
                          </option>
                          <option class="cus-select-option" value="Other">
                            Others
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Mobile Number
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        v-model="form.phone"
                        placeholder="Mobile Number"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Date
                        <span class="highlight" id="userName-info"
                          >*</span
                        ></label
                      >
                      <input
                        type="datetime-local"
                        v-model="form.date"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >How long do you need ?
                        <span class="highlight">*</span></label
                      >

                      <div class="custom-select">
                        <select
                          v-model="form.duration"
                          class="form-control form-control-lg cus-select-form"
                        >
                          <option
                            class="cus-select-option"
                            selected="selected"
                            value=""
                          >
                            --Select One--
                          </option>

                          <option
                            class="cus-select-option"
                            selected="selected"
                            value="15 minutes"
                          >
                            15 minutes
                          </option>

                          <option class="cus-select-option" value="OIETC">
                            30 minutes
                          </option>
                          <option class="cus-select-option" value="Duo Lingo">
                            45 minutes
                          </option>
                          <option
                            class="cus-select-option"
                            value="I plan to take one"
                          >
                            1 hour
                          </option>
                          <option class="cus-select-option" value="Other">
                            Others
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Appointment Location ?
                        <span class="highlight">*</span></label
                      >

                      <div class="custom-select">
                        <select
                          v-model="form.appointment"
                          class="form-control form-control-lg cus-select-form"
                        >
                          <option
                            class="cus-select-option"
                            selected="selected"
                            value=""
                          >
                            --Select Location--
                          </option>

                          <option
                            class="cus-select-option"
                            selected="selected"
                            value="UK office"
                          >
                            UK office
                          </option>

                          <option class="cus-select-option" value="Dhaka office">
                            Dhaka office
                          </option>
                          <option class="cus-select-option" value="Online meeting">
                            Online meeting
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Your Location/Division
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        v-model="form.location"
                        placeholder="Location/Division"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Nationality
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        v-model="form.nationality"
                        placeholder="Your Nationality"
                        class="form-control form-input contactus-input"
                      />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label form-label"
                        >Additional Information
                        <span class="highlight" id="company-info"
                          >*</span
                        ></label
                      >
                      <textarea
                        placeholder="Type here..."
                        v-model="form.info"
                        class="form-control form-input address_text"
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="submit_button">
                      <button type="submit" class="btn-block button">
                        Confirm Booking
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- book appointment end -->
  </div>
</template>

<script>

export default {
  data() {
    return {
      form: {
        title: "Book an Appointment",
        name: "",
        email: "",
        phone: "",
        date: "",
        duration: "",
        timeRange: "",
        appointment: "",
        location: "",
        nationality: "",
        test: "",
        course: "",
        info: "",
        subject: "Appoinment",
      },
      response_message: "",
      search_text: "",
      search_data: {},
      courses: [],
      institutions: [],
    };
  },
  mounted() {

    this.facebookMessenger();
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },
    facebookMessenger: function () {




       var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102856224614913");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    },

    sendEmail: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
            // Log error
            // console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
    openMobileMenu: function () {
      this.$emit("mainTag");
      this.$nuxt.$emit("open-contact-form");

      //   this.$root.$refs.mainTag.classList.toggle('offcanvas');
    },
    closeMobileMenu: function () {
      this.$refs.mobileNavigation.style.left = "-380px";
    },
    showSearchOverlay: function () {
      this.search_text = "";
      this.search_data="";
      this.$refs.searchOverlay.style.display = "block";
    },
    hideSearchOverlay: function () {
      this.$refs.searchOverlay.style.display = "none";
    },
    showBookAppointment: function () {
      this.$refs.bookAppointmentModal.style.display = "block";
    },
    hideBookAppointment: function () {
      this.$refs.bookAppointmentModal.style.display = "none";
    },

    openSubmenu: function (e) {
      if (!e.target.classList.contains("show-sub")) {
        e.target.classList.add("show-sub");
      }
    },
    closeSubmenu: function (e) {
      if (e.target.classList.contains("show-sub")) {
        e.target.classList.remove("show-sub");
      }
    },
    webPageSearch: async function () {
      let text = this.search_text;

      const [{ data: search_data }] = await Promise.all([
          useFetch(this.$config.baseApiURL + `/search?text=`+text)
          ]);
        this.search_data = search_data._value.data;
    },
    searchPrompt: function (defaultText, treatAsPhrase, textColor, bgColor) {
      console.log(defaultText);
      // This function prompts the user for any words that should
      // be highlighted on this web page
      if (!defaultText) {
        defaultText = "";
      }

      // we can optionally use our own highlight tag values
      if (!textColor || !bgColor) {
        let highlightStartTag = "";
        let highlightEndTag = "";
      } else {
        let highlightStartTag =
          "<font style='color:" +
          textColor +
          "; background-color:" +
          bgColor +
          ";'>";
        let highlightEndTag = "</font>";
      }
      let promptText = "";

      if (treatAsPhrase) {
        promptText = "Please enter the phrase you'd like to search for:";
      } else {
        promptText =
          "Please enter the words you'd like to search for, separated by spaces:";
      }

      let searchText = prompt(this.search_text, defaultText);

      console.log(searchText);

      if (!searchText) {
        alert("No search terms were entered. Exiting function.");
        return false;
      }

      return highlightSearchTerms(
        searchText,
        treatAsPhrase,
        true,
        highlightStartTag,
        highlightEndTag
      );
    },
  },
};
</script>

<style scoped>
@media (min-width: 1024px) {
  .nav__links--primary .main-menu {
    border-radius: 20px;
    margin: 5px 0;
  }
}

.nav__links--primary:hover .main-menu,
.nav__links--primary .main-menu:active,
.nav__links--primary .exact-active,
.nav__links--primary .active {
  transition: all 2s ease 0s;
  /* background: linear-gradient(to right, #0eb582 0%, #50b851 100%); */
  border-radius: 30px;
  text-decoration: underline;
}

.book-appoinment-btn {
  border-radius: 30px;
  line-height: 1.2;
  padding: 8px 40px;
  background: transparent linear-gradient(to right, #0eb566 1%, #120707 200%) 0%
    0% no-repeat padding-box;
  font-size: 18px;
  color: #ffffff;
}

/* Book appointment style start */

.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.content-page .left-panel {
  top: 0 !important;
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 100%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}

.left_img img {
  border-radius: 15px;
  margin-top: 15rem;
}
/* .container__full {
  width: 100%;
} */

/* @media (min-width: 1024px)  */

.container {
  /* width: 1400px; */
  width: 100%;
}
/* get-in-tuch-form start */
.get_in_touch_from {
  border-radius: 20px;
  overflow:hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}
.modal-body{
  overflow-y: overlay;
  max-height: 100vh;
}

.form_title {
  margin: 5px 0px 20px 0px;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}

/* select box style start */
/* .form-control .custom-select {
  position: relative;
  overflow: hidden;
} */
select.form-control.cus-select-form {
  height: 48px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
option.cus-select-option {
  font-size: 14px !important;
  padding: 10px 0px;
  border: none;
}
/* option.cus-select-option .selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  border-color: #fff transparent transparent transparent;
} */
/* Book appointment style end */

/* service animation img */
.service_animation .service_animation_img img {
  animation: zoom-in-zoom-out 2s ease infinite;
  transition: 1.5s;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* service animation img */

/* top header style start */

@media (max-width: 1440px) {
  .desktop__nav .nav__left {
    width: 899px !important;
  }
}

.search_area_top {
  float: none;
  margin: 10px 25px 0 25px;
}
.search_area .site-search .ui-front .input-group .srch_bx {
  border-bottom: 2px solid #999fab;
}

.get_in_touch_from .top_bar_serch {
  text-align: center !important;
}
/* top header style end */

.search_list h3{
  color: black;
}
.search_list ul{
  padding-left: 0px;
}


@media only screen and (max-width: 700px){
  .book-appoinment-btn {
    font-size: 14px!important;
    font-weight: 400;
}

.get_in_touch_from{
  padding: 20px 15px;
}
.form_title_text{
      font-size: 22px;
}

}


</style>
