<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="form_section_head">
					<div class="section_title">
						<span class="title">Contact Info</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="section_middle">
					<div class="section_content">
						<div class="section_content_img">
							<img
								src="~/assets/images/Service/1.gif"
								class=""
								alt=""
							/>
						</div>
						<div class="section_content_text">
							<h3 class="title">Address</h3>
							<br>
							<div> <strong>London Office :</strong></div>
							<div> NH.202 E1 Studio, 7 Whitechapel Road, London, E1 1DU </div>
							<br><div> <strong>Dhaka Office :</strong></div>
							<div> Sonartori Tower (6th Floor), 12 Sonargaon Road, Banglamotor, Dhaka-1000 </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="section_middle">
					<div class="section_content">
						<div class="section_content_img">
							<img
								src="~/assets/images/Service/2.gif"
								class=""
								alt=""
							/>
						</div>
						<div class="section_content_text">
							<h3 class="title">Contact</h3>
							<br>
							<div> <strong>London Office :</strong></div>
							<div>02045161434, +44(0)7891913041</div>
							<br><div> <strong>Dhaka Office :</strong></div>
							<div>+88029632750, +881321166550</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="section_middle">
					<div class="section_content">
						<div class="section_content_img">
							<img
								src="~/assets/images/Service/4.gif"
								class=""
								alt=""
							/>
						</div>
						<div class="section_content_text">
							<h3 class="title">Email</h3>
							<br>
							<div> <strong>London Office :</strong></div>
							<div>info@tarekassociates.co.uk</div>
							<br><div> <strong>Dhaka Office :</strong></div>
							<div>dhaka@tarekassociates.co.uk</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
	};
</script>

<style scoped>

.container {
  width: 100%;
}

.section_content_img img {
  border-radius: 10px;
  overflow: hidden;
}

.form_section_head {
  display: flex;
  overflow: hidden;
  padding: 20px;
}
.form_section_head .icon_img img {
  height: 30px;
}
.section_title .title {
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin-left: 20px;
}
.section_middle {
  display: flex;
  overflow: hidden;
}
.section_content {
  text-align: center;
  padding: 15px 10px 15px 30px;;
  display: flex;
  align-items: center;
}
.horizontal_line {
  border: 1px solid black;
  height: 70px;
  margin-top: 40px;
}
.section_content .section_content_img img {
  width: 50px;
  height: auto;
}
.section_content_text {
  color: white;
  margin-left: 20px;
  text-align: left;
}
.section_content_text .title {
  font-size: 20px;
  font-weight: 600;
}

.section_content_img {
	min-width: 50px;
}
</style>

