<template>
  <div class="container">
    <div class="row">
      <div class="blog-card">
        <nuxt-link :to="'/blog/' + data.slug">
        <div class="col-sm-12 col-md-12">
          <div class="card-thumbnail-img">
            <!-- <div class="card_img" :style="{ background: 'url(' + banner + ')' }" /> -->
            <img :src="$config.storagePath + data.banner" alt="" />
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          <div class="card-details">
            <h4 class="title">
              
              {{
                data.title.toString().length > 48
                  ? data.title.substring(0, 48) + "..."
                  : data.title
              }}
              
              </h4>
            <span class="card_date"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 20 21"
                fill="none"
              >
                <path
                  opacity="0.3"
                  d="M19 3.40002C18.4 3.40002 18 3.80002 18 4.40002V8.40002H14V4.40002C14 3.80002 13.6 3.40002 13 3.40002C12.4 3.40002 12 3.80002 12 4.40002V8.40002H8V4.40002C8 3.80002 7.6 3.40002 7 3.40002C6.4 3.40002 6 3.80002 6 4.40002V8.40002H2V4.40002C2 3.80002 1.6 3.40002 1 3.40002C0.4 3.40002 0 3.80002 0 4.40002V19.4C0 20 0.4 20.4 1 20.4H19C19.6 20.4 20 20 20 19.4V4.40002C20 3.80002 19.6 3.40002 19 3.40002ZM18 10.4V13.4H14V10.4H18ZM12 10.4V13.4H8V10.4H12ZM12 15.4V18.4H8V15.4H12ZM6 10.4V13.4H2V10.4H6ZM2 15.4H6V18.4H2V15.4ZM14 18.4V15.4H18V18.4H14Z"
                  fill="black"
                />
                <path
                  d="M19 0.400024H1C0.4 0.400024 0 0.800024 0 1.40002V4.40002C0 5.00002 0.4 5.40002 1 5.40002H19C19.6 5.40002 20 5.00002 20 4.40002V1.40002C20 0.800024 19.6 0.400024 19 0.400024Z"
                  fill="black"
                />
              </svg>

              {{ data.published_at }}</span
            >
            <p class="blog_short_details">
              {{
                data.short_description.toString().length > 115
                  ? data.short_description.substring(0, 115) + "..."
                  : data.short_description
              }}
            </p>
            <button class="button">
              <span>Read More</span>
            </button>
          </div>
        </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: { data: Object },
};
</script>

<style scoped>
/* blog card style start */
.container {
  width: 100%;
}
.blog-card {
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  overflow: hidden;
  perspective: 1px;
  margin-bottom: 20px;
  padding: 20px 10px;
}

.card-details .title {
  /* margin: 10px 0px !important; */
  font-weight: bold;
  /* height: 40px; */
}
span.card_date {
  font-size: 14px;
  line-height: 1.6;
}
p.blog_short_details {
  font-size: 15px !important;
}

.card-thumbnail-img img {
  border-radius: 15px !important;
}

/* blog card style end */

.card {
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  perspective: 1px;
  margin-bottom: 20px;
}

.card-details {
	margin: 15px 0px;
}

.card_left {
  width: 100%;
}
.card_left img {
  height: 100%;
}
.card_info {
  width: 100%;
  padding: 0px 20px;
}

.blog_date {
  font-size: 12px;
}
.info_heading_ {
  margin-top: 15px;
}
.info_heading_ h4 {
  color: black;
  font-weight: bold;
}
.blog_date svg {
  margin-right: 5px;
}

/* blog card style start */

.card {
  display: flex;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  overflow: hidden;
  perspective: 1px;
  height: 265px;
  margin-bottom: 20px;
}
.short-description {
  height: 80px;
}
.item {
  margin: 10px 0px 0px 0px;
}
.blog_short_details {
  font-size: 14px;
}
.read-more {
  display: block;
  margin: 15px 0px;
}

@media only screen and (max-width: 700px) {
  .card {
    box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
    border-radius: 25px;
    overflow: hidden;
    perspective: 1px;
    display: block;
  }
}
</style>
