<template>
  <div class="col-xs-12 col-sm-6 col-md-4 content-landing-page">
    <div class="fnd_tl">
      <nuxt-link :to="slug">
        <div class="overlay"></div>
        <img :src="$config.storagePath+banner" />
        <div class="image-title">
          <div class="title">{{ title }}</div>
          <nuxt-link :to="slug" class="button">See Details</nuxt-link>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    banner: String,
    slug: String,
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 10px;
}
.fnd_tl .image-title {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  z-index: 997;
  margin-bottom: 3rem;
}
.image-title .title {
  margin-bottom: 1rem;
}
.fnd_tl a {
  display: inline-block;
  position: relative;
  /* margin: 10px; */
  border-radius: 10px;
  overflow: hidden;
}
.fnd_tl a:hover .image-title {
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}

.fnd_tl {
  margin: 0px 5px;
  margin-bottom: 10px;
}

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: linear-gradient(to bottom, #000f04 0%, #000000 100%);
  z-index: 900;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.content-landing-page {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 0;
}
</style>