<template>
  <div class="yCmsContentSlot left-panel">
    <div class="blog_img">
        <img :src="$config.storagePath + data.banner" />
    </div>
    <div class="yCmsComponent single_blog_content">
      <div class="content">
        <div class="page-header">
              <h1 class="page-title">{{ data.title }}</h1>
          </div>
        <div class="html-editor-text" v-html="data.description"></div>
      </div>
    </div>  
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
  props: {
    data: Object,
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
