<template>

  <div>
    <div class="home-page">
      <div class="image-section">
        <div class="playItemsContainer" @click="$bus.$emit('playVideo',data.embed_link)">
          <h2 style="display: none">
            <span> {{ data.title }}</span>
          </h2>
          <div class="video-link">
            <img :src="$config.storagePath+data.banner" />

            <div class="list-header-name">
              <div class="name">
                <strong :title="data.title">
                  {{
                data.title.toString().length > 30
                  ? data.title.substring(0, 30) + "..."
                  : data.title
              }}
                </strong>
              </div>
              <span class="designation" :title="data.designation">
                {{
                data.designation.toString().length > 40
                  ? data.designation.substring(0, 40) + "..."
                  : data.designation
                  }}
              </span>
            </div>
            <div class="playBtn sprite sprite-play_btn">
              <button>
                <img src="~/assets/images/youtube.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  props: {
    data: Object,
  },
  
};
</script>
<style scoped>
/* service style start */

.playItemsContainer {
	cursor: pointer;
}
.image-content:hover {
  transform: scale(1.2);
  overflow: hidden;
  transition: 1.5s;
  z-index: 999;
}
.image-content :hover .common-text .services-custom {
  font-weight: 900;
  color: var(--base-color);
  transition: 1s;
}

/* service style end */

/* testimonial style  */
/* .services-custom{ margin-top: -22px !important; } */
#carouselList .col-xs-12 .col-sm-3 {
  padding-bottom: 10px !important;
}

.see_more_btn {
  float: right;
  font-size: 18px;
  background: 0 0;
  color: linear-gradient(to right, #0eb582 0%, #50b851 100%);
  text-decoration: none;
  outline: 0 !important;
  padding-right: 10px;
  font-weight: 700;
}
.see_more_btn:hover {
  color: #50b851;
}
.view_all_ans {
  margin-top: 15px !important;
}

/* from design */
.static_banner {
  background: none;
}
.form-control {
  border-radius: 15px !important;
  border: 1px solid #b8bbc677;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 6rem;
}
.content-page .left-panel {
  /* top: -185px !important; */
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 65%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}
.left_img img {
  border-radius: 15px;
}
.static_banner {
  min-height: 245px;
}

.fnd_tl img {
  border-radius: 10px;
}
.playBtn button {
  display: inline-block;
  position: relative;
  /* margin: 10px; */
  border-radius: 20px;
  overflow: hidden;
  background: none;
  box-shadow: none !important;
  border: none;
}

/* student review section style start */
.image-section {
  position: relative;
  margin-bottom: 22px;
  height: 270px !important;
  background: var(--base-color);
  border-radius: 20px;
  overflow: hidden;
}
.image-section img {
  height: auto;
  width: 100%;
}
.list-header-name {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #ffffff !important;
  z-index: 111;
  font-size: 18px;
  font-weight: 300;
  font-weight: 400;
  line-height: 1.222;
}
.list-header-name .name {
  font-size: 18px;
}
.list-header-name .designation {
  font-size: 14px;
}
.playBtn {
  position: absolute;
  /* display: none; */
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: -5px -231px;
}
.playBtn button {
  display: inline-block;
  position: relative;
  /* margin: 10px; */
  border-radius: 20px;
  overflow: hidden;
  background: none;
  box-shadow: none !important;
  border: none;
}
/* student review section style end */
</style>