<template>
 <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="team_section">
          <div class="playItemsContainer">
            <div class="team-member-image">
              <img :src="$config.storagePath+data.image" />
            </div>
            <div class="list-header-name">
              <div class="name"><strong>{{data.name}}</strong></div>
              <div class="designation">{{data.designation}}</div>
              <div class="email">{{data.email}}</div>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
export default {
  props: {
    data : Array,
  },
};
</script>
<style scoped>

.team_section {
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
.team-member-image {
  overflow: hidden;
}
.team-member-image:hover img {
  transform: scale(1.1);
  transition: all 1.5s ease;
}
.list-header-name {
  padding: 15px;
  position: relative;
  height: 140px;
  text-align: center;
}
.list-header-name .name {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.list-header-name .designation {
  font-size: 14px;
  margin-bottom: 10px;
}
</style>