<template>
  <li class="vidqa_sldrli">
    <div class="vidqa_pd">
      <div class="vidqa_cnt">
        <div class="vidqa_uni">
          <div class="vidqa_unilogo">
            <img :src="$config.storagePath+data.avatar" class="lazy-loaded" />
          </div>
          <div class="vidqa_unicnt">
            <h2>{{ data.name }}</h2>
            <p>{{ data.university }}</p>
          </div>
        </div>
        <div class="vid_trans">
          <p class="vid_trnscnt" id="transText7">
            {{ data.quote }}
          </p>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    data: Object,
  },
};
</script>
<style scoped>
.vidqa_sldrli .vidqa_cnt{
    position: relative;
    padding: 2rem 4rem;
    background: #242c42;
    color: white;
    border-radius: 20px;
}
.vidqa_sldrli .vidqa_cnt .vidqa_uni {
  position: static;
  /* align-items: inherit; */
  display: flex;
  align-items: center;
  bottom: 15px;
  /* left: 15px; */
  width: calc(100% - 30px);
}

.vidqa_sldrli .vidqa_cnt .vid_trnscnt {
  color: black !important;
}

.vid_trans .vid_transcrpt {
  font-size: 18px;
  margin: 28px 10px 0 0;
  color: #1d1f2b;
  font-weight: 700;
  font-family: "BuenosAires-Bold";
}
.vidqa_sldrli .vidqa_cnt .triangle :before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #555;
}
.vidqa_sldrli .vidqa_cnt .vid_trans .vid_trnscnt {
  font-size: 15px;
  color: #ffffff!important;
  padding-top: 10px;
  padding: 0px;
  margin-top: 20px;
}
.vidqa_sldrli {
  min-width: 270px !important;
  min-height: 10rem;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}

.vidqa_sldrli img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  margin-right: 20px;
}
.vidqa_sldrli p {
  letter-spacing: -0.025em;
  font-size: 12px;
  
  color: #ffffff;
}

.vidqa_sldrli h2 {
  color: #ffffff;
  font-size: 22px;
  
  letter-spacing: -0.025em;
  line-height: 32px;
  margin-bottom: 0;
}

@media only screen and (max-width: 700px){
  .vidqa_sldrli{
    margin: 0px !important;
  }

  .vidqa_sldrli .vidqa_cnt {
    padding: 2rem 3rem;
}
  .vidqa_sldrli .vidqa_cnt .vidqa_uni{
    width: 100% !important;
  }
}

  @media only screen and (min-width: 375px) and (max-width: 667px){
.vidqa_sldrli{
    margin: 0px !important;
  }
  }
</style>