/*-- Home page common styles starts here --*/


.home-container {
    max-width: 1170px;
    margin: 60px auto !important;
    /* font-size: 36px; */


    font-weight: 300;
  }
  .home-page {


    font-weight: 300;
  }



  .home-curated-greyBg {
    background-color: #f2f3f7;
    width: 100%;
  }
  .homepage .home-curated-greyBg.row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .homepage .paralex-blue {
    position: absolute;
    float: right;
    right: 75px;
    top: -50px;
    z-index: 111;
  }
  .sprite_blue.sprite-blue-parallel {
    width: 131px;
    height: 146px;
  }
  .sprite.sprite-green-parallel {
    width: 131px;
    height: 146px;
    background-position: -354px -16px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .homepage .paralex-green {
    position: absolute;
    float: right;
    right: 1080px;
    top: -55px;
  }
  .homepage .home-page li {
    padding-right: 10px;
    padding-left: 0;
    width: 100%;
    list-style-type: initial;
    color: transparent;
    padding-right: 0px !important;
  }
  .home-curated-container {
    max-width: 1170px;
    margin: 0 auto !important;
  }
  .homepage a.view-more {
    font-size: 18px;
    margin-top: 10px;


    font-weight: 700!important;
    background: linear-gradient(to right, #0eb582 0%, #50b851 100%);
    background: transparent !important;
    float: right;
    letter-spacing: -0.025em;
    padding-right: 15px;
    background-repeat: no-repeat;
  }
  .homepage a.view-more:after {
    content: " ";
    background-position: -448px -180px;
    width: 6px;
    height: 11px;
    
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: 15px;
  }
  .homepage a.view-more:hover {
    color: var(--secondary-color) !important;
    background: transparent !important;
  }
  h2 {


    font-weight: 400;
    color: #1d202c;
    font-size: 28px;
    
    letter-spacing: -0.025em;
    line-height: 32px;
  }
  p {
    
    letter-spacing: -0.025em;
    font-size: 18px;
    margin: 0 0 1em;
    line-height: 1.4285em;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    p {
      font-size: 16px;
    }
    h2 {
      font-size: 22px;
    }
  }
  .more-videos a {
    font-size: 18px;


    font-weight: 700!important;
    color: #0086f8;
    float: right;
    padding-right: 20px;
    letter-spacing: -0.05em;
    font-weight: bold;
  }
  .more-videos a:after {
    content: " ";
    background-position: -448px -180px;
    width: 6px;
    height: 11px;
    
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: 15px;
  }
  .more-videos a:hover {
    color: var(--secondary-color) !important;
    background: transparent !important;
  }
  .content h2 {
    margin-bottom: 15px;
  }
  /*-- Home page common styles ends here --*/
  /*-- Home page carousel starts here --*/
  .homepage .homepageCarousel .slick-prev,
  .homepage .homepageCarousel .slick-next {
    opacity: 0.4;
    height: 30px;
    width: 30px;
  }
  .homepage .homepageCarousel .slick-prev {
    left: 15px;
  }
  .homepage .homepageCarousel .slick-next {
    right: 15px;
  }
  .homepage .homepageCarousel img {
    position: relative;
  }
  .homepage .homepageCarousel .banner-text {
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1111;
  }
  .homepage .homepageCarousel .banner-text .center-content {
    margin: 0 auto;
    width: 1170px;
  }
  .homepage .homepageCarousel .carouselTitle {
    font-size: 45px;


    font-weight: 400;
    color: #ffffff;
    width: 650px;
    position: relative;
    height: auto;
    font-weight: normal;
    letter-spacing: -0.025em;
    margin-bottom: 5px;
  }
  .homepage .homepageCarousel .bnr_stle {
    width: 650px;


    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    margin-top: 0px;
    letter-spacing: -0.025em;
    
  }
  .homepage .homepageCarousel .carouselLink {
    font-size: 18px;


    font-weight: 300;
    color: #ffffff;
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    height: 45px;
  }
  .homepage .homepageCarousel .carouselLink a {
    display: inline-block;
    color: #ffffff;
    border-radius: 25px;
    background: url(../images/right-arrow-white.png) 94% 45% no-repeat, linear-gradient(to right, #e11937 0%, #ff8300 100%);
    font-size: 18px;
    line-height: 2.444;
    padding-right: 50px;
    padding-left: 15px;
    letter-spacing: -0.025em;
    border: inherit !important;
    position: relative;
  }
  .homepage .homepageCarousel .carouselLink a span {
    display: none;
  }
  .homepage .homepageCarousel .carouselLink a:hover {
    background: url(../images/right-arrow-white.png) 94% 45% no-repeat #ff8300;
  }
  .homepage .homepageCarousel .carouselLink h3 {
    font-weight: normal;
    display: inline;
    font-size: 18px;
    font-weight: 300;
  }
  @media (min-width: 640px) {
    .homepage .homepageCarousel .banner-text {
      top: 77px;
    }
    .homepage .homepageCarousel .carouselTitle {
      line-height: 60px;
    }
    .homepage .homepageCarousel .carouselLink {
      margin-top: 36px !important;
    }
  }
  @media (min-width: 1024px) {
    .homepage .homepageCarousel {
      min-height: 500px;
    }
  }
  @media (max-width: 1024px) {
    .homepage .homepageCarousel {
      min-height: 320px;
    }
    .homepage .homepageCarousel .banner-text {
      padding-left: 40px;
    }
    .homepage .homepageCarousel .banner-text .center-content {
      padding-left: 28px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .homepageCarousel .slick-track {
      height: 320px;
    }
    .homepage .homepageCarousel .banner-text .center-content {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .homepage .homepageCarousel img {
      height: 320px;
      width: 100%;
      object-fit: cover;
      object-position: right;
    }
    .homepage .homepageCarousel .banner-text {
      bottom: 50px;
      padding: 0 15px !important;
      width: 100%;
    }
    .homepage .homepageCarousel .banner-text .center-content {
      width: 100%;
      padding: 0!important;
    }
    .homepage .homepageCarousel .carouselTitle {
      font-size: 32px !important;
      line-height: 40px;
      margin-left: 0;
      width: 100%;
    }
    .homepage .homepageCarousel .bnr_stle {
      font-size: 22px;
      margin-left: 0;
      width: 100%;
      line-height: 32px;
    }
    .homepage .homepageCarousel .carouselLink {
      font-size: 14px;
    }
    .homepage .homepageCarousel .carouselLink a {
      margin-top: 15px;
      width: 100%;
    }
    .homepage .slick-track {
      height: auto;
    }
    .homepage .slick-arrow {
      display: none !important;
    }
  }
  /*-- Home page carousel ends here --*/
  /*-- Home page video banner starts here --*/
  .hero_video_wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .hero_video_wrapper .hero_video_player {
    overflow: hidden;
    position: relative;
    
    height: 570px;
  }
  .hero_video_wrapper .hero_video_player video {
    width: 100%;
    height: 570px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
  }
  .hero_video_wrapper .video_banner-text {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 15;
    color: #FFF;
    padding: 20px;
    width: 100%;
  }
  .hero_video_wrapper .video_banner-text .video-content {
    width: 1170px;
    margin: 0 auto;
  }
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap {
    /* width: 650px; */
    float: right;
  }

@media only screen and (max-width: 600px) {
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap {
    /* width: 650px; */
    float:none;
  }



}

  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .video_bnr_title {
    font-size: 60px;


    font-weight: 300;
    color: #ffffff;
    position: relative;
    font-weight: normal;
    letter-spacing: -0.05em;
    margin-bottom: 5px;
  }
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .video_bnrsub {


    font-weight: 300;
    color: #ffffff;
    font-size: 26px;
    margin: 0 0 30px;
  }

  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .videoBtn{
    box-sizing: border-box;

  }
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .vid_link {
    display: inline-block;
    color: #ffffff;
    border-radius: 25px;
    background: linear-gradient(to right, #0eb582 0%, #50b851 100%);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2.444;
    padding-right: 50px;
    padding-left: 15px;
    letter-spacing: -0.025em;

    border: inherit !important;


    font-weight: 300;
    position: relative;
    text-align: left;
  }
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .vid_link span.glyphicon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
  .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .vid_link:hover {
    background: #0eb582;
  }
  @media (max-width: 900px) {
    .hero_video_wrapper .hero_video_player {
      height: auto;
    }
    .hero_video_wrapper .hero_video_player video {
      height: auto;
    }
    .hero_video_wrapper .video_banner-text {
      position: static;
      z-index: 15;
      color: #FFF;
      padding: 30px 20px;
      background: #1c1f2a;
    }
    .hero_video_wrapper .video_banner-text .video-content {
      width: 100%;
    }
    .hero_video_wrapper .video_banner-text .video-content .vid_textwrap {
      width: 100%;
    }
    .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .video_bnr_title {
      color: #fff;
      font-size: 15px;
      line-height: 20px;
      margin-left: 0;
      width: 100%;
    }
    .hero_video_wrapper .video_banner-text .video-content .vid_textwrap .video_bnrsub {
      color: #fff;
      font-size: 20px;
      margin-left: 0;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  /*-- Home page video banner ends here --*/
  /*--- Card section starts here --*/
  @media (min-width: 640px) {
    .homepage .carousel-parent {
      margin: 0 auto;
      max-width: 1170px;
    }
  }
  .homepage .carousel-parent {
    position: relative;
    bottom: 0;
    margin-bottom: 70px;
    justify-content: center;
    margin-top: -125px;
    padding-left: 0px;
    display: flex;
}
  .homepage .carouselComponents {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0;
    max-width: 1000px;
}
  .homepage .carouselComponents .image-content {
    width: 33.3%;
    display: inline-block;
    padding: 0;
    box-shadow: 0px 0px 15px 5px rgba(9, 9, 9, 0.2); 
    /* background: #ffffffc2; */
    background: #08454c;
    margin-right: 20px;
    border-radius: 20px;
  }
  .homepage .carouselComponents .image-content:last-child {
    margin-right: 0;
  }
  .homepage .carouselComponents .image-content .list-container {
    margin: 0;
    padding: 0px;
  }
  .homepage .carouselComponents .image-content .carousel-list {
    padding: 0px !important;
    margin: 0px !important;
  }
  .homepage .carouselComponents .image-content .carousel-list li {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

  }
  .homepage .carouselComponents .image-content .carousel-list .left-box > div {
    padding: 0;
    border-radius: 50px;
  }
  .homepage .carouselComponents .image-content .carousel-list .carousel-boxes {
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0 0 0!important;
    border-radius: 50px;
  }
  .homepage .carouselComponents .image-content .carousel-list .carousel-boxes .common-text {
    display: block;
    margin-top: 8px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    padding-bottom: 20px;
    color: #717583;


    font-weight: 300;
  }
  .homepage .carouselComponents .image-content .carousel-list .carousel-boxes .common-text .carousel-image-holder {
    text-align: center;
    margin-top: -5px;
  }
  .homepage .carouselComponents .image-content .carousel-list .carousel-boxes .common-text .carousel-image-holder + div {
    padding: 0 50px 0 50px;
    margin-top: 12px;
  }
  .homepage .carouselComponents .image-content .carousel-list .carousel-boxes .common-text .carousel-image-holder + div .content {
    color: #474a57;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 19.99px;
    margin-top: 0;
    width: 100%;
    font-size: 24px !important;
    padding: 0 10px 3px 10px;

  }
  .homepage .carouselComponents .image-content img {
    display: inline-block;
    width: auto !important;
    height: 60px !important;
    margin: 10px;
    border-radius: 6px;
}
  .homepage .carouselComponents .image-content .img_hd {
    margin: 20px 0 10px 0!important;
  }
  .homepage .carouselComponents .image-content .content {
    font-weight: 700;
    color: #ffffff;
    line-height: 1.154;
    
    width: 100%;
    letter-spacing: -0.025em;
    font-size: 21px !important;
    margin: 13px 0;
    padding: 10px;
}
  .homepage .carouselComponents .image-content .home-page-box .sub-item-Institutions {
    width: 100%;
    float: left;
    padding: 0 20px 10px 20px;
    margin: 5px 0 0 0;
  }
  .homepage .carouselComponents .image-content .home-page-box .sub-item-Institutions li {
    text-align: left;
    float: left;
    position: relative;
    padding-left: 0!important;
    width: auto!important;
    margin: 0 9px 10px 0;
  }
  .homepage .carouselComponents .image-content .home-page-box .sub-item-Institutions li a {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 3px 15px;
    background: #fff;
    border-radius: 20px;
    font-size: 15px;
    border: solid 1px #636468;
    color: #636468;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .homepage .carouselComponents .image-content .home-page-box .sub-item-Institutions li a:hover {
    background: linear-gradient(to right, #0eb582 0%, #50b851 100%);
    color: #fff;
    background: linear-gradient(to right, #0eb582 0%, #50b851 100%);
  }
  @media (min-width: 768px) {
    .homepage .carouselComponents.landView {
      display: flex;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .carousel-parent {
      width: 100% !important;
      margin: 20px 0 10px 0!important;
    }
    .homepage .carousel-parent .carouselComponents {
      width: 100% !important;
      padding: 0 15px;
    }
    .homepage .carousel-parent .carouselComponents .image-content {
      width: 32.33%;
      margin-right: 10px!important;
    }
  }
  @media (max-width: 767px) {
    .homepage .carousel-parent {
      background-color: #f2f3f7;
      padding: 40px 0 30px 0;
      float: left;
      margin: 0 0 50px!important;
      max-width: 100% !important;
    }
    .homepage .carousel-parent .carouselComponents {
      margin: 0 auto;
      padding: 0 20px 0 20px;
      position: relative;
      top: 0;
      margin-top: 0;
      text-align: center;
    }
    .homepage .carousel-parent .carouselComponents .image-content {
      display: inline-block;
      width: 100% !important;
      margin-bottom: 10px;
    }
    .homepage .carousel-parent .carouselComponents .image-content .home-page-box .home-page-innerbox .col-xs-9 {
      width: 100%;
    }
    .homepage .carousel-parent .carouselComponents .image-content .carousel-list .carousel-boxes .common-text .carousel-image-holder + div {
      margin-top: 10px;
      padding: 0 15px 30px 20px;
      text-align: left;
    }
    .homepage .carousel-parent .carouselComponents .image-content .carousel-list .carousel-boxes .common-text .carousel-image-holder + div .content {
      padding: 0 0px 10px;
    }
  }
  /*--- Card section ends here --*/
 
  .homepage .hero-features.mediawrapper .cardcompomemt {
    width: 33.3%;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing {
    padding: 10px 5px;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section {
    position: relative;
    width: 100%;
    height: auto;
    transition: all .3s;
    background: #f2f3f7;
    padding-bottom: 10px;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section img {
    width: 100%;
    height: 100%;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description {
    min-height: 225px;
    background: #f2f3f7;
    padding: 15px;
    color: #1d202c;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .common-text {
    color: #717583;
    letter-spacing: -0.05em;
    font-size: 20px;
    line-height: 26px;


    font-weight: 400;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .common-text a {
    color: #0086f8;
    transition: all .4s;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .advice-description {
    padding: 0;
    font-size: 16px;
    color: #474a57;
    line-height: normal;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button {
    margin-top: 30px;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button .link-button-vas {
    font-size: 16px;


    font-weight: 300;
    color: var(--secondary-color);
    line-height: 1.375;
    height: 1;
    padding-top: 8px;
    border: 1px solid #d5d7df;
    background-color: #ffffff;
    border-radius: 20px;
    width: auto;
    padding: 5px 5px 5px 15px;
    margin: 0 10px 10px 0;
    min-width: 140px;
    transition: all .4s;
    position: static;
    float: right;
    display: flex;
    align-items: center;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button .link-button-vas .link-button-vas-content {
    min-width: 100px;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button .link-button-vas img {
    margin-left: 12px;
    width: auto;
    height: initial;
    padding-right: 5px;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button .link-button-vas:hover {
    background: #a4a7a9;
    color: #fff;
  }
  .homepage .hero-features.mediawrapper .cardcompomemt .content-landing .image-section .image-description .vas-link-button .link-button-vas:hover img {
    filter: brightness(200%);
  }
  @media (max-width: 767px) {
    .homepage .hero-features.mediawrapper .cardcompomemt {
      width: 100%;
    }
  }
 
  /*-- Dynamic testimonial(Video) POD starts here --*/

  .homepage .testimonial .testimonial-video {
    margin-bottom: 12px;
  }
  .homepage .testimonial .testimonial-video .image-section {
    position: relative;
    width: 370px;
    margin-bottom: 22px;
    height: 270px !important;
    background: var(--base-gradient);
    border-radius: 20px;
    overflow: hidden;
  }
  .homepage .testimonial .testimonial-video .image-section .playItemsContainer {
    height: 270px;
  }
  .homepage .testimonial .testimonial-video .image-section img {
    height: auto;
    filter: alpha(opacity=80);
    width: 100%;
  }
  .homepage .testimonial .testimonial-video .image-section .list-header-name {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #ffffff !important;
    z-index: 111;
    font-size: 18px;


    font-weight: 300;
    font-weight: 400;
    line-height: 1.222;
  }

  .list-header-name .name{
    font-size: 18px;
  }
  
  .list-header-name .designation{
    font-size: 14px;
  }
  .homepage .testimonial .testimonial-video .image-section .playItemsContainer .playBtn {
    position: absolute;
    /* display: none; */
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 88px;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: -5px -231px;
  }
  .homepage .testimonial .testimonial-video .image-section .playItemsContainer:hover .playBtn {
    display: block;
  }
  .homepage .testimonial.title .content {


    font-weight: 400;
    color: #1d202c;
    font-size: 28px;
    
    letter-spacing: -0.025em;
    font-weight: normal !important;
    line-height: 32px;
  }
  .homepage .testimonial .more-videos a {
    font-size: 18px;


    font-weight: 700!important;
    color: #0086f8;
    float: right;
    padding-right: 20px;
    letter-spacing: -0.05em;
    font-weight: bold;
  }
  .homepage .testimonial .more-videos a:after {
    content: " ";
    background-position: -448px -180px;
    width: 6px;
    height: 11px;
    
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: 15px;
  }
  .homepage .testimonial .more-videos a:hover {
    color: var(--secondary-color) !important;
    background: transparent !important;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .testimonial {
      padding: 0 15px;
    }
  }
  .homepage .testimonial .testimonial-title .yComponentWrapper {
    padding: 0 !important;
  }
  @media (max-width: 767px) {
    .homepage .testimonial {
      padding: 0px 15px;
    }
    .homepage .testimonial .testimonial-title .yComponentWrapper {
      padding: 0 !important;
    }
    .homepage .testimonial .testimonial-video .image-section {
      width: 100%;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .homepage .testimonial .testimonial-video .col-sm-6 {
      width: 49%;
      float: left;
      margin: 0 2% 5px 0;
    }
    .homepage .testimonial .testimonial-video .col-sm-6:nth-child(even) {
      margin-right: 0;
    }
  }
  /*-- Dynamic testimonial(Video) POD ends here --*/
  /*-- Dynamic testimonialPOD starts here --*/
  .dynmcvid_pd {
    margin: 30px 0;
    width: 100%;
  }
  .dynmcvid_pd .dynmcvid_wrp {
    max-width: 1170px;
    margin: 0 auto;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_hrd {


    font-weight: 400;
    color: #1d202c;
    font-size: 28px;
    letter-spacing: -0.05em;
    line-height: 32px;
    padding: 0 0 0 10px;
    margin: 0;
    
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec {
    width: 370px;
    margin: 10px;
    position: relative;
    background: #000;
    height: 270px;
    border-radius: 3px;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec .video-link {
    height: 100%;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec .video-link img {
    opacity: 0.8;
    border-radius: 3px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec .video-link .vid_descrp {
    color: #d8dce8;
    font-size: 18px;
    line-height: 1.222;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 88%;
    z-index: 100;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec .video-link .ply_icn {
    position: absolute;
    display: none;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    background-position: -5px -231px;
  }
  .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec:hover .video-link .ply_icn {
    display: block;
  }
  @media (min-width: 1025px) {
    .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec {
      display: block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec {
      width: 31.3%;
      margin: 1%;
      height: 270px;
    }
  }
  @media (max-width: 767px) {
    .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec {
      width: 48%;
      margin: 1%;
      height: 270px;
    }
  }
  @media (max-width: 640px) {
    .dynmcvid_pd .dynmcvid_wrp .dynmcvid_lst .vid_sec {
      width: 100%;
      margin: 10px 15px;
      height: 210px;
    }
  }
  /*-- Dynamic testimonialPOD ends here --*/
 
  .vidqa_sec_insti .vidqa_sec {
    box-shadow: none;
  }
  .vidqa_sec_insti .vidqa_sec .vidqa_wrp {
    width: 100%;
    max-width: 100%;
  }
  .vidqa_sec_insti .vidqa_sec .vidqa_wrp .vidqa_sldr {
    margin-left: -10px;
  }
  @media (max-width: 767px) {
    .vidqa_sec_insti .vidqa_sec .vidqa_wrp .vidqa_sldr {
      margin-left: 0px;
    }
  }
 
  /*-- Home page review styles starts here --*/
  .homepage .home-review {
    margin-top: 60px;
    height: auto;
    position: relative;
  }
  .homepage .home-review .content {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 18px;


    font-weight: 300;
    color: #1d202c;
    line-height: 1.154;
    
    width: 100%;
    letter-spacing: -0.025em;
    padding-bottom: 0;
  }
  .homepage .home-review .content:after {
    clear: both;
    display: block;
    content: "";
  }
  .homepage .home-review .dynmc_rev {
    float: left;
    width: 100%;
    background: transparent;
    clear: both;
    color: #fff;
    letter-spacing: 0;
    margin: 30px 0;
    padding: 0;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_wrp {
    max-width: 1170px;
    margin: 0 auto;
  }
  .homepage .home-review .dynmc_rev h2.dynmcrev_hrd {
    padding: 0;
    margin-top: 30px;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-arrow {
    display: none !important;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track {
    height: auto !important;
    display: flex;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec {
    text-align: center;
    background: linear-gradient(to right, #0eb582 0%, #50b851 100%);
    min-height: 190px;
    border-radius: 10px;
    margin: 55px 30px 0 0;
    padding: 52px 33px 16px;
    width: 400px;
    height: auto !important;
    position: relative;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec p {


    font-weight: 400;
    font-size: 22px;
    color: #000000;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec .rev_img {
    background: url(../images/testimonial_quote.png) no-repeat center center, #ffffff;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 32px);
    width: 65px;
    height: 65px;
    background-size: 42px;
    top: -33px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec .testi_desc p {
    margin-top: 3px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 120px;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec .rev_det {
    width: 100%;
    font-size: 14px;


    font-weight: 300;
    padding: 12px 0 10px;
    min-height: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec .rev_det strong {
    display: block;


    font-weight:bold;
    color: #7e1111;
    text-transform: uppercase;

    font-size: 19px;
    letter-spacing: 0.5px;
    min-height: auto;
  }
  .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec .rev_det + p {
    letter-spacing: -0.025em;
    font-size: 18px;
    


    font-weight: 400;
    color: #fff;
    padding-bottom: 120px;
  }
  @media (min-width: 1025px) {
    .homepage .home-review .dynmc_rev .dynmcrev_lst .dynmcrev_sec {
      margin-right: 30px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .dynmcrev_sec:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .dynmc_rev {
      padding: 20px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec {
      margin: 55px 20px 0 0;
      width: 335px;
    }
  }
  @media (max-width: 767px) {
    .homepage .home-review .dynmc_rev h2.dynmcrev_hrd {
      padding: 0 15px;
      margin-top: 15px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec {
      margin-right: 15px;
      width: calc(100vw - 50px) !important;
      margin: 41px 15px 0 5px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(1) {
      margin-left: 55px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(1).slick-current {
      margin-left: 15px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(2) {
      margin-left: 5px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(2).slick-current {
      margin-left: 5px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(3) {
      margin-left: 5px;
    }
    .homepage .home-review .dynmc_rev .dynmcrev_lst .slick-track .dynmcrev_sec:nth-child(3).slick-current {
      margin-left: 35px;
    }
    .homepage .paralex-orange,
    .homepage .paralex-blue {
      display: none !important;
    }
  }
  /*-- Home page review styles ends here --*/
  /*-- Link panel styles starts here --*/
  .link_panl {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
  }
  .link_panl .link_panl_pod {
    padding: 0 0 30px;
    display: flex;
    position: relative;
  }
  .link_panl .link_panl_pod .slick-arrow {
    top: auto;
    bottom: -60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0088DD;
    background: #fff;
  }
  .link_panl .link_panl_pod .slick-prev {
    right: 50px;
    left: auto;
  }
  .link_panl .link_panl_pod .slick-prev:before {
    content: "\e257" !important;
    color: #0088DD;
    font-size: 22px;
  }
  .link_panl .link_panl_pod .slick-next {
    right: 0px;
  }
  .link_panl .link_panl_pod .slick-next:before {
    content: "\e258" !important;
    color: #0088DD;
    font-size: 22px;
  }
  .link_panl .link_panl_pod .slick-disabled {
    background: #EFEFEF;
    border: 2px solid #DBDBDB;
  }
  .link_panl .link_panl_pod .slick-disabled:before {
    color: #9FA0A2;
  }
  .link_panl .link_panl_pod .slick-track {
    height: auto !important;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec {
    width: 270px;
    height: 270px;
    display: block;
    position: relative;
    margin-right: 30px;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec .link_panl_overlay {
    width: 270px;
    height: 270px;
    background: transparent linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.9) 11%, rgba(14, 7, 9, 0.2) 30%, rgba(255, 255, 255, 0) 100%) 0% 0% no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    border-radius: 10px;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec .link_panl_cnt {
    position: absolute;
    left: 20px;
    bottom: 15px;
    color: #fff;
    font-size: 24px;


    font-weight: 300;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec .link_panl_cnt .link_panl_cnty {


    font-weight: 700!important;
    display: block;
  }
  .link_panl .link_panl_pod .slick-track .link_panl_sec:last-child {
    margin-right: 0;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .link_panl {
      width: 100%;
      padding: 30px 15px 95px;
    }
    .link_panl .link_panl_pod .slick-track {
      margin-left: -230px;
    }
  }
  @media (max-width: 767px) {
    .link_panl {
      width: 100%;
      padding: 5px 0 15px;
    }
    .link_panl h2 {
      padding: 0px 15px;
    }
    .link_panl .link_panl_pod .slick-list {
      padding: 0 !important;
    }
    .link_panl .link_panl_pod .slick-track {
      margin-left: -35px;
    }
    .link_panl .link_panl_pod .slick-track .link_panl_sec {
      margin-right: 20px ;
    }
    .link_panl .link_panl_pod .slick-track .link_panl_sec:first-child {
      margin-left: -35px;
    }
  }
  @media (max-width: 767px) and (orientation: landscape) {
    .link_panl .link_panl_pod .slick-track {
      margin-left: -180px;
    }
  }
  /*-- Link panel styles ends here --*/
  /*-- Events & Article styles starts here --*/
  .homepage .home-events-articles-section {
    padding-bottom: 60px;
    position: relative;
  }
  .homepage .home-events-articles-section .art_wrp {
    padding: 0 10px 20px 10px !important;
  }
  .homepage .home-events-articles-section .art_wrp .col-xs-12.col-sm-6 {
    padding: 0;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .titleLowerHome div {
    color: #1b4bb3 !important;
    font-weight: bold;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .titleLowerHome div .content {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 18px;


    font-weight: 300;
    color: #1d202c;
    line-height: 1.154;
    
    width: 100%;
    letter-spacing: -0.025em;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .titleLowerHome div .content h2 {


    font-weight: 400;
    color: #1d202c;
    font-size: 28px;
    
    letter-spacing: -0.025em;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row {
    margin-left: 0;
    margin-right: 0;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section {
    height: 169px;
    transition: all .4s;
    width: 565px;
    margin: 0;
    margin-bottom: 25px;
    border: none;
    background-color: #fff;
    padding: 0;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap {
    display: flex;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidLeft {
    float: left;
    height: auto !important;
    width: 30% !important;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidLeft img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight {
    height: 150px !important;
    width: 70% !important;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px 10px 0 15px;
    position: relative;
    border: 0px;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight .name {
    font-size: 20px;
    color: #474a57;
    line-height: 24px;
    letter-spacing: -0.05em;


    font-weight: 400;
    margin-bottom: 0;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight .name a {
    color: var(--secondary-color);
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight .description {
    font-size: 18px;
    color: #717583;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin-top: 10px;
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 30px;
    bottom: -21px;
    z-index: 999;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  }
  .homepage .home-events-articles-section .art_wrp > div:nth-child(2) .heroImages-box {
    margin-left: 10px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section {
      height: auto !important;
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .homepage .home-events-articles-section .art_wrp {
      padding: 13px 15px 0!important;
    }
    .homepage .home-events-articles-section .art_wrp .col-xs-12.col-sm-6 {
      width: 100%;
    }
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section {
      height: auto !important;
      width: 100%;
    }
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap {
      flex-flow: column;
    }
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidLeft {
      width: 100% !important;
    }
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight {
      width: 100% !important;
    }
    .homepage .home-events-articles-section .art_wrp .landArticle .heroImages-box.row .articles-events-section .pop_artWrap .articlesMidRight .description {
      font-size: 14px;
    }
  }
  /*-- Dynamic article POD styles --*/
  .dynmc_art {
    float: left;
    min-width: 560px;
    width: 100%;
    margin: 0 0 30px;
    background: #f2f3f7;
    padding: 0 0 20px;
  }
  .dynmc_art .dynmcart_wrp {
    margin-top: 20px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 10px;
    line-height: 1.085714em;
  }
  .dynmc_art .dynmcart_wrp li {
    list-style: none;
    height: 169px;
    transition: all .4s;
    margin-bottom: 25px;
    width: 100%;
    background: #fff;
  }
  .dynmc_art .dynmcart_wrp li a {
    display: flex;
    height: 169px;
    overflow: hidden;
  }
  .dynmc_art .dynmcart_hrd {
    color: #474a57;


    font-weight: 400;
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: -0.05em;
  }
  .dynmc_art .artimg_sec {
    width: 30%;
    object-fit: cover;
    height: 100%;
  }
  .dynmc_art .dynmcart_cnt {
    font-size: 18px;
    color: #717583;
    line-height: 1.2;
    letter-spacing: -0.05em;
    padding: 20px 20px 0;
    overflow: hidden;
    width: 70%;
    margin-bottom: 20px;
    position: relative;
    float: right;
    font-weight: normal;
  }
  .dynmc_art .dynmcart_cnt .art_nme {


    font-weight: 300;
    font-size: 24px;
    color: #474a57;
    line-height: 24px;
    letter-spacing: -0.05em;
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
  }
  .dynmc_art .mre_art {
    font-size: 18px;


    font-weight: 300;
    color: #0f9fd4;
    float: right;
    padding-right: 20px;
    letter-spacing: -0.05em;
    font-weight: bold;
  }
  .dynmc_art .mre_art:after {
    content: " ";
    width: 6px;
    height: 11px;
 
    background-position: -448px -180px;
    display: inline-block;
    position: relative;
    left: 10px;
  }
  .next-step div.yCmsContentSlot:nth-child(2) > div {
    float: left;
  }
  @media (min-width: 1025px) {
    .next-steps-outer-container .dynmcart_wrp {
      padding: 0 20px;
      float: left;
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .dynmc_art {
      min-width: auto;
    }
  }
  @media (max-width: 767px) {
    .dynmc_art {
      min-width: auto;
      padding: 15px;
      margin-right: 0px;
    }
    .dynmc_art .dynmcart_wrp {
      padding: 0;
    }
    .dynmc_art .dynmcart_hrd {
      font-size: 26px;
      line-height: 1.077;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .dynmc_art .dynmcart_wrp ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .dynmc_art .dynmcart_wrp ul li {
      width: 100%;
      margin: 5px 5px 15px;
      height: auto;
    }
    .dynmc_art .dynmcart_wrp ul li a {
      overflow: hidden;
      flex-direction: column;
      height: auto;
    }
    .dynmc_art .artimg_sec {
      width: 100%;
    }
    .dynmc_art .dynmcart_cnt {
      height: 150px;
      width: 100%;
      font-size: 14px;
    }
    .dynmc_art .dynmcart_cnt .art_nme {
      font-size: 20px;
    }
    .dynmc_art .dynmcart_cnt {
      font-size: 14px;
    }
    .page-search .next-step div.yCmsContentSlot:nth-child(2) > .dynmc_art {
      width: calc(100% - 20px);
    }
  }
  /*-- Events & Article styles ends here --*/
  /*-- Home course list styles starts here --*/
  .homepage .home-course-list {
    padding-bottom: 60px;
  }
  .homepage .home-course-list .hero-features .content {
    margin-bottom: 24px !important;
    padding: 10px 0 10px 10px;
    margin-top: 75px;
  }
  .homepage .home-course-list .heroImages-box.row {
    margin-left: 0;
    margin-right: 0;
  }
  .homepage .home-course-list .coursesLink {
    padding: 0 15px;
  }
  .homepage .home-course-list .popularCoursesHover div > div {
    transition: all 0.5s;
  }
  .homepage .home-course-list .popularCoursesHover .course-item {
    min-height: 250px;
    text-align: center;
    padding: 24px 20px 24px 20px;
  }
  .homepage .home-course-list .popularCoursesHover .course-item img {
    height: 50px;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list {
    margin: 20px 0 0 0;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0;
    display: table;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list .course-title {
    color: #000000;
    line-height: 1.6;
    padding-bottom: 10px;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list .course-title a {
    font-size: 24px;
    color: #474a57;
    transition: all .3s;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list .sub-course-list {
    margin: 0px 0 0 0 !important;
    padding-left: 0px !important;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list .sub-course-list li {
    outline-style: initial;
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
  }
  .homepage .home-course-list .popularCoursesHover .course-item .main-course-list .sub-course-list li a.course-title {
    font-size: 18px;
    letter-spacing: -0.025em;
    color: #717583;
    transition: all .3s;
  }
  .homepage .home-course-list .popularCoursesHover .course-item:hover {
    box-shadow: 0px 0px 10px #d6d6d6;
    transition: all 0.5s;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .home-course-list .popularCoursesHover {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 767px) {
    .homepage .home-course-list .hero-features .content {
      margin-left: 0!important;
      padding-left: 15px!important;
      margin-top: 40px;
    }
    .homepage .home-course-list .popularCoursesHover {
      padding: 0px 15px;
    }
    .homepage .home-course-list .popularCoursesHover .yComponentWrapper {
      width: 100%;
      border: 2px solid #f2f3f7;
    }
    .homepage .home-course-list .popularCoursesHover .course-item {
      background-size: 60px 50px !important;
      height: 300px;
      width: 100%;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .homepage .home-course-list .popularCoursesHover .yComponentWrapper {
      width: 50%;
    }
  }
  /*-- Home course list styles ends here --*/
  /*-- Partner university section starts here --*/
  .homepage .home-university-section {
    position: relative;
  }
  .homepage .hero-features .yComponentWrapper {
    margin-bottom: 20px;
  }
  .homepage .hero-features .content {
    margin-top: 75px;
    margin-bottom: 10x;
    padding-left: 10px;
  }
  .homepage .University-list {
    padding: 0 10px 0 10px;
  }
  .homepage .University-list li {
    padding-right: 0px;
    padding-left: 0;
    width: 100%;
    list-style-type: initial;
    color: transparent;
  }
  .homepage .University-list li .left-box {
    background: #fff;
    height: 137px !important;
  }
  .homepage .University-list li .left-box a {
    width: 100%;
    height: 100%;
    z-index: 1111;
  }
  .homepage .University-list li .left-box img {
    height: auto;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {

.homepage .University-list li .left-box img {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
  }
  .homepage .partners-section {
    padding-bottom: 75px;
  }
  .homepage .landingHovoer:hover {
    box-shadow: 0px 10px 40px 0px rgba(136, 136, 136, 0.35);
  }
  @media (max-width: 767px) {
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features {
      padding-left: 10px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper {
      width: 43%;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list {
      padding: 0px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box {
      height: 75px!important;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box img,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box img {
      height: auto;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features {
      padding-left: 15px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper {
      width: 22%;
      margin-right: 19px;
      margin-bottom: 20px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list {
      padding: 0px;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box {
      height: 75px!important;
    }
    .homepage .home-university-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box img,
    .homepage .partners-section .heroImages-box:nth-child(2) .hero-features .yComponentWrapper .University-list li .left-box img {
      height: auto;
    }
  }
  /*-- Partner university section ends here --*/
  /*-- Student review with blue gradient starts here --*/
  .homepage .home-review {
    margin-top: 60px;
    height: auto;
    position: relative;
  }
  .homepage .home-review .content {
    padding-bottom: 0;
  }
  .homepage .home-review .no-space {
    height: auto;
    padding-bottom: 75px!important;
    background: #27319e;
    background: -moz-linear-gradient(left, #27319e 0%, #213ba2 16%, #1a4db3 31%, #115ec2 46%, #0d68c9 71%, #0181dc 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27319e), color-stop(16%, #213ba2), color-stop(31%, #1a4db3), color-stop(46%, #115ec2), color-stop(71%, #0d68c9), color-stop(100%, #0181dc));
    background: -webkit-linear-gradient(left, #27319e 0%, #213ba2 16%, #1a4db3 31%, #115ec2 46%, #0d68c9 71%, #0181dc 100%);
    background: -o-linear-gradient(left, #27319e 0%, #213ba2 16%, #1a4db3 31%, #115ec2 46%, #0d68c9 71%, #0181dc 100%);
    background: -ms-linear-gradient(left, #27319e 0%, #213ba2 16%, #1a4db3 31%, #115ec2 46%, #0d68c9 71%, #0181dc 100%);
    background: linear-gradient(to right, #27319e 0%, #213ba2 16%, #1a4db3 31%, #115ec2 46%, #0d68c9 71%, #0181dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27319e', endColorstr='#0181dc', GradientType=1);
  }
  .homepage .home-review .no-space .yComponentWrapper {
    max-width: 1170px;
    margin: 0 auto;
    float: none;
    padding: 0;
  }
  .homepage .home-review .choosingCourseParent {
    margin: 100px 0 0 0;
  }
  .homepage .home-review .choosingCourseParent .content {
    display: inline-block;
    margin-top: 0px;
    color: #f2f3f7;


    font-weight: 400;
    font-size: 28px;
    
    letter-spacing: -0.025em;
    line-height: 32px;
    margin-bottom: 0px;
  }
  .homepage .home-review .choosingCourseParent .midSectionParent {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: auto;
  }
  .homepage .home-review .choosingCourseParent .midSectionParent .choosingCourse {
    width: 370px;
    height: auto;
    min-height: 190px;
    text-align: center;
    background: #f2f3f7;
    margin: 10px 20px 0 0;
    padding: 20px;
    border-radius: 4px;


    font-weight: 400;
    padding: 0px 10px 20px 20px;
  }
  .homepage .home-review .choosingCourseParent .midSectionParent .choosingCourse .studentCourse {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #868a95;
    min-height: 76px;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  .homepage .home-review .choosingCourseParent .midSectionParent .choosingCourse .courseContent {


    font-weight: 300;
    font-size: 19px;
    line-height: 1.2;
    display: inherit;
    position: relative;
    top: 0;
    width: 75%;
    margin: 0 auto;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .homepage .home-review .choosingCourseParent .midSectionParent {
      width: 100%;
      padding: 0 0 0 15px;
    }
    .homepage .home-review .choosingCourseParent .midSectionParent .choosingCourse {
      width: 31.5%;
      display: inline-block;
      padding: 0px 10px 20px 10px;
      margin: 10px 13px 0 0;
    }
  }
  @media (max-width: 767px) {
    .homepage .home-review .choosingCourseParent {
      margin: 40px 0 0 0;
      padding-bottom: 20px;
    }
    .homepage .choosingCourse {
      min-height: 180px;
      left: 0;
      width: 100%!important;
      padding: 0 20px;
    }
    .homepage .midSectionParent {
      width: 100%!important;
      display: block!important;
      padding: 0 15px;
    }
  }
  @media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    .homepage .choosingCourseParent .choosingCourse {
      min-height: 180px;
      width: 30%!important;
    }
    .homepage .midSectionParent {
      width: 100%;
      padding-left: 20px;
      flex-wrap: wrap;
      justify-content: left;
      display: flex !important;
    }
    .homepage .home-review .choosingCourseParent {
      margin: 20px 0 0 0;
      padding-bottom: 20px;
    }
  }
  .homepage .openenq_form .rightfrm_cont .opnfrm {
    background: #f2f3f7;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .dynmc_rev {
      padding: 20px;
    }
  }
  .dynmcvid_pd .dynmcvid_lst .vid_sec .video-link :after {
    display: inline-block;
    content: ' ';
    background: linear-gradient(to top, #000000, rgba(255, 255, 255, 0));
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    left: 0;
    border-radius: 0 0 5px 5px;
  }
  .dynmcvid_pd .vid_descrp strong {
    display: block;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
  }
  @media (max-width: 767px) {
    .homepage .testimonial.title .content,
    .homepage .home-review .choosingCourseParent .content,
    .homepage .home-events-articles-section .art_wrp .landArticle .titleLowerHome div .content h2,
    .dynmcvid_pd .dynmcvid_wrp .dynmcvid_hrd {
      font-size: 22px;
    }
    .dynmcvid_pd .dynmcvid_lst .vid_descrp {
      font-size: 16px;
    }
    .dynmcvid_pd .dynmcvid_lst .vid_descrp strong {
      font-size: 20px;
    }
  }
