<template>
  <div>
    <div class="col-sm-12 col-md-4 col-lg-4 geo_pod_right_nav">
      <div class="floating-div">
        <div class="yCmsContentSlot right-panel">
          <div class="yCmsComponent floating-div-style">
            <div class="opnfrm lightbox_wrap">
              <div class="form-lbnew_wrap">
                <div
                  class="lb-xclose"
                  onclick="loadOpenEnquiryPopup('close');"
                  style="display: none"
                >
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="rfrmtop">
                  <div class="category_name">
                    <h3 class="blog_category_tittle">All Courses</h3>
                  </div>
                  <div class="category_list">
                    <table>
                      <tr class="item-row" v-for="course in data" :key="course.id">
                        <td class="svg-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="svg_right_arrow">
                            <path d="M16.9 10.7L7 5V19L16.9 13.3C17.9 12.7 17.9 11.3 16.9 10.7Z" />
                          </svg>
                        </td>
                        <td class="title">
                          <nuxt-link :to="'/course/' + course.slug" :class="$route.fullPath == '/course/' + course.slug ? 'list_name category-selected' : 'list_name'">
                            {{ course.title }}
                          </nuxt-link>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div> 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Array,
  },
};
</script>

<style scoped>
.category_name {
  text-align: center;
}
.blog_category_tittle {
  text-align: left;
  font-weight: 600;
  margin: 15px 0px;
}

.category_list .item-row .svg-icon {
  vertical-align: top;
  padding: 0px 10px 0px 0px;
}
.category_list .list_name {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
}

.category_list .item-row .svg-icon svg {
  fill: #fff;
  height: 20px;
  width: 20px;
}
.category_list .item-row .title {
  margin-bottom: 10px;
  display: block;
}

.rfrmtop {
  padding: 25px;
  background: var(--base-gradient);
  color: #fff;
  position: relative;
}
.category-selected {
  font-weight: 600;
  text-decoration: underline !important;
}
</style>
