<template>
  <div>
    <div class="col-sm-12 col-md-4 col-lg-4 geo_pod_right_nav">
      <div class="floating-div">
        <div class="yCmsContentSlot right-panel">
          <div class="yCmsComponent floating-div-style">
            <div class="opnfrm lightbox_wrap">
              <div class="form-lbnew_wrap">
                <div
                  class="lb-xclose"
                  onclick="loadOpenEnquiryPopup('close');"
                  style="display: none"
                >
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="rfrmtop">
                  <div class="category_name">
                    <h3 class="course_category_tittle">Blog Category</h3>
                  </div>
                  <div class="category_list">
                    <ul>
                      <li v-for="cateogry in blog_category" :key="cateogry.id">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="13"
                          height="13"
                          fill="currentColor"
                          class="bi bi-chevron-double-right"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
                          ></path>
                          <path
                            fill-rule="evenodd"
                            d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
                          ></path>
                        </svg>
                        <nuxt-link
                          :to="cateogry.service_slug"
                          class="list_name"
                        >
                          {{ cateogry.name }}
                        </nuxt-link>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile_verification" style="display: none">
              <div class="mobconf_ovrly" id="socialOverlay"></div>
              <div
                class="modal social-modal shrt-lbox1 otp-verify"
                tabindex="-1 "
                role="dialog"
                style="display: block"
              >
                <div class="modal-dialog" role="document ">
                  <div>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal "
                      aria-label="Close"
                      onclick="giveSocialPopUp('moblie-close');"
                    >
                      <span class="glyphicon"></span>
                    </button>
                    <div class="modal-content shrt-lbox">
                      <div class="modal-header">
                        <h5 class="modal-title" id="mobile_verifcation_name">
                          It seems we have a different mobile number for you.
                          Would you like to use this mobile number instead?
                        </h5>
                      </div>
                      <div class="rfrmbtm mob_cnf">
                        <a
                          href="javascript:void(0)"
                          onclick="saveUpdatedMobileNumber();"
                          class="btn btn-default"
                          ><span> Ok</span
                          ><span
                            class="glyphicon glyphicon-menu-right pull-right"
                          ></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" value="" id="close_verification" />
              <input type="hidden" value="" id="no_close_verification" />
            </div>
          </div>
        </div>
        <div class="yCmsContentSlot right-panel floating-social"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      blog_category: [
        {
          id: 1,
          name: "One To One Counselling",
          service_slug: "one-to-one-counselling",
        },
        {
          id: 2,
          name: "Where To Search And Find Part Time Work In The UK?",
          service_slug: "",
        },
        { id: 3, name: "How To Balance Work And Study?", service_slug: "" },
        {
          id: 4,
          name: "10 Must Have Gadgets And Apps For Your Student Life",
          service_slug: "",
        },
      ],
    };
  },
};
</script>

<style scoped>
.category_name {
  text-align: center;
  margin-top: 1rem;
}
.course_category_tittle {
  text-align: left;
  margin-left: 20px;
  font-weight: 600;
}
.category_list ul {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.category_list ul li[data-v-517e890e] {
  list-style: none;
  font-size: 15px;
  margin-bottom: 13px;
}
.category_list .list_name {
  color: #fff;
  text-decoration: none;
}
.category_list ul li:hover svg {
  transform: translate(-10px);
  transition: all 1s ease-in-out;
}
.rfrmtop {
  padding: 20px 20px 5px;
  background: var(--base-gradient);
  color: #fff;
  position: relative;
}
</style>
