<template>
  <div>
    <div class="col-sm-12 col-md-4 col-lg-4 geo_pod_right_nav">
      <div class="floating-div">
        <div class="yCmsContentSlot right-panel">
          <div class="yCmsComponent floating-div-style">
            <div class="opnfrm lightbox_wrap">
              <form @submit.prevent="sendEmail">
                <div class="get_in_touch_from">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form_title">
                        <span class="form_title_text">Request a Call Back </span>
                        <div
                          class="alert alert-success"
                          v-if="response_message != ''"
                        >
                          <p>{{ response_message }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label form-label"
                          >Name
                          <span class="highlight" id="userName-info"
                            >*</span
                          ></label
                        >
                        <input
                          type="text"
                          placeholder="Full Name"
                          v-model="form.name"
                          class="form-control form-input contactus-input"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label form-label"
                          >Mobile Number
                          <span class="highlight" id="company-info"
                            >*</span
                          ></label
                        >
                        <input
                          type="tel"
                          placeholder="Mobile Number"
                          v-model="form.phone"
                          class="form-control form-input contactus-input"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="control-label form-label"
                          >Email
                          <span class="highlight" id="emailA-info"
                            >*</span
                          ></label
                        ><input
                          type="email"
                          placeholder="example@gmail.com"
                          v-model="form.email"
                          class="form-control form-input contactus-input"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="submit_button">
                        <button type="submit" class="btn-block button">
                          Send Request
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        subject: "Request a Call Back",
      },
      response_message: "",
    };
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },

    sendEmail: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
            // Log error
            // console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
/* get-in-tuch-form start */
.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}

.form_title {
  margin: 5px 0px 20px 0px;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}

/* get-in-tuch-form end */
.contact-from {
  top: 5rem !important;
}
.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
</style>