<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  class="blog_img_cus"
                  :src="$config.storagePath + institution.banner"
                />
              </div>
              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <p class="blog_heading">
                    <strong>{{ institution.name }}</strong>
                  </p>
                  <div class="html-editor-text" v-html="institution.description"></div>
                </div>
              </div>
            </div>
            <InstituteSidebar :data="all_institutions" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InstituteSidebar from "~~/components/Sidebars/InstituteSidebar.vue";
export default {
  components: { InstituteSidebar },

  data() {
    return {
      institution: [],
      all_institutions: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      const [{ data: institution }, { data: all_institutions }] =
        await Promise.all([
          useFetch(
            this.$config.baseApiURL + `/institution/` + this.$route.params.slug
          ),
          useFetch(this.$config.baseApiURL + `/institution`),
        ]);
      this.institution = institution._value.data;
      this.all_institutions = all_institutions._value.data;
    },
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 24px !important;
  font-weight: 900;
  text-transform: capitalize;
}
</style>
