<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <SinglePageCard :data="blog" />
            <BlogCategory :data="all_blogs" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BlogCategory from "~~/components/Sidebars/BlogCategory.vue";
import SinglePageCard from "~~/components/Cards/SinglePageCard.vue";
export default {
  scrollToTop: true,
  components: { BlogCategory, SinglePageCard },

  data() {
    return {
      blog: [],
      all_blogs: [],
    };
  },


  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      const [{ data: blog }, { data: all_blogs }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/blog/` + this.$route.params.slug),
        useFetch(this.$config.baseApiURL + `/blog`)
      ]);

      this.blog = blog._value.data;
      this.all_blogs = all_blogs._value.data;
      
    },
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
