<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  class="blog_img_cus"
                  src="~/assets/images/WhoWeAre/who-we-are.jpg"
                  alt=""
                />
              </div>
              <div class="yCmsComponent blog_content_heading">
                <div class="content">
                  <div class="page-header">
                    <span class="page-title blog_heading"> Who we are</span>
                  </div>
                  <p>
                    Tarek Associates is an ultimate platform where students meet
                    their desired goals by selecting the right institution for
                    the same. Additionally, the institutes can also recruit suitable talent for their overall progress. Counselling is
                    our core specialization where we communicate with the
                    students and their guardians. We collect some crucial
                    information from the students to support the finalization of
                    the institution and course. Here, the career plan is drafted
                    based on the previous qualifications and future ambitions. Affordabilityand budget are also key factors,
                    that play important roles in decision making.
                  </p>
                  <p>
                    As we assist our students and clients in making educational decisions, we also Work with our partners to promote
                    their institution and to recommend the students. We ensure
                    admission by cross-checking the eligibility criteria. Our
                    counselling team is available for simultaneous tasks for our
                    partners and students. Our effective and high-quality
                    marketing services for our partners’ institutes help them                     recruit the best talents.
                  </p>
                  <p>
                    Simultaneously, Tarek Associates is also involved in
                    organizing seminars, events, education fairs, and open day
                    assessments. These programs promote meetups for
                    institutions and students. Here, they can explore themselves
                    to avail themselves of the fair practice of selection and admission.
                  </p>
                  <p>
                    Tarek Associates is a stage for the best performers. The
                    educational counselor belongs to diverse streams and they
                    perceive the good background to resemble the students’
                    career. We provide students with our expertise in a variety of fields. We keep our professional skills up to date
                    with the industries’ experience. We pour our skills,
                    experiences, and efforts into ascertaining, guiding and selecting the
                    right admission. Hereafter, we help the student in the
                    overall admission process by soothing the other relevant
                    requirements too.
                  </p>
                  <p>
                    After achieving many career goals, we still crave for your
                    comments, recommendations, and feedback that keeps us
                    fresh and our enthusiasm, rejuvenated!
                  </p>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
.content-page .left-panel {
  /* top: -185px !important; */
  width: 760px;
}
.blog_img_cus {
  overflow: hidden;
}
.content-page .blog_content_heading {
  margin-top: 0px;
  padding: 0px 40px;
}
span.page-title.blog_heading {
  font-size: 20px !important;
  line-height: 30px !important;
}
</style>
