<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  src="~/assets/images/Service/Admission-Support.jpg"
                  alt=""
                />
              </div>
              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <div class="page-header">
                    <h4 class="page-title">Admission Support</h4>
                  </div>
                  <br />
                  <p>
                    <strong
                      >Invigorating admission support with professional UK
                      university admission consultant</strong
                    >
                  </p>
                  <p>
                    A student can dream of studying in the UK but they do seek some
                    experts to understand their career desires and to guide them
                    for the new academic rituals. Any national or international
                    student needs to be treated as an infant as their goals are
                    very vulnerable. A UK university admissions consultant helps
                    them to determine the goals that suit their skills. The
                    next step is to prepare a path for them to reach the desired
                    university in the UK.

                    <br />
                    <br />
                    Tarek Associates is a team of professionals. From admissions
                    experts to UK university application consultant, we avail ourselves of the 
                    top-notch services at Whitechapel. We are happy to serve
                    the students and are blessed to see their career
                    accomplishments.

                    <br />
                    <br />
                    Our 24/7 admission support includes guidance for the
                    selection of the right course as well as the admission
                    process to the particular university. UK university
                    admissions consultant helps the students to polish their
                    dreams and give them a mirror-like glaze. We help you to
                    shine brighter in the sky of your desired career.
                     <br />
                     <br />
                    Let the students step into UK academics with the help of a UK university application consultant and admission expert. The entire
                    process of the system is dedicated to the students and their
                    accomplishments!
                  </p>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
