<template>
	<div class="home-container">
		<div class="row">
			<div class="contact-from">
				<div class="">
					<div class="row">
						<div class="page-header">
							<h1 class="page-title">
								Become Agent
							</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 col-md-5">
							<div class="left_side_info">
								<ContactDetailCard />
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="get_in_touch_from">
								<div class="row">
									<div class="col-md-12">
										<div
											class="
												form_title
											"
										>
											<span
												class="
													form_title_text
												"
											>
												Become Our Authorized Agent</span
											>
										</div>
									</div>
									<div class="col-md-12">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
											>
												Owner
												Name
												<span
													class="
														highlight
													"
													>*</span
												></label
											>
											<input
												type="text"
												placeholder="Owner Name"
												class="
													form-control
													form-input
													contactus-input
												"
											/>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>Company
												Name
												<span
													class="
														highlight
													"
													id="userName-info"
													>*</span
												></label
											>
											<input
												type="text"
												placeholder="Company Name"
												id="fullname"
												name="Company-Name"
												class="
													form-control
													form-input
													contactus-input
												"
											/>
										</div>
									</div>

									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>Email
												<span
													class="
														highlight
													"
													id="emailA-info"
													>*</span
												></label
											><input
												type="text"
												placeholder="Email"
												id="emailA"
												name="email"
												class="
													form-control
													form-input
													contactus-input
												"
											/>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>Phone
												<span
													class="
														highlight
													"
													id="company-info"
													>*</span
												></label
											>
											<input
												type="text"
												placeholder="Phone"
												id="Phone"
												name="Phone"
												class="
													form-control
													form-input
													contactus-input
												"
											/>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>City
												<span
													class="
														highlight
													"
													id="company-info"
													>*</span
												></label
											>
											<input
												type="text"
												placeholder="City"
												id="City"
												name="City"
												class="
													form-control
													form-input
													contactus-input
												"
											/>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>Address
												<span
													class="
														highlight
													"
													id="address-info"
													>*</span
												></label
											>
											<textarea
												id="address"
												name="address"
												placeholder="Type here.."
												class="
													form-control
													form-input
													address_text
												"
											></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="
												form-group
											"
										>
											<label
												class="
													control-label
													form-label
												"
												>Message
												<span
													class="
														highlight
													"
													id="address-info"
													>*</span
												></label
											>
											<textarea
												id="Message"
												name="Message"
												placeholder="Type here.."
												class="
													form-control
													form-input
													message_text
												"
											></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div
											class="
												submit_button
											"
										>
											<button
												type="button"
												class="
													btn-block
													button
												"
											>
												Submit
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import ContactDetailCard from "~~/components/Cards/ContactDetailCard.vue";
	export default {
		components: { ContactDetailCard },
	};
</script>

<style scoped>
	.contact-from {
		top: 5rem !important;
	}
	.form-control {
		border-radius: 50px !important;
		box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
		border: none;
		background-color: #0404040d;
	}
	.form-group {
		margin-bottom: 25px;
	}
	.form-group .control-label {
		font-size: 14px;
		font-weight: bold;
		text-transform: none;
		color: #787a80 !important;
		margin-left: 1.2rem;
	}
	.form-group .message_text {
		min-height: 12rem;
		border-radius: 10px !important;
	}
	.form-group .address_text {
		min-height: 12rem;
		border-radius: 10px !important;
	}
	.form-group .highlight {
		color: red;
	}
	.submit_button {
		text-align: center;
		border-radius: 20px;
	}
	.submit_button .btn {
		border-radius: 10px;
		background: var(--base-color);
		color: white;
	}
	.submit_button .btn:hover {
		background: var(--base-gradient);
		transition: all 0.5s;
		color: white;
	}

	.agent_heading {
		text-align: center;
		font-size: 36px;
		margin-bottom: 5rem;
	}
	.content-page .left-panel {
		top: 0 !important;
		padding: 40px 15px 0px 15px !important;
		background-color: #ffff;
		position: relative;
		width: 100%;
	}
	.content-page .static-content-page .content-top {
		margin: 0 auto;
		padding-left: 19px !important;
		display: flex;
		width: 100%;
	}
	.info {
		margin: 30px 0px 20px 4px;
	}

	.left_img img {
		border-radius: 15px;
		margin-top: 15rem;
	}
	.container__full {
		width: 100%;
	}

	.container {
		width: 100%;
	}

	.left_side_info {
		background: var(--base-gradient-left);
		border-radius: 20px;
		overflow: hidden;
		padding: 36px 0px;
		box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
	}

	.get_in_touch_from {
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
		padding: 30px;
		background-color: white;
	}

	.form_title {
		margin: 5px 0px 20px 0px;
	}
	.form_title_text {
		font-size: 28px;
		font-weight: 900;
		color: var(--base-color);
	}

	.section_content_img img {
		border-radius: 10px;
		overflow: hidden;
	}
</style>