<script>
export default defineComponent({
  async setup() {
    console.log("Setup Called");

    const [{ data: organization }] = await Promise.all([
      useFetch("https://api.github.com/orgs/nuxt"),
    ]);

    return {
      organization,
    };
  },

  data() {
    return {
      posts: "",
    };
  },
  created() {
    console.log("created Called");

    console.log(this.organization.description);
  },

  async created() {
    const response = await fetch("https://api.npms.io/v2/search?q=vue");
    const data = await response.json();
    this.posts = data.total;
    this.posts = [
      {
        id: 2,
        title: "gfggbig",
      },
      {
        id: 2,
        title: "gfggbig",
      },
    ];
  },

  methods: {
    testButton: async function () {
      // const [{ data: organizations }] = await $fetch('https://127.0.0.1:8000/api/contact-mail', { method: 'POST', body: { some: 'json' } });

      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
          },
          async onRequestError({ request, options, error }) {
            // Log error
            console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            // Log response
            console.log(response);
          },
        }
      );
    },
  },
});
</script>

<template>
  <header>
    <h1>{{ organization.login }}</h1>
    <p>{{ organization.description }}</p>

    <p>Our Url is: {{ $config.baseURL }}</p>

    <button @click="testButton">Click Me</button>
  </header>
</template>