<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>

    <!--start of body content-->
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div> 
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div
                class="yCmsComponent static-content-block blog_content_heading"
              >
                <div class="content">
                  <h1>All Blogs</h1>
                </div>
              </div> 

              <div class="blog_content">
                <div class="content">
                  <div class="row">
                    <div
                      class="col-md-12"
                      v-for="blog in blog_items"
                      :key="blog.id"
                    >
                      <div>
                        <BlogCard :data="blog"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <BlogCategory :data="blog_items" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BlogCategory from "~~/components/Sidebars/BlogCategory.vue";
import BlogCard from "~~/components/Cards/BlogCard.vue";
export default {
  components: { BlogCategory, BlogCard },

  data() {
    return {
      blog_items: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [{ data: blog_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/blog`),
      ]);

      this.blog_items = blog_response._value.data;
    },
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
</style>
