<template>
  <section class="appointment">
    <div
      class="srch_ovly"
      id="search_overlay"
      data-v-72292c93=""
      style="display: block"
      ref="bookAppointmentModal"
    >
      <div class="nsrch_wrp nsrch_wrp_vw">
        <span
          class="glyphicon glyphicon-remove srcls"
          @click="hideBookAppointment"
        ></span>
        <div class="get_in_touch_from">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="form_title">
                  <span class="form_title_text"> Drop Your Info</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Owner’s Name
                    <span class="highlight" id="userName-info">*</span></label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="fullname"
                    name="fullname"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Company Name
                    <span class="highlight" id="company-info">*</span></label
                  >
                  <input
                    type="text"
                    placeholder=""
                    id="company_name"
                    name="company_name"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Email Address
                    <span class="highlight" id="emailA-info">*</span></label
                  ><input
                    type="text"
                    placeholder=""
                    id="emailA"
                    name="email"
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Phone Number
                    <span class="highlight" id="phone-info">*</span></label
                  >
                  <div class="intl-tel-input allow-dropdown">
                    <div class="flag-container">
                      <div
                        class="selected-flag"
                        tabindex="0"
                        title="United States: +1"
                      >
                        <div class="iti-flag us"></div>
                        <div class="iti-arrow"></div>
                      </div>
                    </div>
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      placeholder="(201) 555-5555"
                      class="form-control form-input contactus-input"
                      autocomplete="off"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label form-label"
                    >City <span class="highlight" id="city-info">*</span></label
                  ><input
                    type="text"
                    id="city"
                    name="city"
                    placeholder=""
                    class="form-control form-input contactus-input"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label form-label"
                    >Address
                    <span class="highlight" id="address-info">*</span></label
                  >
                  <textarea
                    id="address"
                    name="address"
                    class="form-control form-input address_text"
                  ></textarea>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="contact-question form-group">
                  <label class="control-label form-label"
                    >Message
                    <span class="highlight" id="message-info"></span></label
                  ><textarea
                    id="message"
                    name="message"
                    rows="4"
                    class="form-control form-input message_text"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="submit_button">
                  <button type="button" class="btn-block button">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {};
  },
  openMobileMenu: function () {
    this.$nuxt.$emit("open-contact-form");

    //   this.$root.$refs.mainTag.classList.toggle('offcanvas');
  },
  method: {
    showBookAppointment: function () {
      this.$refs.bookAppointmentModal.style.display = "block";
    },
    hideBookAppointment: function () {
      this.$refs.bookAppointmentModal.style.display = "none";
    },
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}

/* Book appointment style start */

.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.content-page .left-panel {
  top: 0 !important;
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 100%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}

.left_img img {
  border-radius: 15px;
  margin-top: 15rem;
}
/* .container__full {
  width: 100%;
} */

/* @media (min-width: 1024px)  */

.container {
  /* width: 1400px; */
  width: 100%;
}
/* get-in-tuch-form start */
.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}

.form_title {
  margin: 5px 0px 20px 0px;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}

/* Book appointment style end */
</style>