<template>
  <div class="home-container">
    <div class="row">
      <div class="section-header">
        <h2 class="section-title">Career in Tarek Associates</h2>
        <p class="section-subtitle">
          Stay with Tarek Associates make your dream success
        </p>
      </div>
    </div>
    <div class="row static-content-page content-page-social">
      <div class="col-sm-12 col-md-5">
        <div class="left-side">
          <div class="left-img">
            <img src="~assets/images/build-career.jpg" class="career" />
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="right-side">
          <div class="right-content">
            <div class="page-header">
              <h1 class="page-title">Career</h1>
            </div>
            <!-- <h2 class="blog-title">Career</h2> -->
            <div class="description">
              <p>
                Here is the team of educational experts and enthusiasts to raise
                student’s career. Tarek Associates have open doors for prudent
                people. You can make your own career in the educational world by
                guiding many in the career path.
                <br />
              </p>
              <p>
                Join the team and get wings to fly in the academic sky! Send
                your CV to
              </p>
              <a href="mailto:info@tarekassociates.co.uk"
                >info@tarekassociates.co.uk</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.content-page-social {
  /* background-color: #f3f3f3; */
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 20px;
}

.description a {
  font-size: 16px;
  font-weight: bold;
  color: var(--base-color);
}
.description a:hover {
  font-weight: bold;
  color: black !important;
  transition: 0.5s;
}
</style>