<template>
  <div class="contact-us">
    <!-- contact from -->
    <div class="home-container">
      <div class="row">
        <div class="page-header">
          <h1 class="page-title">Contact Us</h1>
        </div>
      </div>
      <div class="row">
        <Contact />
      </div>
    </div>
    <!--end body content-->

    <!-- location section 2 -->
    <section class="our-offices container-fluid">
      <div class="office-section">
        <span>Our Offices</span>
      </div>
      <div class="location-track">
        <div class="row">
          <div class="col-sm-12 col-md-7">
            <div class="location_">
              <div class="location_details_">
                <div class="card_left">
                  <img class="card_img" src="~/assets/images/uk-office.jpg" />
                </div>
                <div class="card_info">
                  <div class="info_heading">
                    <h4>Head Office</h4>
                  </div>
                  <div class="item">
                    <div class="item_title">Address :</div>
                    <div class="item_text">
                      NH.202 E1 Studio, 7 Whitechapel Road, London, E1 1DU
                    </div>
                  </div>
                  <div class="item">
                    <div class="item_title">Phone :</div>
                    <div class="item_text">02045161434, +44(0)7891913041</div>
                  </div>
                  <div class="item">
                    <div class="item_title">Email :</div>
                    <div class="item_text">info@tarekassociates.co.uk</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="embed-google-map">
              <iframe
                width="100%"
                height="260"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?q=7 Whitechapel Rd, London E1 1DU, UK&t=&zoom=8&maptype=roadmap&ie=UTF8&iwloc=&output=embed"
              ></iframe>
              <div style="width: 500; border-radius: 25px">
                <a
                  href="https://pininthemap.com/embed-google-map"
                  style="padding: 10px; display: inline-block; float: right"
                  target="_blank"
                  data-inline="true"
                  title="Embed Google Map - Pininthemap"
                  ><img
                    src="https://pininthemap.com/img/more.svg"
                    style="vertical-align: middle"
                    alt="Embed Google Map - Pininthemap"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="location_">
              <div class="location_details_">
                <div class="card_left">
                  <img
                    class="card_img"
                    src="~/assets/images/dhaka-office.jpg"
                  />
                </div>
                <div class="card_info">
                  <div class="info_heading">
                    <h4>Dhaka Office</h4>
                  </div>
                  <div class="item">
                    <div class="item_title">Address :</div>
                    <div class="item_text">
                      Sonartori Tower (6th Floor), 12 Sonargaon Road, Banglamotor,
                      Dhaka-1000
                    </div>
                  </div>
                  <div class="item">
                    <div class="item_title">Phone :</div>
                    <div class="item_text">+88029632750, +881321166550</div>
                  </div>
                  <div class="item">
                    <div class="item_title">Email :</div>
                    <div class="item_text">dhaka@tarekassociates.co.uk</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="embed-google-map">
              <iframe
                width="100%"
                height="260"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?q=Sonartori Tower, Bir Uttam CR Dutta Rd, Dhaka 1205, Bangladesh&t=&zoom=15&maptype=roadmap&ie=UTF8&iwloc=&output=embed"
              ></iframe>
              <div style="width: 500; border-radius: 25px">
                <a
                  href="https://pininthemap.com/embed-google-map"
                  style="padding: 10px; display: inline-block; float: right"
                  target="_blank"
                  data-inline="true"
                  title="Embed Google Map - Pininthemap"
                  ><img
                    src="https://pininthemap.com/img/more.svg"
                    style="vertical-align: middle"
                    alt="Embed Google Map - Pininthemap"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Contact from "~~/components/Sections/Contact.vue";
export default {
  components: { Contact },
};
</script>

<style scoped>
/* location style  */
.location_info {
  margin: 10px 40px 20px 0px;
}
.head_office {
  text-align: center;
  margin-bottom: 20px;
}
.location .item {
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  background: var(--base-color);
  border-radius: 20px;
  color: white;
  padding: 10px;
  min-height: 120px;
  margin-bottom: 10px;
}

.location .item .item_title {
  text-align: center;
  margin: 5px 0px;
}
.item .item_title .title_info {
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
}

/* location style end */

.location_tittle {
  margin-left: 5px;
  font-size: 22px;
}
.content-page .content p {
  letter-spacing: 0;
  font-size: 15px;
  
  line-height: 24px;
}
.map_left {
  margin: 10px 40px 20px 0px;
}
.map_right {
  margin: 10px 40px 20px 0px;
}
.map_left iframe,
.map_right iframe {
  border-radius: 15px;
}

.office-section {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #008260;
}

/* location section 2 */
.courses {
  margin-bottom: 20px !important;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
.card_header {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 1.2rem !important;
}
.courses .left-image img {
  width: 50%;
  float: left;
  background: rgb(243, 243, 243);
  border-radius: 25px 0px 0px 25px;
  height: 230px;
}
.courses .right-content {
  height: 230px;
  width: 50%;
  float: left;
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 23%);
  transition: all 0.3s;
  border-radius: 0px 25px 25px 0px;
}

.courses .right-content .about-course {
  padding: 5px;
  margin-left: 1rem;
}
.about-course .vwo_enquiry_btn {
  background: var(--base-gradient);
  border: var(--base-gradient);
  border-radius: 20px;
}

@media only screen and (max-width: 700px) {
  .courses .left-image {
    width: 100%;
    float: left;
    background: rgb(243, 243, 243);
    border-top-left-radius: 25px !important;
  }
  .courses .right-content {
    position: relative;
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 23%);
    transition: all 0.3s;
  }
}
.blog_short_details {
  font-size: 14px !important;
}
.blog_date {
  font-size: 12px;
}
.blog_date svg {
  margin-right: 5px;
}

/* location section 2 end */

/* custom blog design start */
.location_ {
  padding: 20px 30px;
}
.location_details_ {
  display: flex;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  overflow: hidden;
  perspective: 1px;
}
.location_details_ .card_info {
  background: #0e452c;
  width: 100%;
  padding: 20px;
  color: white;
}

.card_info .info_heading {
  text-align: center;
  font-weight: 700;
}
.card_info .info_heading h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.card_info .item {
  margin-bottom: 10px;
}
.card_info .item_title {
  font-weight: 700;
  margin-bottom: 5px;
}
.location_details_ .card_left {
  width: 100%;
}
.location_details_ .card_left .card_img {
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .location_details_ {
    box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
    border-radius: 25px;
    overflow: hidden;
    perspective: 1px;
    display: block;
  }
  .location_{
    padding: 20px 0px;
}
}

/* custom blog design end */

/* google map style start*/
.embed-google-map {
  margin-top: 20px;
}
.embed-google-map iframe {
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
/* google map style end*/

</style>