<template>
  <div>
    <div class="vwo-single-column">
      <div
        v-for="course_cat in course_cat_items"
        :key="course_cat.id"
        class="container content-landing-page"
      >
        <div class="find_course">
          <div class="content">
            <h1 class="course_tittle">{{ course_cat.title }}</h1>
          </div>
        </div>
        <div v-for="course in course_cat.courses" :key="course.id">
          <CourseCard
            :title="course.title"
            :banner="course.banner"
            :slug="'/course/'+course.slug"
          />
        </div>
      </div>

      <div class="ofcdetail_wrapper">
        <section class="ofc_eventswrap usrpage"></section>
        <section class="page-homepage testimonial_wrap">
          <div class="home-container testimonial">
            <div class="row testimonial-video"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
import CourseCard from "~~/components/Cards/CourseCard.vue";
export default {
  components: { CourseCard },
 

  
  data() {
      return {
        course_cat_items: [],
      };
    },
    created() {
      this.loadData();
    },
    methods:{
      loadData:async function(){
        const [{ data: course_category_response }] = await Promise.all([
          useFetch(this.$config.baseApiURL+`/course-category`)
        ])
        this.course_cat_items=course_category_response._value.data;
      }
    }
};
</script>

<style scoped>
.course_tittle {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0px 10px 20px;
}
.vwo-single-column {
  margin-top: 60px;
}

.content-landing-page {
  padding: 0;
}
.image-title .button:hover {
  background: var(--base-gradient-left);
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}
</style>
