<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  src="~/assets/images/Service/One-to-One-Councelling.jpg "
                  alt=""
                />
              </div>
              <div class="yCmsComponent static-content-block">
                <div class="content">
                  <p class="blog_heading">
                    <strong>One To One Counselling</strong>
                  </p>
                  <p>
                    When there are so many career options, students get confused
                    to make one. They get trembled and this often leads them to
                    the world of confusion. In concern to handle their ado, we
                    lead them towards the serenity of career.

                    <br />
                    We open the career path in front of our students along with
                    their relevant future prospects. We comprehend the upcoming
                    opportunities in the field by taking their intent in
                    concern. The best part of our counselling session is that we
                    provide equal opportunities to a student and their guardians
                    for discussing the career.

                    <br />
                    Every session comes with some different content. Our
                    involvement is just there to give a helping hand to the
                    enthusiasts so that they can secure their easy walk to the
                    destination. We understand the parents’ concern in their
                    kids’ career along with their readiness and affordability.
                    Our one to one concern will banish the mist.
                  </p>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
