<template>
  <div class="home-container">
    <div class="row">
      <div class="section-header">
        <h2 class="section-title">FAQ! Need Help?</h2>
        <p class="section-subtitle">We have got you covered</p>
      </div>
    </div>
    <div class="row static-content-page content-page-social">
      <div class="col-sm-12 col-md-7">
        <div class="right-side">
          <div class="right-content">
            <div class="page-header">
              <h1 class="page-title">Frequently Asked Questions</h1>
            </div>
            <!-- accordion start -->
            <div>
              <input
                type="checkbox"
                id="question1"
                name="q"
                class="questions"
              />
              <div class="plus">+</div>
              <label for="question1" class="question">
                How will a student know the admission process?
              </label>
              <div class="answers">
                We will share the entire procedure of the admission of the
                colleges, separately.
              </div>
            </div>
            <div>
              <input
                type="checkbox"
                id="question2"
                name="q"
                class="questions"
              />
              <div class="plus">+</div>
              <label for="question2" class="question">
                How early should I apply?
              </label>
              <div class="answers">
                Once the student comes in our reference, we keep ourselves and
                them updated with the upcoming dates of admission and
                application.
              </div>
            </div>
            <div>
              <input
                type="checkbox"
                id="question3"
                name="q"
                class="questions"
              />
              <div class="plus">+</div>
              <label for="question3" class="question">
                Will you be there to receive on arrival in the new place?
              </label>
              <div class="answers">
                It depends upon the location, though we will discuss it before,
                at the time of making selection of the University.
              </div>
            </div>
            <div>
              <input
                type="checkbox"
                id="question4"
                name="q"
                class="questions"
              />
              <div class="plus">+</div>
              <label for="question4" class="question">
                Should I download the admission form to fill?
              </label>
              <div class="answers">
                Admission becomes our responsibility to carry. Therefore, you
                need to share your requirements and details, we will help you to
                download and fill the admission form.
              </div>
            </div>
            <div>
              <input
                type="checkbox"
                id="question5"
                name="q"
                class="questions"
              />
              <div class="plus">+</div>
              <label for="question5" class="question">
                When will I get the Visa?
              </label>
              <div class="answers">
                Though we will help you to get the Visa and Immigration for the
                relevant country, we can not say the exact period for the same.
                It all depends on the process of their office, system and
                document availability.
              </div>
            </div>

            <!-- accordion end -->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="left-side">
          <div class="left-img">
            <img src="~assets/images/faqs-girl.jpg" class="career" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.content-page-social {
  /* background-color: #f3f3f3; */
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 20px;
}

.description a {
  font-size: 16px;
  font-weight: bold;
  color: var(--base-color);
}
.description a:hover {
  font-weight: bold;
  color: black !important;
  transition: 0.5s;
}

.left-img {
    margin-top: 3rem;
}
img.career {
    border-radius: 20px;
}
/* accordion style start */
.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
  position: relative;
  background: var(--base-color);
  border-radius: 10px;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.answers {
  /* background: var(--base-gradient); */
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  background: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 0px 15px;
  margin: 5px 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.questions:checked ~ .answers {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  color: rgb(250, 250, 250);
  margin-top: 5px;
  z-index: 5;
  font-size: 2em;
  font-weight: bold;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
/* accordion style end */
</style>