<template>
  <div>
    <div class="vwo-single-column">
      <div class="container content-landing-page">
        <div
          v-for="gallery_image in gallery_items"
          :key="gallery_image.id"
          class="yCmsContentSlot"
        >
          <div
            class="
              yCmsComponent
              col-xs-12 col-sm-6 col-md-4
              yComponentWrapper
              fnd_tl
            "
          >
            <div class="item">
              <div class="overlay"></div>
              <img :src="$config.storagePath + gallery_image.banner" />
            </div>
          </div>
        </div>
      </div>

      <div class="ofcdetail_wrapper">
        <section class="ofc_eventswrap usrpage"></section>
        <section class="page-homepage testimonial_wrap">
          <div class="home-container testimonial">
            <div class="row testimonial-video"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      gallery_items: [],
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: async function () {
      const [{ data: gallery_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/gallery`),
      ]);
      this.gallery_items = gallery_response._value.data;
    },
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 0px;
}

.fnd_tl .item {
  display: inline-block;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.fnd_tl .item:hover .image-title {
  bottom: 5px;
  transition: 1.5s;
}

.fnd_tl .item:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}

.fnd_tl {
    margin-top: 20px;
}

.fnd_tl .item .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;

  transition: all 0.5s ease;
  border-radius: 10px;
}
</style>
