<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <div class="vwo-single-column">
      <div class="jumbotron no-space ng-scope">
        <div class="row">
          <div class="col-xs-12 no-space">
            <section class="hero_video_wrapper">
              <div class="hero_video_player">
                <div class="android-play-icon"></div>
                <video
                  controlslist="nofullscreen nodownload"
                  autoplay=""
                  loop
                  muted=""
                  playsinline=""
                  preload="none"
                  played="true"
                >
                  <source src="~/assets/images/video.mp4" type="video/mp4 " />
                  Your browser does not support the video tag.
                </video>
              </div>
            </section>
            <div class="carousel-parent">
              <div class="row carouselComponents col-xs-12 landView">
                <div class="col-md-4 col-sm-12 col-xs-12 image-content">
                  <div class="left-box">
                    <nuxt-link to="one-to-one-counselling" class="common-text">
                      <div class="col-xs-3 col-sm-12 carousel-image-holder">
                        <img
                          class="image-service"
                          src="~/assets/images/Service/4.gif"
                        /><br />
                      </div>
                      <div class="col-xs-9 col-sm-12">
                        <h4 class="content services-custom">
                          One to One Counselling
                        </h4>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 image-content">
                  <div class="left-box">
                    <nuxt-link to="admission-support" class="common-text">
                      <div class="col-xs-3 col-sm-12 carousel-image-holder">
                        <img
                          class="image-service"
                          src="~/assets/images/Service/2.gif"
                          alt="Course search"
                        /><br />
                      </div>
                      <div class="col-xs-9 col-sm-12">
                        <h4 class="content services-custom">
                          Admission Support
                        </h4>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 image-content">
                  <div class="left-box">
                    <nuxt-link to="visa-and-immigration" class="common-text">
                      <div class="col-xs-3 col-sm-12 carousel-image-holder">
                        <img
                          class="image-service"
                          src="~/assets/images/Service/3.gif"
                          alt="Course search"
                        /><br />
                      </div>
                      <div class="col-xs-9 col-sm-12">
                        <h4 class="content services-custom">
                          Visa & Immigration
                        </h4>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="stdntess-openform home-form"></div>
      <div class="home-container testimonial">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Why Us?</h2>
            <p class="section-subtitle">
              We believe in providing quality satisfaction every time
            </p>
          </div>
        </div>
        <div class="row testimonial-video">
          <div
            class="col-xs-12 col-sm-12 col-md-4"
            v-for="studetnt_story_item in studetnt_story_items"
            :key="studetnt_story_item.id"
          >
            <StudentStoryCard :data="studetnt_story_item" />
          </div>
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Top Universities of UK</h2>
            <p class="section-subtitle">We'll help you get there</p>
          </div>
        </div>
        <div class="row">
          <div class="university">
            <UniversitySlide
              :data="
                institution_items.filter(
                  (item) => item.institution_category_id == 1
                )
              "
            />
          </div>
        </div>
      </div>
      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Top Colleges of UK</h2>
            <p class="section-subtitle">We'll help you get there</p>
          </div>
        </div>
        <div class="row">
          <div class="university">
            <UniversitySlide
              :data="
                institution_items.filter(
                  (item) => item.institution_category_id == 2
                )
              "
            />
          </div>
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Most Popular Courses</h2>
            <p class="section-subtitle">Here the most valuable courses</p>
          </div>
        </div>
        <div class="row">
          <div class="popular-course">
            <PopularCourse />
          </div>
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Our students reviews</h2>
            <p class="section-subtitle">
              Success students review which inspire us
            </p>
            <Testimonials />
          </div>
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="request-contact">
            <RequestCallBack />
          </div>
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Latest Blogs</h2>
            <p class="section-subtitle">
              Our blogs are related to all valuable information
            </p>
          </div>
        </div>
        <div class="row">
          <div class="blog-section">
            <BlogSection />
          </div>
        </div>
      </div>
    </div>

    <div class="home-container">
      <div class="row">
        <div class="section-header">
          <h2 class="section-title">Our Partners</h2>
          <p class="section-subtitle">
            Which are help our students to study UK successfully
          </p>
          <OurPartners />
        </div>
      </div>
    </div>

    <StoryModal />
    <PromotionalModal />
  </div>
</template>

<script>
import "assets/css/index.css";
import UniversitySlide from "~~/components/Sliders/UniversitySlide.vue";
import Testimonials from "~~/components/Sliders/Testimonials.vue";
import OurPartners from "~~/components/Sliders/OurPartners.vue";
import PopularCourse from "~~/components/Sliders/PopularCourse.vue";
import BlogSection from "~~/components/Sliders/BlogSection.vue";
import RequestCallBack from "~~/components/Sections/RequestCallBack.vue";
import StudentStoryCard from "~~/components/Cards/StudentStoryCard.vue";
import StoryModal from "~~/components/Modals/StoryModal.vue";
import PromotionalModal from "~~/components/Modals/PromotionalModal.vue";

export default {
  components: {
    UniversitySlide,
    Testimonials,
    OurPartners,
    PopularCourse,
    BlogSection,
    RequestCallBack,
    StudentStoryCard,
    StoryModal,
    PromotionalModal,
  },
  created() {
    this.loadData();
    this.loadPromotionalModal();
  },

  data() {
    return {
      category_items: [],
      institution_items: [],
      studetnt_story_items: [],
    };
  },

  methods: {
    loadPromotionalModal: function () {
      // if (typeof localStorage !== "undefined") {
      //   console.log(localStorage);
      // } else {
      //   console.log("localStorage not defined");
      // }

      var _this = this;

      var promotionalModalInterval = setInterval(function () {
        // console.log("Interval Finish");
        _this.$bus.$emit("promotionalModal");
        clearInterval(promotionalModalInterval);
      }, 3000);
    },
    openMobileMenu: function () {
      this.$emit("mainTag");
      this.$nuxt.$emit("open-contact-form");
    },
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [
        { data: category_response },
        { data: institution_response },
        { data: studetnt_story_response },
      ] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/institution-category`),
        useFetch(this.$config.baseApiURL + `/institution`),
        useFetch(this.$config.baseApiURL + `/student-story?limit=3`),
      ]);

      this.category_items = category_response._value.data;
      this.institution_items = institution_response._value.data;
      this.studetnt_story_items = studetnt_story_response._value.data;
    },
  },
};
</script>
<style scoped>
/* service style start */
.image-content:hover {
  transform: scale(1.2);
  overflow: hidden;
  transition: 1.5s;
  z-index: 999;
}
.image-content :hover .common-text .services-custom {
  font-weight: 900;
  color: var(--base-color);
  transition: 1s;
}

/* service style end */

/* testimonial style  */
/* .services-custom{ margin-top: -22px !important; } */
#carouselList .col-xs-12 .col-sm-3 {
  padding-bottom: 10px !important;
}

.see_more_btn {
  float: right;
  font-size: 18px;
  background: 0 0;
  color: linear-gradient(to right, #0eb582 0%, #50b851 100%);
  text-decoration: none;
  outline: 0 !important;
  padding-right: 10px;
  font-weight: 700;
}
.see_more_btn:hover {
  color: #50b851;
}
.view_all_ans {
  margin-top: 15px !important;
}

/* from design */
.static_banner {
  background: none;
}
.form-control {
  border-radius: 15px !important;
  border: 1px solid #b8bbc677;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 6rem;
}
.content-page .left-panel {
  /* top: -185px !important; */
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 65%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}
.left_img img {
  border-radius: 15px;
}
.static_banner {
  min-height: 245px;
}

/* what people about say us */


  /* responsive one to one counselling */
    @media (max-width: 767px) {

      h4.content.services-custom {
            padding-top: 1.2em !important;
    }

    }
</style>
