<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">            
            <SinglePageCard :data="country" />
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
import SinglePageCard from "~~/components/Cards/SinglePageCard.vue";
export default {
  components: { RightSideBar ,SinglePageCard },
  data() {
    return {
      country: {
        id: 1,
        title: "India",
        banner:
          "Internationals/national_flag_2.png",
        description: `<p>Students in the UK have the option of working a part-time job. There are different rules for students who are coming from the EU. Depending upon the Visa the students get an average timing hours per week. Therefore, the maximum working hours of a student totally depends upon on the Biometrics Residence Permit (BRP). There are a number of options for students to work part time within their institutions or in small and medium sized companies. Finding a part time job is not that hard. There are multiple ways that can help students find a job.</p>
<p>With so many job websites on the internet, it makes it super easy for students to get a part time job. Every website has different features to explore. There are an endless number of portals which are helping students find suitable jobs. Some of the best portals in the UK are</p>
<ul class="list-unstyled list-detail">
<li>CV-Library</li>
<li>Indeed</li>
<li>WikiJobs</li>
<li>Totaljobs</li>
<li>Reed</li>
<li>Monster</li>
<li>Glassdoor</li>
<li>Guardian Jobs</li>
</ul>
<p>These portals bridge the gap between job seekers and the companies. They provide a large range of options for the students to choose from.</p>
<ul class="list-unstyled list-detail">
<li>Most of the students find part time jobs in their area or close to their universities with references from their friends and contacts. Every individual knows their area well, so it becomes easy for them to navigate the opening in and around their area. There are a number of small stores and companies who that mostly have vacancies for young students. It also becomes easier for the students to be safe and with known people.</li>
<li>There are multiple local businesses as well who are providing job in the city. Networking plays one of the best roles here. Students who have a good network will always be able to find a job. There is a pattern of referrals in the UK, so if anyone related to that student refers them to the organisation, it will eventually increase the opportunities for the students. There are number of career websites as well that can help in getting leads for companies having vacancies. Job Fairs are hosted in and around the city most of the time, students can get attractive job offers in these type of job fairs. Local ways also include internships, there are many companies in London who are offering internship opportunities to students.</li>
<li>Online job search options are also one of the best ways to find jobs in the city. There are various job search engines, that offer a variety of jobs and internships for students. Many companies advertise their job vacancies on social media and other platforms. There are various local job sites, that also have various vacancies for students. Therefore, it makes it easy for students to get a job in London.</li>
</ul>`,
      },
    };
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
