<template>
  <div>
    <div class="vwo-single-column">
      <div class="container content-landing-page">
        <div class="col-md-2"></div>
        <div v-for="course in category_items" :key="course.id">
          <CourseCard
            :title="course.name"
            :slug="`/institution-category/${course.slug}`"
            :banner="course.banner"
          />
        </div>
      </div>

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Top Universities of UK</h2>
            <p class="section-subtitle">We'll help you get there</p>
          </div>
        </div>
        <div class="row">
          <div class="popular-course">
            <UniversitySlide
              :data="
                institution_items.filter(
                  (item) => item.institution_category_id == 1
                )
              "
            />
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="link_panl">
          <h2>Top Universities of UK, we'll help you get there</h2>
          <UniversitySlide :data="institution_items.filter(item => item.institution_category_id == 1)"/>
        </div>
      </div> -->

      <div class="home-container">
        <div class="row">
          <div class="section-header">
            <h2 class="section-title">Top Colleges of UK</h2>
            <p class="section-subtitle">we'll help you get there</p>
          </div>
        </div>
        <div class="row">
          <div class="popular-course">
            <UniversitySlide
              :data="
                institution_items.filter(
                  (item) => item.institution_category_id == 2
                )
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UniversitySlide from "~~/components/Sliders/UniversitySlide.vue";
import CourseCard from "~~/components/Cards/CourseCard.vue";
export default {
  components: { UniversitySlide, CourseCard },
  data() {
    return {
      category_items: [],
      institution_items: [],
    };
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [{ data: category_response }, { data: institution_response }] =
        await Promise.all([
          useFetch(this.$config.baseApiURL + `/institution-category`),
          useFetch(this.$config.baseApiURL + `/institution`),
        ]);

      this.category_items = category_response._value.data;
      this.institution_items = institution_response._value.data;
    },
  },
};
</script>

<style scoped>
.content {
  text-align: center;
}
.fnd_tl img {
  border-radius: 10px;
}
.fnd_tl .image-title {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  z-index: 997;
  margin-bottom: 1rem;
}

.fnd_tl a {
  display: inline-block;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.fnd_tl a:hover .image-title {
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}

.fnd_tl {
  margin-bottom: 20px;
}

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: linear-gradient(to bottom, #000f04 0%, #000000 100%);
  z-index: 900;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.course_tittle {
  font-weight: 600;
  font-size: 24px;
  margin: 30px 0px 10px 20px;
}
.vwo-single-column {
  margin-top: 60px;
}

.content-landing-page {
  padding: 0;
}
.image-title .button:hover {
  background: var(--base-gradient-left);
  transition: all 0.5s ease;
}
</style>
