<template>
  <div class="home-container testimonial">
    <div class="row testimonial-title">
      <div
        class="yCmsComponent col-xs-12 col-sm-12 col-md-12 yComponentWrapper"
      >
        <div class="content">
          <h2>Meet with team</h2>
        </div>
      </div>
    </div>
    <div class="row testimonial-video">

     <TeamCard v-for="row in teams" :key ="row.id" :data="row"  />
 
      
     
 
    </div>
  </div>
</template>

<script>
import TeamCard from "~~/components/Cards/TeamCard.vue";
export default {
    components: { TeamCard },

    data() {
      return {
        teams: [],
      };
    },

    created() {
      this.loadData();
    },

    methods:{
      loadData:async function(){
        // console.log(this.$config.baseApiURL);

        const [{ data: team_response }] = await Promise.all([
          useFetch(this.$config.baseApiURL+`/team`)
        ])

        this.teams=team_response._value.data;

      }
      
    }
}

</script>


<style scoped>
.team_section {
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
.team-member-image {
  overflow: hidden;
}
.team-member-image:hover img {
  transform: scale(1.1);
  transition: all 1.5s ease;
}
.list-header-name {
  padding: 15px;
  position: relative;
  height: 140px;
  text-align: center;
}
.list-header-name .name {
  margin: 5px 0px;
  font-weight: 700;
  color: #000000;
}
.list-header-name .email {
  font-size: 13px;
}
.list-header-name .designation {
  font-size: 14px;
  line-height: 1.6;
  color: #505050;
  font-weight: 700;
  letter-spacing: 0.25px;
}
</style>
