<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="container vwo-single-column">
      <div class="row">
        <div class="col-md-12">
          <div class="left-title">
            <div class="page-header">
              <h1 class="page-title">Message From Director</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div class="col-sm-12 col-md-5">
          <div class="left-side">
            <div class="left-img">
              <img src="~assets/images/tarek_mahmud.jpeg" class="tarek-img" />
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="right-side">
            <div class="right-content">
              <h2 class="blog-title">Tarek Mahmud</h2>
              <p>Director, Compliance</p>
              <div class="description">
                <p>
                  I’m blessed to be a part of many ‘Success Stories’. Due to
                  globalization, the education system has also adopted the same.
                  Many prudent students from over 180 different countries are
                  willing to move for their higher educations. They want to
                  pursue courses that are highly recognized worldwide. Here,
                  students and guardians need to have some guidance to connect
                  them with universities and colleges. Our guidance makes them
                  connect well and thus, we get pleasure in their success.

                  <br />
                  Our profession is like an everyday assimilation with desire
                  and dreams. We cordially help them to achieve their goals with
                  our expertise. The experts assist and guide students in their
                  admission process to create a foundation for their well-turned
                  career. Our constant input is to pour and to maintain the
                  highest standard of our efforts.
                  <br />
                  We work with integrity, transparency, and experience. Our
                  ultimate aim is to create a hassle-free admission process. Our
                  alacrity, zeal, and enthusiasm are the keys to success. The
                  creation and endeavors of Tarek Associates limited reflect on
                  many achieved goals, and that’s my real earning! <br /><br />
                  Kindest regards & thanks <br />
                  Tarek Mahmud <br />
                  Director, Tarek Associates LTD.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.static_banner {
  min-height: 300px;
  background: none;
}
.tarek-img {
  border-radius: 0px 25px 25px 0px;
  margin-left: -1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.content-page .container__full.content-top .left-panel {
  padding-bottom: 40px !important;
  border-radius: 0px 20px 20px 20px;
}
.content-page .static-content-block .content h2 {
  font-size: 28px;
  font-weight: 600;
  
  color: #1d202c;
  line-height: 32px;
  letter-spacing: -0.025em;
  margin-bottom: 5px;
}
.content-page .static-content-block .content p {
  font-size: 16px;
  font-weight: 300;
  color: #1d202c;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.content-page .content {
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.container {
  width: 100%;
}
.vwo-single-column {
  padding: 40px;
  margin-top: 2rem;
}
.content-page-social {
  background-color: #f3f3f3;
  border-radius: 25px;
}
.right-side {
  padding: 30px 0px;
}
.description p {
  font-size: 17px;
}

@media only screen and (max-width: 700px) {
  .vwo-single-column {
    padding: 0px !important;
  }
}
</style>
