<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  src="~/assets/images/Service/One-to-One-Councelling.jpg "
                  alt=""
                />
              </div>
              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <div class="page-header">
                    <h4 class="page-title">Counselling</h4>
                  </div>
                  <!-- <p class="blog_heading">
                    <strong></strong>
                  </p> -->
                  <br />
                  <p>
                    When there are so many career options, students get confused
                    about choosing  one. They get trembled and this often leads them Into the world of confusion. In concern to handle their ado, we
                    lead them towards the serenity of a career.

                    <br />
                    <br />
                    We Lay the career path in front of our students along with
                    their relevant future prospects. By taking their intent into consideration, We comprehend the upcoming
                    opportunities in the field by taking their intent in
                    concern. The best part of our counselling sessions is that we
                    provide equal opportunities for a student and their guardians
                    to discuss their career.

                    <br />
                    <br />
                    Every session comes with some different content. Our
                    involvement is just there to give a helping hand to the
                    enthusiasts so that they can secure their easy walk to the
                    destination. We understand the parents’ concern about their
                    kids’ career along with their readiness and affordability.
                    Our one-to-one concern will banish the mist.
                  </p>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
