<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>

    <!--start of body content-->
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div
                class="yCmsComponent static-content-block blog_content_heading"
              >
                <div class="content">
                  <h1>Our Services</h1>
                </div>
                <div
                  v-for="service in service_items"
                  :key="service.id"
                  class="location_"
                >
                    <nuxt-link :to="`/${service.slug}`">
                  <div class="location_details_">
                    <div class="card_left">
                      <img class="card_img" :src="$config.storagePath+service.banner" />
                    </div>
                    <div class="card_info">
                      <div class="info_heading">
                        <h4>{{ service.name }}</h4>
                      </div>
                      <div class="item">
                        <button
                          class="button btn vwo_enquiry_btn"
                          ><span>View Details</span
                          ><span
                            class="glyphicon glyphicon-menu-right pull-right"
                          ></span
                        ></button>
                      </div>
                    </div>
                   
                  </div>
                   </nuxt-link>
                </div>
              </div>
            </div>

            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },

    data() {
      return {
        service_items: [],
      };
    },

    created() {
      this.loadData();
    },

    methods:{
      loadData:async function(){
        // console.log(this.$config.baseApiURL);

        const [{ data: service_response }] = await Promise.all([
          useFetch(this.$config.baseApiURL+`/service`)
        ])

        this.service_items=service_response._value.data;

      }
      
    }


};
</script>

<style scoped>
.button {
	color: var(--base-color);
	background: #fff;
}
.static_banner {
  background: none;
}
/* custom blog design start */
.location_ {
  margin: 20px 0px;
  padding-top: 10px;
}
.location_details_ {
  display: flex;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  overflow: hidden;
  perspective: 1px;
}
.location_details_ .card_info {
  background: var(--base-color);
  width: 100%;
  padding: 20px;
  color: white;
}

.card_info .info_heading {
  text-align: center;
  font-weight: 700;
}
.card_info .info_heading h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 2rem 0;
  font-size: 22px;
}
.card_info .item {
  text-align: center;
}
.card_info .item a {
	margin-top: 5px;
	background: white;
	color: var(--base-color);
}
.card_info .item_title {
  font-weight: 700;
  letter-spacing: 1px;
}
.location_details_ .card_left {
  width: 100%;
}
.location_details_ .card_left .card_img {
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .location_details_ {
    box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
    border-radius: 25px;
    overflow: hidden;
    perspective: 1px;
    display: block;
  }
}

/* custom blog design end */
</style>
