<template>
	<div>
		<div class="yCmsContentSlot container-fluid"></div>
		<a id="skip-to-content" tabindex="-1"></a>
		<div class="vwo-single-column">
			<div class="static_banner">
				<div class="yCmsContentSlot">
					<div class="yCmsComponent"></div>
				</div>
			</div>
			<div class="row static-content-page content-page-social">
				<div>
					<div class="container__full content-top clearfix">
						<div class="yCmsContentSlot left-panel">
							<div class="blog_img">
								<img
									class="blog_img_cus"
									src="~/assets/images/privacy-policy.jpg"
									alt=""
								/>
							</div>
							<div
								class="
									yCmsComponent
									blog_content_heading
								"
							>
								<div class="content">
									<div class="page-header">
										<span
											class="
												page-title
												blog_heading
											"
										>
											Privacy
											Policy</span
										>
									</div>
									<p>
										We value your
										privacy and
										therefore we are
										committed to
										protecting your
										information with us.
										We clearly state our
										policy and its terms
										so that you can have
										an idea of how the
										information is going
										to be used.
									</p>
									<p>
										The privacy policy
										is a legal document
										that talks about
										customers’ data and
										its usages. The
										content of privacy
										policy depends upon
										the applicable law
										according to the
										respective country
										and jurisdiction. As
										there is no
										universal guideline
										that every
										organization should
										follow, Tarek
										Associates too
										provides an example
										form similar to many
										other organizations.
									</p>
									<p>
										Tarek Associates
										considers your
										privacy to ensure
										the validity of your
										shared data.
										Whatever you share
										with us, we keep
										them safe and secure
										with our sound
										efforts. The privacy
										policy will explain
										how Tarek Associates
										processes your
										shared information
										either directly or
										indirectly.
									</p>
									<br />
									<p>
										Firstly, we would
										like to
										differentiate the
										two terms, user and
										visitor. The user is
										the one with whom we
										share a relation
										whereas the visitor
										is the one, who just
										visits the front-end
										website.
									</p>
									<p>
										Whether it is about
										user or visitor,
										Tarek Associates
										takes both into
										consideration while
										preparing for the
										privacy policy.
										Every information
										stored in our server
										is treated as
										confidential in
										various terms. We
										store them carefully
										by keeping the
										various aspects in
										mind. We apply
										organizational
										measures to protect
										personal data from
										any unauthorized
										processing of data.
										Any unlawful
										activity is treated
										under the policy.
										Your consent is most
										important to us,
										where our privacy
										policy lies.
									</p>
									<h3>
										Website Policy
									</h3>
									<p>
										Tarek Associates
										takes website policy
										as a crucial part of
										the entire privacy
										policy. The section
										is dedicated to the
										visitors to our
										website
										www.tarekassociates.co.uk.
										Whenever one visits
										the website, we ask
										for your grant for
										taking any
										information. When we
										ask you for certain
										information, you can
										see the privacy
										statement there for
										assurance.
									</p>
									<p>
										We pursue the right
										to change the
										website policy and
										statement at any
										time. Therefore, you
										should not take the
										statement for
										granted. One needs
										to check it well to
										ensure that you are
										comfortable with the
										changes or not.
									</p>
									<p>
										Tarek Associates may
										collect the personal
										data that one
										volunteers to us via
										our website. The
										consent will be
										entirely voluntary.
										If you don’t grant
										the requested
										consent, you may
										face prohibition
										from using the
										website.
										Furthermore, if you
										have accepted and
										signed for
										consultation or
										other activities, we
										may process the
										information. The
										personal data may
										include your IP
										address, first and
										last name, postal
										and mailing address,
										contact information
										and many more. This
										can also comprise
										your social media
										details, from where
										we can retrieve your
										public information
										for our further
										process.
									</p>
									<p>
										Our motive behind
										gathering such
										details from the
										visitors and users
										is to get to know
										more about them and
										our relationship as
										well. We can put
										those pieces of
										information for the
										sake of our
										performances and
										services. From the
										geolocation data to
										the time spent on
										our website, every
										tiny detail
										contributes to the
										betterment of our
										services.
									</p>
									<h3>
										Website visitors and
										cookies
									</h3>
									<p>
										Whenever one visitor
										visits our website,
										the page may ask for
										your permission in
										terms of cookies. A
										cookie is a small
										file that gets
										placed into your
										PC’s hard drive
										after your approval
										for the same. This
										further helps to
										analyze web traffic.
										Additionally, it
										lets you know when
										and how often you
										visit the website.
										Here, web
										applications also
										respond to you as an
										individual one.
									</p>
									<p>
										Cookies help us to
										provide a better
										website to you as we
										can monitor your
										preferences about
										the different
										webpages. We use any
										data or information
										for our statistical
										analysis. After
										that, the data is
										removed from the
										system to prevent
										any doubts or agony.
										The web application
										tailors the
										operation about your
										needs, preferences,
										likes, and dislikes.
										It gathers and
										remembers the data
										to serve you better,
										every time.
									</p>
									<p>
										Though most web
										browsers are created
										in the way to accept
										the cookies
										spontaneously, you
										can manage it by
										their settings. It
										is up to you whether
										you want to accept
										the cookies or not.
										Your explicit
										consent matters to
										allow us to process
										any personal data.
										From the pages
										clicked to visitors’
										locations, every
										data is important to
										us.
									</p>
									<h3>
										Links to other
										websites
									</h3>
									<p>
										Our official website
										www.tarekassociates.co.uk
										may contain some
										links to various
										websites. These
										links will let you
										leave our website
										and will direct you
										to the specific one.
										You must note that
										we are not
										responsible for the
										conversation between
										you and that
										website. Your
										privacy and
										protection become
										the matter of that
										website, where you
										are getting the
										transfer. Now, you
										need to exercise the
										questions and
										privacy concerns of
										that website.
									</p>
									<h3>
										The acceptance of
										the conditions
									</h3>
									<p>
										Tarek Associates has
										included all the
										necessary cautions.
										If you visit our
										website, we assume
										that you have read
										the terms carefully.
										Every user or
										visitor of our
										website must read
										the document and
										agree to its terms.
										We reserve the right
										to change the policy
										whenever it is
										needed. As privacy
										policy is an
										essential part of
										our terms of use,
										you must take it
										into your consent
										for visiting the
										page. If you
										disagree with the
										privacy policy, you
										should refrain from
										using the website or
										specific services.
									</p>
									<h3>
										Personal information
										disclosure
									</h3>
									<p>
										You are not
										compelled to share
										your information
										with us. There are a
										few ways to restrict
										the collection of
										your personal
										information. When
										you visit a website
										and you are asked to
										fill a form, you
										should see for asked
										questions. If there
										are some questions
										you are not willing
										to answer, look for
										the box to intimate
										the same.
										Additionally, if it
										looks you as a
										direct marketing
										purpose, you can
										avoid that too.
									</p>
									<p>
										If you have agreed
										to the direct
										marketing purpose
										data collection and
										now, you have
										changed the mind,
										you can contact us
										via emailing or any
										available source. We
										neither sell nor
										distribute your
										information to any
										third party to make
										tangible profits,
										especially if it is
										not with your
										consent.
									</p>
									<p>
										We abide by the Data
										Protection Act 1998
										and therefore, if
										you would like to
										have some
										information about
										the same, you can
										write to us. Tarek
										Associates has a
										Data Protection
										Officer, who is
										responsible for
										privacy and data
										protection matters.
									</p>
									<p>
										TAREK ASSOCIATES
										<br /><br />NH.202 E1 Studio, 7 Whitechapel Road, 
										<br />London, E1 1DU
										<br />
										<a
											href="mailto:info@tarekassociates.co.uk"
											>info@tarekassociates.co.uk</a
										>
									</p>
									<h3>
										Disabling your
										account
									</h3>
									<p>
										Please note that
										deleting your
										account login
										doesn’t remove your
										information we hold
										with us. If you wish
										to unsubscribe our
										communication, you
										can click on the
										unsubscribe link
										that is given below
										in the email. But to
										remove the entire
										information from our
										system, you must
										contact us.
									</p>
									<h3>
										Contact information
									</h3>
									<p>
										Feel free to contact
										us for any query –
										<br />Tarek
										Associates <br />NH.202 E1 Studio, 7 Whitechapel Road, 
										<br />London, E1 1DU
									</p>
								</div>
							</div>
						</div>
						<RightSideBar />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
	export default { components: { RightSideBar } };
</script> 
<style scoped>
	.static_banner {
		background: none;
	}
	.content-page .static-content-block .content p {
		font-size: 17px;
		font-weight: 300;
		color: #000000;
		line-height: 1.4;
		letter-spacing: -0.025em;
	}
	.blog_heading {
		font-size: 18px !important;
		font-weight: 900;
	}
	.content-page .left-panel {
		/* top: -185px !important; */
		width: 760px;
	}
	.blog_img_cus {
		overflow: hidden;
	}
	.content-page .blog_content_heading {
		margin-top: 0px;
		padding: 0px 40px;
	}
	span.page-title.blog_heading {
		font-size: 20px !important;
		line-height: 30px !important;
	}
</style>