<template>
  <div>
    <div class="vwo-single-column" v-if="renderComponent">
      <div
        class="container content-landing-page"
        v-if="search_data.courses && search_data.courses.length > 0"
      >
        <br />
        <br />
        <br />
        <h3>Here are the seaching result for your desire courses:</h3>
        <div class="row">
          <div class="" v-for="course in search_data.courses" :key="course.id">
            <SearchCourseCard
              :title="course.title"
              :banner="course.banner"
              :slug="'/course/' + course.slug"
            />
          </div>
        </div>
      </div>

      <div
        class="container content-landing-page"
        v-if="search_data.institutions && search_data.institutions.length > 0"
      >
        <br />
        <br />
        <br />
        <h3>Here are the seaching result for your desire institutes:</h3>
        <div
          v-for="institution in search_data.institutions"
          :key="institution.id"
          class="yCmsContentSlot"
        >
          <div
            class="
              yCmsComponent
              col-xs-12 col-sm-6 col-md-4
              yComponentWrapper
              fnd_tl
            "
          >
            <nuxt-link :to="'/institution/' + institution.slug">
              <div class="overlay"></div>
              <img :src="$config.storagePath + institution.logo" />
            </nuxt-link>
            <div class="uni-info">
              <h3>{{ institution.name }}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="ofcdetail_wrapper">
        <section class="ofc_eventswrap usrpage"></section>
        <section class="page-homepage testimonial_wrap">
          <div class="home-container testimonial">
            <div class="row testimonial-video"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import SearchCourseCard from "~~/components/Cards/SearchCourseCard.vue";
export default {
  components: { SearchCourseCard },
  data() {
    return {
      search_data: [],
      renderComponent: true,
    };
  },

  watch: {
    $route: function () {
      // console.log("Watch...");
      console.log(this.$route.params);
      this.loadData();
    },
  },

  // updated() {
  //   console.log("Updated...");
  //   this.loadData();
  // },

  // created() {
  //   console.log("Created...");
  //   console.log(this.$route.params);
  //   this.loadData();
  // },

  mounted() {
    // console.log("Mounted...");
    console.log(this.$route.params);
    this.loadData();
  },

  methods: {
    forceRerender: function () {
      // Removing my-component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // Adding the component back in
        this.renderComponent = true;
      });
    },

    loadData: async function () {
      let text = this.$route.params.text;
      let category = this.$route.params.category;

      const [{ data: search_data }] = await Promise.all([
        useFetch(
          this.$config.baseApiURL +
            `/search?text=` +
            text +
            `&category=` +
            category
        ),
      ]);

      this.search_data = search_data._value.data;

      this.forceRerender();
    },
  },
};
</script>

<style scoped>
.fnd_tl img {
  border-radius: 10px;
}

.fnd_tl a {
  border-radius: 20px;
  box-shadow: 2px 5px 10px 0 rgba(9, 9, 9, 0.2);
  display: block;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.fnd_tl a:hover .image-title {
  bottom: 5px;
  border-radius: 10px;
  transition: 1.5s;
}

.fnd_tl a:hover img {
  transform: scale(1.2);
  transition: 1.5s;
}
.fnd_tl {
  margin-bottom: 20px;
}

.fnd_tl a .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;

  transition: all 0.5s ease;
  border-radius: 10px;
}

.uni-info h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  height: 60px;
  text-align: center;
  text-transform: CAPITALIZE;
}
</style>