<template>
  <div>
    <form @submit.prevent="createUser">
      <input type="text" v-model="form.name" placeholder="name" /><br />
      <input type="text" v-model="form.email" placeholder="email" />
      <button type="submti" class="btn btn-success">Submit</button>
      <div v-if="response_message != ''">
        <p>{{ response_message }}</p>
      </div>
    </form>
  </div>
</template>
 
<script>
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
      },
      response_message: "",
    };
  },
  methods: {
    emptyFormData: function () {
      this.form = {};
    },

    createUser: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {
            // Log error
            // console.log("[fetch request error]", request, error);
          },
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
</style>