<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">                       
            <SinglePageCard :data="country" />
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
import SinglePageCard from "~~/components/Cards/SinglePageCard.vue";
export default {
  components: { RightSideBar ,SinglePageCard },
  data() {
    return {
      country: {
        id: 1,
        title: "South Africa",
        banner: "Internationals/national_flag_3.png",
        description: `<div class="content">
<p class="content-detail">There is a vibrant South African community in the United Kingdom. Due to the long history of both countries, United Kingdom is a lucrative study destination for South African students.</p>
</div>
<div class="course-des-title underline international">Entry Requirements</div>
<br />
<div class="content">
<p class="content-detail">Indian applicants are generally required to follow the summarized minimum entry requirements below. Please carefully check the requirements for your chosen programme with our specialists prior to application.</p>
</div>

<br /><br />
<div class="course-des-title underline international">Entry Requirements:</div>
<br />
<div class="content">
<p class="content-detail">For Undergraduate courses:</p>
<p class="content-detail">&nbsp;</p>
<table class="tbl-south-africa">
<tbody>
<tr>
<td class="td-south-africa">A Level grades</td>
<td class="td-south-africa-green">A*A*A</td>
<td class="td-south-africa-green">A*AA</td>
<td class="td-south-africa-green">AAA</td>
<td class="td-south-africa-green">AAB</td>
<td class="td-south-africa-green">ABB</td>
</tr>
<tr>
<td class="td-south-africa">NSC grades</td>
<td class="td-south-africa-green">77777</td>
<td class="td-south-africa-green">77776</td>
<td class="td-south-africa-green">77766</td>
<td class="td-south-africa-green">77666</td>
<td class="td-south-africa-green">76666</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p class="content-detail">For Postgraduate Degrees:</p>
<ul class="list-unstyled list-detail">
<li>Bachelor (Honors) degree with Second Class Division 1 Honors or 70%.</li>
<li>Master&rsquo;s degrees from recognized universities.</li>
</ul>
</div>
<div class="course-des-title underline international">English language requirements:</div>
<br />
<div class="content">
<p class="content-detail">All international students studying in the UK on a Tier 4 visa/Student Route visa must demonstrate their English language proficiency. Each program specifies the minimum English language requirements.</p>
<p class="content-detail">Almost all universities accept a variety of international English examinations, such as IELTS, IELTS UKVI, TOEFL, IBT, Pearson Test, OIETC, Duo lingo, and others.</p>
</div>
<div class="course-des-title underline international">Documents to put on your check list:</div>
<br />
<div class="content">
<ul class="list-unstyled list-detail">
<li>Passport</li>
<li>All visa copies (if applicable)</li>
<li>Updated CV</li>
<li>All educational documents</li>
<li>IELTS or Equivalent (if applicable)</li>
<li>Reference letter (academic)</li>
<li>SOP (statement of purpose)</li>
<li>Explain your academic credentials</li>
<li>Reason out why you chose this program</li>
<li>Why you choose that country?</li>
<li>Why you choose that University?</li>
<li>Give demonstrative examples of academic brilliance or professional competence, instead of vague statement</li>
<li>Paint a clear picture of your aim and your aspiration</li>
<li>State your career plans&mdash;be it higher studies or a job.</li>
</ul>
</div>
<div id="AP" class="course-des-title underline international">Admission Process:</div>
<br />
<div class="content">
<p class="content-detail">Tarek Associates has the motive of filling out the application form along with every student. We aim to provide the most appropriate college for students to shape their career and future. For us, admission is the ultimate goal to be received.</p>
<p class="content-detail">We let the student choose among the various options and then, we keep the constant connection with the institute. This makes us aware of their admission process along with the availability of application forms.</p>
<p class="content-detail">We avail the application forms of the designated institution to the students and guardians. Along with the same, we do share the information regarding any other requirement. We work as a mediator between the institution and the student, to establish a perpetual conversation.</p>
<p class="content-detail">The receiving and sending of the documents can be accessed by our end, on your behalf.</p>
</div>
<div id="VAP" class="course-des-title underline international">Visa Application Process:</div>
<br />
<div class="content">
<p class="content-detail">Visa and immigration are the essential parts of the decision, taking for higher education in foreign countries. These will be dealt with ease and simplicity by us as we will provide you a with list of required and supporting documents. This will elicit the need for papers before going on to fill in the application.</p>
<p class="content-detail">We help the students not only deal with the perplexing registration process but also handle the tantrums of payments. A student can easily complete and apply with the online Visa submission process.</p>
<p class="content-detail">If a student gets any issue in booking the appointments or applying for Visa, we proceed for the conversation in the relevant foreign embassies. Our efforts will ease the process of your Visa arrival which will further befit your educational requirements.</p>
</div>
<div id="PRE" class="course-des-title underline international">Pre-Arrival:</div>
<br />
<div class="content">
<p class="content-detail">Before you arrive at an unknown place for your education, Tarek Associates arranges some really crucial things that one must need. We have a list of things to do by our end for soothing your arrival and to ensure a hassle-free advent &ndash; Since you are an alien to the new place, you will need a handful of money to survive there until the place adopts you. We avail adequate finance to the students who are moving for taking admission in a foreign university that will support them for admission and many other required funds.</p>
<p class="content-detail">It becomes necessary to have a bank account, in a foreign country where you are residing, too manage  the money well. For this purpose, you may need a letter from your university as you are not a resident to that overseas place.</p>
<p class="content-detail">The health problems are an undeniable truth that may come at anytime. As you, as you arrive in the new country, you must register with a doctor to avoid any emergency. In this reference, you may take help from the university.</p>
<p class="content-detail">You can apply for a student travel card for the new place. This will allow you to take some good student discounts. You can wander the country with their terms and regulations along with some exemptions.</p>
<p class="content-detail">We will help you with our comprehensions and experience. But all your safety and security measurements will be derived from your university. You will need to communicate there to find out everything about this concern.</p>
</div>
<div id="POST" class="course-des-title underline international">Post-Arrival:</div>
<br />
<div class="content">
<p class="content-detail">Once, the student arrives at the new place, the urgency begins. Tarek Associates believes in handling the urgencies conveniently. Therefore, we keep things prepared and informed.</p>
<p class="content-detail">On your arrival, you need to ensure the availability of all the documents that are needed to pursue there. This will be a life-changing opportunity for you to take a step for a bright career ahead with such university of Overseas. You are there to perceive the higher education so you should carry the relevant documents to confirm a happy advent in the country.</p>
<p class="content-detail">From a valid passport to the University&rsquo;s statements, you must keep the documents in your reach so that you can show them, wherever needed. The next requirement is the full postal address of the place, where you are going to live after admission.</p>
<p class="content-detail">Accommodation plans are an essential part of the entire admission process as you are going to live there after your classes. Though it is not necessary to have accommodation to acquire a student visa, a student must have it to ensure their safety. We recommend the University hostels for the first years students so that they can acclimatize themselves in the new country.</p>
</div>
<div class="course-des-title underline international">How much does a student earn in the UK?:</div>
<br />
<div class="content">
<p class="content-detail">International students in the UK are allowed to work up to 20 hours a week maximum. On average, students make from &pound;200 to &pound;300 per week by working part-time in the UK. This is enough income for international students to bear their university tuition fees. During the offseason and weekends, the student may work extra. They are allowed to work within the university or outside.</p>
</div>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;`,
      },
    };
  },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
