<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>

    <!--start of body content-->
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix"> 
            <div class="yCmsContentSlot left-panel">
              <div
                class="yCmsComponent static-content-block blog_content_heading"
              >
                <div class="content">
                  <h1>Our Stories</h1>
                </div>
              </div>
              <div class="row testimonial-video">
                <div class="col-md-12">
                  <div class="col-xs-12 col-sm-12 col-md-6" v-for="review in reviews" :key="review.id">
                    <StudentStoryCard :data="review"/>
                  </div>                  
                </div>
              </div>
            </div>

            <RightSideBar />
          </div>
        </div>
      </div>
    </div>

    <StoryModal />
    
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
import StudentStoryCard from "~~/components/Cards/StudentStoryCard.vue";
import StoryModal from "~~/components/Modals/StoryModal.vue";
export default {
  components: { RightSideBar, StudentStoryCard, StoryModal },
  data() {
    return {
      embed_link:'',
      reviews: [],
    };
  },
  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [{ data: review_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/student-story`),
      ]);

      this.reviews = review_response._value.data;
    },
  },
};
</script>

<style scoped>
.card_header {
  font-size: 18px;
  font-weight: 500;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 25px;
  margin-top: 1.5rem !important;
}
.courses {
  height: 200px;
}
.courses .left-image img {
  border-radius: 20px 20px 0px 0px;
}
.courses .right-content {
  height: 240px;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 23%);
  transition: all 0.3s;
  border-radius: 0px 0px 20px 20px;
}
.courses .right-content .about-course {
  padding: 15px;
  float: right;
  height: 200px;
  width: 100%;
}
.about-course .vwo_enquiry_btn {
  background: var(--base-gradient);
  border: var(--base-gradient);
  border-radius: 20px;
}

@media only screen and (max-width: 700px) {
  .courses .left-image {
    width: 100%;
    float: left;
    background: rgb(243, 243, 243);
    border-top-left-radius: 25px !important;
  }
  .courses .right-content {
    position: relative;
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 23%);
    transition: all 0.3s;
  }
}
.blog_short_details {
  font-size: 15px !important;
}
.blog_see_more {
  font-size: 15px;
}
.blog_see_more:hover svg {
  transform: translate(20px);
  transition: all 1s ease-in-out;
}
.blog_see_more:hover {
  font-weight: 700;
  transition: all 1s ease-in-out;
  color: #50b851;
}
.static_banner {
  min-height: 280px;
  background: none;
}
.blog_date {
  font-size: 12px;
}
.short_detail {
  margin-top: 11rem;
  margin-bottom: 2rem;
}
.content-page .content {
  margin-bottom: 4rem;
}

/* blog card style start */
.location_ {
  padding: 5px;
}
.location_details_ {
  display: block;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  border-radius: 25px;
  overflow: hidden;
  perspective: 1px;
}
.location_details_ .card_info {
  /* background: var(--base-color); */
  width: 100%;
  padding: 20px;
  /* color: white; */
}

.card_info .info_heading {
  font-weight: 700;
}
.card_info .info_heading h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.card_info .item {
  margin-bottom: 5px;
}
.card_info .item_title {
  font-weight: 700;
  letter-spacing: 1px;
}
.location_details_ .card_left {
  width: 100%;
}
.location_details_ .card_left .card_img {
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .location_details_ {
    box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
    border-radius: 25px;
    overflow: hidden;
    perspective: 1px;
    display: block;
  }
  .location_ {
    padding: 20px 0px;
  }
}

/* blog card style end */
</style>
