<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                    class="blog_img_cus"
                    src="~/assets/images/finance.jpg"
                    alt=""
                />
              </div>

              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <div class="page-header">
                    <span class="page-title blog_heading">
                      Student Finance</span
                    >
                  </div>
                  <p class="blog_heading">
                    <strong> Full-time students and tuition fee loans</strong>
                  </p>
                  <p>
                    Tuition fee loans are the motivational inclusions for
                    full-time students, who seek education or undergraduate
                    course in the UK. Students can get a tuition fee loan to
                    complete their education, where the overall content is
                    provided by Student Finance England. This loan is meant for
                    covering the overall fees of the university and colleges,
                    where the student is enrolled for their course.
                  </p>

                  <p class="blog_heading">
                    <strong> The key points to remember </strong>
                  </p>
                  <p>
                    Financial issues are one of the key obstacles that bar a
                    student from getting higher education in the UK. Many
                    students find it quite difficult to manage their money for
                    paying the regular university and college fee. They do have
                    skills but the lack of money often turns them to compromise.
                    We avail the Student Finance that covers their tuition fees.
                    Thus, there is no need to pay for tuition fees up-front. The
                    Tuition Fee Loan will pay your fees with some predefined
                    terms and conditions. In this way, here are a few notable
                    points where the entire student finance revolves
                  </p>
                  <ul class="a">
                    <li>
                      The first and foremost important point is to know how much
                      your college or university charges as tuition fees. You
                      need to have an exact idea of the charges before applying
                      for this loan.
                    </li>
                    <li>
                      The public university or college and the privately-funded
                      ones may have different criteria for their tuition fees.
                      Additionally, internal measures may also differ. This
                      selection is going to play an essential role in your
                      education and loan both.
                    </li>
                    <li>
                      You can get depend on the date when you started your
                      course or when you will start the course. This will be
                      proved helpful for you to apply for the loan procedure.
                    </li>
                    <li>
                      If you are studying at an eligible college or university,
                      tuition fee loans can go up to £9,250.
                    </li>
                    <li>
                      If you are studying an accelerated degree course, the
                      tuition fee loan can go up to £11,100.
                    </li>
                    <li>
                      These are the details about tuition fee loans that are
                      available for the students here. If you doubt your course
                      and its validity for loans, you need to have an insightful
                      discussion with your college or university.
                    </li>
                  </ul>
                  <p>
                    Don’t let anything hold your wings to fly; tuition fee loan
                    is all here to give you air!
                  </p>

                  <div class="row">
                    <div class="col-md-12">
                      <div id="accordion-1" class="panel-group accordion">
                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">What If I started the course before 1st
                                September 2021?</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>
                                If you have started for any of the courses
                                before 1st September 2021, your Tuition Fee Loan
                                may go up to £3,465.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">Do the nationality and residency status
                                matter?</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des-title underline">
                                UK nationals
                              </div>
                              <div class="course-des">
                                <p>
                                  A student is eligible to apply for tuition fee
                                  loan if:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">The student lives in England.</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#"
                                      >The student has been living in the UK, EU
                                      or EEA for at least three years before the
                                      first day of the course.</a>
                                  </li>
                                </ul>
                              </div>

                              <div class="course-des-title underline">
                                Lived outside the UK, EU, or EEA?
                              </div>
                              <div class="course-des">
                                <p>
                                  You can still get student finance if you’ve
                                  lived outside of the UK, EU, or EEA during the
                                  three years before the start of your course if
                                  you had a temporary break in residency.
                                </p>

                                <p>
                                  To prove this was only a temporary break in
                                  residency, you can send:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >your visa showing that your time abroad
                                      was temporary</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >temporary work contracts for you or your
                                      parents</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >evidence that you maintained a connection
                                      with the UK, for example bank statements
                                      showing your UK address, mortgage
                                      statements, or utility bills</a>
                                  </li>
                                </ul>
                                <p>
                                  If you’ve lived outside the UK, EU, or EEA on
                                  a temporary basis, you must have returned to
                                  the UK by the start of your course to be
                                  eligible for student finance.
                                </p>
                              </div>
                              <div class="course-des-title underline">
                                EU nationals
                              </div>
                              <div class="course-des">
                                <p>
                                  If a student is an EU national or a relative
                                  of any EU national, tuition fee loan is
                                  applicable if:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The student has been living in the UK for
                                      at least five years before the first day
                                      of the course.</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The student is living in England on the
                                      first day of the first academic year of
                                      the course. In an order to apply for the
                                      tuition fee loan, the students are advised
                                      to submit some proof for their addresses,
                                      where they have lived for the last five
                                      years. We accept the original copy of the
                                      proof to ensure validity. Here is the list
                                      of evidence; a student may select a few of
                                      them to submit
                                    </a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Council tax bills</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Tax calculations</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Tax returns</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Bank statement</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Utility bills</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">P60s</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Wage slip</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">Child Tax Credit letters</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >Child Benefit letters - If a student was
                                      under 18 years of the age at the start of
                                      the five years before the starting of the
                                      course, we do accept the below documents
                                      too</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">School reports</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >Child benefit letter or Child tax credit
                                      award letter that contains the student’s
                                      name and other details.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >A signed or stamped letter of school’s
                                      headed paper along with the exact dates of
                                      attendance for confirmation.</a
                                    >
                                  </li>
                                </ul>

                              </div>

                              <div class="course-des-title underline">
                                Non-UK and non-EU nationals
                              </div>
                              <div class="course-des">
                                <p>
                                  The Non-UK and non-EU national students are
                                  also eligible for tuition fee loans if:
                                </p>

                                <p>
                                  To prove this was only a temporary break in
                                  residency, you can send:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The student is living in England from the
                                      first day of the first day of the
                                      course.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The student has lived in the UK for at
                                      least three years before the first day of
                                      the academic course.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The student has settled status like there
                                      is no idea how long he or she can stay in
                                      the UK. One may refer to this as an
                                      Indefinite Leave to Remain or Indefinite
                                      Leave to Enter.</a
                                    >
                                  </li>
                                </ul>

                                <p>
                                  The student is also able to apply for the
                                  student finance if:
                                </p>

                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >A refugee or a relative of one</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">The child of Swiss national</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >The child of a Turkish worker</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >Under Humanitarian Protection or a
                                      relative of one</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">A stateless person</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >Under the age of 18 years, and has lived
                                      in the UK for at least seven years.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >Crossed the age of 18 years, and has
                                      lived in the UK for at least 20 years (or
                                      half of the life)</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Granted leave under section 67 of the
                                      Immigration Act 2006 or a child of someone
                                      who granted leave (student needs to be
                                      lived in the UK for at least three years
                                      before the first day of the academic
                                      course to earn the eligibility for Section
                                      67)</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a
                                data-toggle="collapse"
                                data-parent="#accordion-1"
                                href="#collapse-1-2"
                                aria-expanded="true"
                                class="accordion-toggle collapsed"
                                >Living outside the UK, EU, and EEA? Here you
                                go</a
                              >
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              Even if the student lived outside the UK, EU, and
                              EEA, he or she can still apply for the tuition fee
                              loan. The students are advised to return to the UK
                              before the start of the course. This will build
                              their eligibility for the tuition fee loan. If the
                              student has taken a break in residency during the
                              three years before the start of the academic
                              course, the student needs to prove it as a
                              temporary break by with a few required documents’
                              submission
                              <ul class="list-unstyled list-detail">
                                <li>
                                  <i class="fa fa-angle-right"></i><a href="#">Student’s Visa to show the temporary period
                                    in abroad</a>
                                </li>
                                <li>
                                  <i class="fa fa-angle-right"></i><a href="#">Parents’ temporary work contracts</a>
                                </li>
                                <li>
                                  <i class="fa fa-angle-right"></i><a href="#"
                                    >Evidence of the UK connection in that
                                    period like bank statements, mortgage
                                    statements or utility bills</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a
                                data-toggle="collapse"
                                data-parent="#accordion-1"
                                href="#collapse-1-3"
                                aria-expanded="false"
                                class="accordion-toggle collapsed"
                                >Is there any age guideline to apply for student
                                finance?</a>
                            </h5>
                          </div>
                          <div
                            id="collapse-1-3"
                            style="height: 0px"
                            aria-expanded="false"
                            class="panel-collapse collapse"
                          >
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  Usually you can only get student finance for
                                  your first degree or higher-education
                                  qualification, even if you studied a long time
                                  ago or if the course was abroad. You might get
                                  funding for a second degree if you study an
                                  exception course such as Nursing, Midwifery or
                                  Teaching.
                                </p>

                                <p>
                                  As a general rule, a Tuition Fee Loan is
                                  available for the full length of your first
                                  course, plus one extra year if needed, for
                                  example, if:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">you change your course, or</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >you have to re-sit a year, or</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >you leave your course but start
                                      another</a>
                                  </li>
                                </ul>

                                <p>
                                  The number of years for which you are eligible
                                  for funding is calculated as:
                                </p>
                                <p>
                                  <b
                                    >Length of current course + one year – years
                                    of previous study</b>
                                </p>

                                <p>
                                  You will use up one year of funding when you
                                  register, regardless of how long you attend
                                  the course.
                                </p>
                                <p></p>
                                <p>
                                  If you haven’t got enough years of funding
                                  left to cover your course, you’ll have to
                                  cover some of the cost yourself. You’ll
                                  usually still be able to get a Maintenance
                                  Loan in any self-funded years of study. You
                                  may also be able to get a bursary from your
                                  university.
                                </p>
                                <p>
                                  You might be able to get an extra year of
                                  tuition fee support if you need to repeat a
                                  year due to compelling personal reasons, such
                                  as bereavement or illness.
                                </p>
                                <p>
                                  Find out more about whether you can get an
                                  additional year of tuition fee support and how
                                  to apply for this.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">Your uni and course</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  The course you plan to study must be at an
                                  eligible uni or college in the UK, and one of
                                  the following:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#"
                                      >first degree, e.g. BA, BSc, or BEd</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">foundation degree</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Certificate of Higher Education</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Higher National Certificate (HNC)</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Higher National Diploma (HND)</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Diploma of Higher Education (DipHE)</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#"
                                      >Postgraduate Certificate of Education
                                      (PGCE)</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">integrated master's</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">Initial Teacher Training (ITT)</a>
                                  </li>
                                </ul>

                                <p>
                                  From 1 August 2018, students studying a
                                  postgraduate healthcare course will also be
                                  able to apply for a Tuition Fee Loan.
                                </p>

                                <p>
                                  If you’re not sure whether your course
                                  qualifies for student finance, you should
                                  check with your uni or college.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">Armed Forces</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>You might also be eligible if you're:</p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#"
                                      >a spouse or civil partner living with a
                                      member of the UK Armed Forces serving
                                      overseas</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">a child, step-child, or adoptive child
                                      living with a member of the UK Armed
                                      Forces serving overseas</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">a dependent parent living with either a
                                      child who is a member of the UK Armed
                                      Forces serving overseas, or the child's
                                      spouse or civil partner who is a member of
                                      the UK Armed Forces serving overseas</a>
                                  </li>
                                </ul>

                                <p>
                                  From 1 August 2018, students studying a
                                  distance learning course will also be able to
                                  get a Tuition Fee Loan if they're:
                                </p>

                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">a member of the UK Armed Forces who
                                      usually lives in England, but is serving
                                      in Wales, Scotland, or Northern Ireland</a>
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i><a href="#">a relative living with a member of the UK
                                      Armed Forces serving in Wales, Scotland,
                                      or Northerin Ireland</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a
                                data-toggle="collapse"
                                data-parent="#accordion-1"
                                href="#collapse-1-22"
                                aria-expanded="false"
                                class="accordion-toggle collapsed"
                                >Maintenance Loan</a
                              >
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  How much you can get depends on when you
                                  started your course, where you live, and your
                                  household income.
                                </p>
                                <p>
                                  If your course started before 1 August 2016,
                                  the amount of Maintenance Loan you can get
                                  will be reduced by 50p for every £1 of
                                  Maintenance Grant you get.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">Long Course Loan</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  If your course lasts longer than 30 weeks and
                                  three days, you might be able to get a Long
                                  Course Loan as well as your Maintenance Loan.
                                </p>
                                <p>
                                  How much you can get depends on your household
                                  income, and where you’re living while
                                  studying. You’ll be able to get a Long Course
                                  Loan if you’re getting the extra Maintenance
                                  Loan that’s based on your household income.
                                </p>
                                <p>
                                  You don’t need to complete a separate
                                  application – Student Finance England will
                                  work out whether you can get a Long Course
                                  Loan when you apply for your main student
                                  finance.
                                </p>
                                <p>
                                  They’ll pay your Long Course Loan to you at
                                  the same time they pay your Maintenance Loan.
                                </p>
                                <p>
                                  This table shows the maximum weekly amount you
                                  can get:
                                </p>

                                <div class="course-syllabus">
                                  <div class="course-table"
                                    style="height: 0px; width: 0px">
                                    <div class="outer-container">
                                      <div class="inner-container">
                                        <div class="table-header">
                                          <table class="edu-table-responsive">
                                            <thead>
                                              <tr class="heading-table">
                                                <th class="col-1">title</th>
                                                <th class="col-2">2018/19</th>
                                                <th class="col-3">2019/20</th>
                                              </tr>
                                            </thead>
                                          </table>
                                        </div>
                                        <div class="table-body">
                                          <table class=" edu-table-responsive table-hover">
                                            <tbody>
                                              <tr class="heading-content">
                                                <td
                                                  colspan="1"
                                                  class="left heading-content">
                                                  Where you're living while
                                                  studying
                                                </td>
                                                <td
                                                  colspan="2"
                                                  class="left heading-content">
                                                  Maximum amount per additional
                                                  week
                                                </td>
                                              </tr>
                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span
                                                      >Living with parents</span
                                                    ></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£61</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£63</span>
                                                </td>
                                              </tr>

                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span
                                                      >Living outside of London,
                                                      away from home</span
                                                    ></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£93</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£96</span>
                                                </td>
                                              </tr>
                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span
                                                      >Living in London, away
                                                      from home</span
                                                    ></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£120</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£123</span>
                                                </td>
                                              </tr>
                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span
                                                      >Living abroad</span
                                                    ></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£129</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£129</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed"
                                >Special Support Grant</a>
                            </h5>
                          </div>
                          <div class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  The Special Support Grant replaces the
                                  Maintenance Grant in certain circumstances.
                                  Student Finance England works out entitlement
                                  to the Special Support Grant in the same way
                                  as the Maintenance Grant.
                                </p>
                                <p>
                                  If you started your course between 1 September
                                  2021 and 31 July 2016, the full grant
                                  available is:
                                </p>

                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >£3,593 for the 2018/19 academic year</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >£3,694 for the 2019/20 academic year</a
                                    >
                                  </li>
                                </ul>

                                <p>
                                  You may get a Special Support Grant if any of
                                  the following apply while you’re on your
                                  course:
                                </p>
                                <ul class="list-unstyled list-detail">
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You’re a single parent, or single foster
                                      parent, of a child or young person under
                                      20 who is in full-time education below
                                      higher education level, or on an approved
                                      training course.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You have a partner who is also a
                                      full-time student, and one or both of you
                                      is responsible for a child or young person
                                      under 20 who is in full-time education
                                      below higher education level, or on an
                                      approved training course.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You have a disability and qualify for the
                                      Disability Living Allowance, Disability
                                      Premium, or Severe Disability Premium.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You qualify for Personal Independence
                                      Payment or Armed Forces Independence
                                      Payment.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You’re deaf and qualify for a Disabled
                                      Students’ Allowance</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You have been treated as incapable of
                                      work for a continuous period of at least
                                      28 weeks.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You have a disability and qualify for
                                      income-related Employment and Support
                                      Allowance.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#"
                                      >You’re waiting to go back to a course,
                                      having taken agreed time out from that
                                      course due to an illness or caring
                                      responsibility that has now ended.</a
                                    >
                                  </li>
                                  <li>
                                    <i class="fa fa-angle-right"></i
                                    ><a href="#">You’re aged over 60.</a>
                                  </li>
                                </ul>
                                <p>
                                  If you’re claiming an income-related benefit,
                                  Jobcentre Plus and your local authority’s
                                  benefit section won’t take account of the
                                  Special Support Grant when working out your
                                  income.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">How to apply</a>
                            </h5>
                          </div>
                          <div
                            id="collapse-2-5"
                            aria-expanded="false"
                            style="height: 0px"
                            class="panel-collapse collapse"
                          >
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  When you apply for student finance, you'll
                                  need to agree to Student Finance England's
                                  terms and conditions.
                                </p>
                                <p><b>New students</b></p>
                                <p>
                                  The quickest and easiest way to apply is
                                  online at www.gov.uk/studentfinance as soon as
                                  the application service opens.
                                </p>

                                <p><b>Set up a student finance account</b></p>
                                <p>
                                  When you register, you’ll be given a unique
                                  Customer Reference Number, and will need to
                                  create a password and secret answer. You
                                  should keep these safe, as you’ll need them to
                                  sign in to your account to check the progress
                                  of your application, and reapply for student
                                  finance next year.
                                </p>

                                <p>
                                  <b>Fill in and submit your application</b>
                                </p>
                                <p>
                                  The first time you apply, you’ll be asked for
                                  proof of identity. You can easily do this by
                                  providing your valid UK passport details. If
                                  you don’t have a UK passport, you may have to
                                  send evidence
                                </p>
                                <p>
                                  If you want to apply for student finance that
                                  depends on your household income, Student
                                  Finance England will ask your parents or
                                  partner for their National Insurance number,
                                  and their personal income details.
                                </p>

                                <p><b>Send any evidence you're asked for</b></p>
                                <p>
                                  Student Finance England may contact you, or
                                  your parents/partner, to ask for evidence to
                                  support your application. If you’ve had no
                                  contact with your parents for over a year, you
                                  might be able to apply as an ‘independent
                                  student’.
                                </p>

                                <p><b>Continuing students</b></p>
                                <p>
                                  To reapply for student finance, sign in to
                                  your student finance account, and apply online
                                  as soon as the application service opens.
                                </p>
                                <p>
                                  If you’re applying for the first time, you can
                                  do this online at www.gov.uk/studentfinance.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">How it's paid</a>
                            </h5>
                          </div>
                          <div style="height: 0px" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  You need to register at your uni or college
                                  before Student Finance England can make your
                                  first payment.
                                </p>
                                <p>
                                  You’ll usually do this in the first week of
                                  your course, and you may have to take along
                                  your student finance entitlement letter.
                                </p>
                                <p>
                                  Student Finance England pays any Maintenance
                                  Loan and/or Maintenance Grant you can get
                                  directly into your bank account, in three
                                  instalments, usually at the start of each
                                  term.
                                </p>
                                <p>
                                  You can find your expected payment dates in
                                  your online account, but some banks take
                                  longer to clear funds. If your money isn’t in
                                  your account in three working days, you should
                                  contact your bank – they should be able to let
                                  you know when your money will arrive.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">How much do I repay?</a>
                            </h5>
                          </div>
                          <div style="height: 0px" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  The important thing to remember is that the
                                  amount you’ll repay will be based on how much
                                  you earn, not how much you borrow.
                                </p>
                                <p>
                                  You’ll repay 9% of your income above the
                                  repayment threshold – earn less and you won’t
                                  repay.
                                </p>
                                <p>
                                  Once you leave your course, you’ll only repay
                                  when your income is above the repayment
                                  threshold. The current UK threshold is £25,725
                                  a year, £2,143 a month, or £494 a week.
                                </p>
                                <p>
                                  For example, if you earn £2,250 a month before
                                  tax, you’ll repay £9 a month. This is because
                                  £2,250 is £107 above the monthly threshold of
                                  £2,143, and 9% of £107 is £9.
                                </p>
                                <p>
                                  Look at the table for some more examples of
                                  how much you could repay.
                                </p>

                                <div class="course-syllabus">
                                  <div
                                    class="course-table"
                                    style="height: 0px; width: 0px"
                                  >
                                    <div class="outer-container">
                                      <div class="inner-container">
                                        <div class="table-header">
                                          <table class="edu-table-responsive">
                                            <thead>
                                              <tr class="heading-table">
                                                <th class="col-1">
                                                  Yearly income before tax
                                                </th>
                                                <th class="col-2">
                                                  Monthly income before tax
                                                </th>
                                                <th class="col-3">
                                                  Monthly repayment
                                                </th>
                                              </tr>
                                            </thead>
                                          </table>
                                        </div>
                                        <div class="table-body">
                                          <table class="edu-table-responsive table-hover">
                                            <tbody>
                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span>£25,725</span></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£2,143</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£0</span>
                                                </td>
                                              </tr>

                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span>£27,000</span></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£2,250</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£9</span>
                                                </td>
                                              </tr>

                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span>£29,500</span></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£2,458</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£28</span>
                                                </td>
                                              </tr>

                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span>£31,000</span></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£2,583</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£39</span>
                                                </td>
                                              </tr>

                                              <tr class="table-row">
                                                <td class="left col-1">
                                                  <a href="#"
                                                    ><span>£33,000</span></a
                                                  >
                                                </td>
                                                <td class="col-2">
                                                  <span>£2,750</span>
                                                </td>
                                                <td class="col-3">
                                                  <span>£54</span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <p>
                                  If your income changes, the amount you repay
                                  will change too. But don't worry – this
                                  happens automatically
                                </p>
                                <p>
                                  If you stop working, or start to earn below
                                  the repayment threshold, your repayments will
                                  stop until you earn over the threshold.
                                </p>
                                <p>
                                  You’ll make a repayment if you go over the
                                  weekly or monthly threshold at any point
                                  during the year, for example, if you get a
                                  bonus or work overtime. You can request a
                                  refund at the end of the tax year if your
                                  total income was below the annual repayment
                                  threshold.
                                </p>

                                <p><b>If you leave your course early</b></p>
                                <p>
                                  You’ll still have to repay your loan, but the
                                  repayment process might be different.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">How and when do I repay?</a>
                            </h5>
                          </div>
                          <div style="height: 0px" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  <b>Full-time courses</b> – you’ll be due to
                                  start repaying the April after you finish or
                                  leave your course, but only if you're earning
                                  over the repayment threshold. For example, if
                                  you graduate in June 2019, you’ll be due to
                                  start repaying in April 2020, if you're
                                  earning enough.
                                </p>
                                <p>
                                  <b>Part-time courses</b> – you’ll be due to
                                  start repaying the April four years after the
                                  start of your course, or the April after you
                                  finish or leave your course, whichever comes
                                  first, but only if you're earning over the
                                  repayment threshold.
                                </p>
                                <p>
                                  Any outstanding loan balance will be cancelled
                                  30 years after you’re due to start repaying –
                                  even if you haven't repaid any of it.How
                                  you'll repay depends on what you choose to do
                                  after your course:
                                </p>
                                <p>
                                  <b>If you start work,</b> your employer will
                                  automatically take 9% of your income above the
                                  threshold from your salary, along with tax and
                                  National Insurance.
                                </p>
                                <p>
                                  <b>If you're self-employed,</b> you’ll make
                                  repayments at the same time as you pay tax
                                  through self-assessment.
                                </p>
                                <p>
                                  <b>If you move overseas,</b> you’ll repay
                                  directly to the Student Loans Company, instead
                                  of having it taken automatically from your
                                  pay. The repayment threshold could be
                                  different from the UK, which means the amount
                                  you repay could be different. Find out more
                                  about repaying from overseas.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="panel">
                          <div class="panel-heading">
                            <h5 class="panel-title">
                              <a class="accordion-toggle collapsed">What about interest?</a>
                            </h5>
                          </div>
                          <div style="height: 0px" class="panel-collapse collapse">
                            <div class="panel-body">
                              <div class="course-des">
                                <p>
                                  Interest is charged from the day the Student
                                  Loans Company makes your first payment to you
                                  or your uni or college, until your loan is
                                  repaid in full or cancelled.
                                </p>

                                <p>
                                  The interest rate is based on the Retail Price
                                  Index or RPI, which measures changes to the
                                  cost of living in the UK. The interest rate is
                                  updated once a year in September, using the
                                  RPI from March of that year.
                                </p>
                                <p>
                                  It's important to remember that the amount of
                                  interest you're charged doesn't affect the
                                  amount you'll repay each month.
                                </p>
                                <p>
                                  How much interest you're charged depends on
                                  your circumstances:
                                </p>
                                <p>
                                  <b>When you're at uni or college</b> – while
                                  you're studying, up until the April after you
                                  leave your course, the interest charged will
                                  be RPI plus 3%.
                                </p>
                                <p>
                                  <b>When you've left your course</b> – from the
                                  April after you've left your course, interest
                                  will be based on your income, up to a maximum
                                  of RPI plus 3%.
                                </p>
                                <p>
                                  <b
                                    >If you don't keep your details
                                    up-to-date</b
                                  >
                                  – you'll be charged RPI plus 3%, whatever your
                                  income, until the Student Loans Company has
                                  all the information they need.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
ul.a {
  list-style-type: circle;
}

.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
.content-page .left-panel {
  /* top: -185px !important; */
  width: 760px;
}
.blog_img_cus {
  overflow: hidden;
}
</style>
