<template>
  <div class="home-container">
    <div class="row">
      <div class="section-header">
        <h2 class="section-title">Our students reviews</h2>
        <p class="section-subtitle">Success students review which inspire us</p>
      </div>
    </div>
    <div class="row">
      <div class="student-reviews">
        <div
          class="col-md-6"
          v-for="testimonial in testimonial_items"
          :key="testimonial.id"
        >
          <TestimonialCard :data="testimonial" />
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
import TestimonialCard from "~~/components/Cards/TestimonialCard.vue";
export default {
  components: {
    TestimonialCard,
  },
  data() {
    return {
      testimonial_items: [],
    };
  },
  created() {
    this.loadData();
  },

  methods: {
    loadData: async function () {
      // console.log(this.$config.baseApiURL);

      const [{ data: testimonial_response }] = await Promise.all([
        useFetch(this.$config.baseApiURL + `/testimonial`),
      ]);

      this.testimonial_items = testimonial_response._value.data;
    },
  },
};
</script>

<style scoped>
li{
  list-style: none;
}

@media only screen and (max-width: 700px){
  .vidqa_sldrli{
    margin: 0px !important;
  }
}
</style>