<template>
  <div>
    <div class="yCmsContentSlot container-fluid"></div>
    <a id="skip-to-content" tabindex="-1"></a>
    <div class="vwo-single-column">
      <div class="static_banner">
        <div class="yCmsContentSlot">
          <div class="yCmsComponent"></div>
        </div>
      </div>
      <div class="row static-content-page content-page-social">
        <div>
          <div class="container__full content-top clearfix">
            <div class="yCmsContentSlot left-panel">
              <div class="blog_img">
                <img
                  src="/assets/images/Service/Visa-and-immigration.jpg"
                  alt=""
                />
              </div>
              <div class="yCmsComponent single_blog_content">
                <div class="content">
                  <div class="page-header">
                    <h4 class="page-title">Visa And Immigration</h4>
                  </div>
                  <br />
                  <b
                    >Reach UK study visa and immigration consultant to prevail your UK studies</b
                  ><br /><br />

                  <p>
                    Even if you have planned everything well, from course
                    selection to university admission, nothing works until you
                    reach the UK. Any international student needs to fulfill
                    some criteria to apply and stay in the UK. UK study visa and
                    immigration consultant operates the necessities and helps
                    the students with their relevant formalities.
                  </p>

                  <p>
                    Tarek Associates has engrossed itself in uprooting every
                    obstacle in your way to success in the UK. At Whitechapel,
                    we gather the requirements to provide a hassle-free
                    admission process. Our duty doesn’t end here; we find the
                    difficulties in your Visa approval and solve them with immediate
                    effect. We help our students collect the required
                    papers.
                  </p>
                  <p>
                    Though we can’t shorten the time required for Visa approval,
                    we keep an eye to ensure the swiftness of the process. From an overall perspective, Our
                    student visa consultant in the UK maintains a constant link with
                    student until the success is achieved. We help them fetch the necessary documents
                    for their visa and immigration.
                  </p>
                  <p>
                    If you are coming to the UK, have a look at the below points. Though we will help you to understand the terms, here is
                    a general list
                  </p>
                  <ol>
                    <li>
                      <p>
                        <b>Check if you really need a UK Visa:</b> The first
                        step is that, before applying for a study or visa, you need to
                        check whether you need it or not. Different countries
                        may have diverse requirements for having a Visa to
                        coming to the UK. Additionally, the intention of the
                        arrival may also create diversity in the needs.
                      </p>
                    </li>
                    <li>
                      <p>
                        <b>Applying for a isa to come to the UK:</b> Once you
                        are done with your previous check, if you need to have a
                        visa, here is the next step. You need to choose the visa
                        type by keeping various things in mind. Prepare the
                        application and then attend the appointment in this way.
                        You will get a decision on your application.
                      </p>
                    </li>
                    <li>
                      <p>
                        <b>Immigration application:</b> You need to pay for UK
                        healthcare as a part of your immigration application.
                        Confirm the charges and surcharge. This is also known as the "IHS", Which that means Immigration health surcharge.
                      </p>
                    </li>
                    <li>
                      <p>
                        <b>Tuberculosis tests for visa applicants:</b> There are
                        countries where tuberculosis tests for visa applicants
                        are required. You will be given a chest X-ray to test
                        for TB. If the thing does not get clearance, you may
                        be asked to give a sputum sample
                      </p>
                    </li>
                    <li>
                      <p>
                        <b>Get an electronic visa waiver to enter the UK:</b> If
                        a student belongs to a nations like Kuwait, Omar,
                        Qatar or UAE, you can get an electronic visa waiver. The
                        electronic visa waiver is also known as the EVW.
                      </p>
                    </li>
                  </ol>
                  <p>
                    UK study visa and immigration consultant ensures a potent
                    process for your UK academics, by discarding the would-be
                    chances of disapproval!
                  </p>
                </div>
              </div>
            </div>
            <RightSideBar />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RightSideBar from "~~/components/Sidebars/RightSideBar.vue";
export default {
  components: { RightSideBar },
};
</script>

<style scoped>
.static_banner {
  background: none;
}
.content-page .static-content-block .content p {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  
  line-height: 1.4;
  letter-spacing: -0.025em;
}
.blog_heading {
  font-size: 18px !important;
  font-weight: 900;
}
</style>
