<template>
  <div>
    <!-- sign button start -->
    <div class="appointment">
      <div
        class="srch_ovly"
        id="search_overlay"
        :style="{ display: promotionalModal ? 'block' : 'none' }"
      >
        <div class="nsrch_wrp nsrch_wrp_vw">
          <span
            class="glyphicon glyphicon-remove srcls"
            @click="hidePromotionalModal"
          ></span>
          <div class="sign-get_in_touch_from">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="sign-logo">
                    <img
                      class="sign-logo-img"
                      src="~assets/images/tarek-logo-black.png"
                      alt=""
                    />
                  </div>
                  <div class="heading">
                    <h1 class="sign-title">
                      Want to Study in the United Kingdom?
                    </h1>
                  </div>
                  <div class="content">
                    <p class="sign-content">
                      Universities welcome thousands of International students
                      each intake. International Students get exclusive and
                      attractive offers to accomplish their dreams. Sign up
                      right now and get the latest offers regarding courses from
                      the best universities each week. <br />
                      Contact-us:
                      <span class="contact-color"
                        >+88029632750, +881321166550</span
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form_title">
                    <span class="sign-form_title_text"> Sign Up Now </span>
                    <div
                      class="alert alert-success"
                      v-if="response_message != ''"
                    >
                      <p>{{ response_message }}</p>
                    </div>
                  </div>
                </div>
           
                <div class="col-md-8 col-md-offset-2">
                    <input v-model="form.title" type="hidden" />
                  <div class="form-group">
                    <label class="control-label form-label sign-level"
                      >Name
                      <span class="highlight" id="userName-info">*</span></label
                    >
                    <input
                      v-model="form.name"
                      type="text"
                      placeholder="Full Name"
                      id="fullname"
                      name="fullname"
                      class="form-control form-input contactus-input sign-input"
                    />
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                  <div class="form-group">
                    <label class="control-label form-label sign-level"
                      >Email
                      <span class="highlight" id="emailA-info">*</span></label
                    ><input
                      v-model="form.email"
                      type="text"
                      placeholder="Email"
                      id="emailA"
                      name="email"
                      class="form-control form-input contactus-input sign-input"
                    />
                  </div>
                </div>
                     <div class="col-md-8 col-md-offset-2">
                  <div class="form-group">
                    <label class="control-label form-label sign-level"
                      >Contact No
                      <span class="highlight" id="userName-info">*</span></label
                    >
                    <input
                      v-model="form.phone"
                      type="text"
                      placeholder="Contact number"
                      id="fullname"
                      name="fullname"
                      class="form-control form-input contactus-input sign-input"
                    />
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                  <div class="submit_button">
                    <button type="button" @click="createUser" class="button">
                      Sign Up
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sign button end -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      promotionalModal: "",
      disablePromotionalModal: false,
      form: {
        title:"Promotional Email",
        name: "",
        phone: "",
        email: "",
      },
      response_message: "",
    };
  },

  mounted() {
    if (localStorage.getItem("disablePromotionalModal")) {
      this.disablePromotionalModal = true;
    }

    this.$bus.$on("promotionalModal", () => {
      if (!this.disablePromotionalModal) {
        console.log("promotionalModal show");
        this.promotionalModal = true;
      }
    });
  },

  methods: {
    hidePromotionalModal: function () {
      if (process.client) {
        localStorage.setItem("disablePromotionalModal", true);
      }
      this.promotionalModal = false;
    },
    emptyFormData: function () {
      this.form = {};
    },

    createUser: async function () {
      let _this = this;
      const [{ data: organizations }] = await $fetch(
        this.$config.baseApiURL + `/contact-mail`,

        {
          async onRequest({ request, options }) {
            options.headers = { Accept: "application/json" };
            options.method = "POST";
            options.params = _this.form;
          },
          async onRequestError({ request, options, error }) {},
          async onResponse({ request, response, options }) {
            _this.response_message = response._data.message;
            _this.emptyFormData();
          },
        }
      );
    },
  },
};
</script>

<style scoped>
/* Book appointment style start */

.form-control {
  border-radius: 50px !important;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 15px, rgb(0 0 0 / 10%) 0px 5px 10px;
  border: none;
  background-color: #0404040d;
}
.form-group {
  margin-bottom: 25px;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #787a80 !important;
  margin-left: 1.2rem;
}
.form-group .message_text {
  min-height: 12rem;
  border-radius: 10px !important;
}
.form-group .address_text {
  min-height: 8rem;
  border-radius: 10px !important;
}
.form-group .highlight {
  color: red;
}
.submit_button {
  text-align: center;
  border-radius: 20px;
}
.submit_button .btn {
  border-radius: 10px;
  background: var(--base-color);
  color: white;
}
.submit_button .btn:hover {
  background: var(--base-gradient);
  transition: all 0.5s;
  color: white;
}

.agent_heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.content-page .left-panel {
  top: 0 !important;
  padding: 40px 15px 0px 15px !important;
  background-color: #ffff;
  position: relative;
  width: 100%;
}
.content-page .static-content-page .content-top {
  margin: 0 auto;
  padding-left: 19px !important;
  display: flex;
  width: 100%;
}
.info {
  margin: 30px 0px 20px 4px;
}

.left_img img {
  border-radius: 15px;
  margin-top: 15rem;
}

/* @media (min-width: 1024px)  */

.container {
  /* width: 1400px; */
  width: 100%;
}
/* get-in-tuch-form start */
.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}

.form_title {
  margin: 5px 0px 10px 0px;
  text-align: center;
}
.form_title_text {
  font-size: 28px;
  font-weight: 900;
  color: var(--base-color);
}

.srch_ovly .nsrch_wrp {
  width: 700px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
  font-weight: 300;
  position: relative;
  top: calc(50% - 275px);
}

button.button {
  padding: 10px 50px;
}
button.button:hover {
  background: var(--base-gradient-left);
  transition: 0.5s;
}
/* Book appointment style end */

.sign-logo {
  text-align: center;
}
img.sign-logo-img {
  height: 60px;
  width: auto;
}
h1.sign-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: var(--base-color);
  text-align: center;
}
p.sign-content {
  font-size: 15px !important;
  letter-spacing: -0.025em;
  color: black;
  text-align: center;
}
.contact-color {
  color: black;
  font-weight: 700;
}
.sign-form_title_text {
  font-size: 22px;
  font-weight: 900;
  color: var(--base-color);
}

.sign-get_in_touch_from {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: #ffffff;
  background-image: url("https://i.postimg.cc/25MfTDTW/uk.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sign-get_in_touch_from:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.sign-input {
  background: #ffffff;
}
label.control-label.form-label.sign-level {
  color: black;
}

@media only screen and (max-width: 700px){
.srch_ovly .nsrch_wrp{
  width: 100%;
}
}



</style>
