<template>
  <div>
    
  <div class="appointment">
    <div class="srch_ovly" id="search_overlay" :style="{display:openModal ? 'block':'none'}">
      <div class="nsrch_wrp nsrch_wrp_vw">
        <span class="glyphicon glyphicon-remove srcls"
          @click="hidePlayVideo"></span>
        <div class="get_in_touch_from">
          <div class="container">
            <iframe width="800" height="450" :src="embed_link"> </iframe>
          </div>
        </div>
      </div> 
    </div>
  </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      embed_link:'',  
      openModal:false,  
    };

    
  },

  mounted(){

    this.$bus.$on('playVideo', (embed_link) => {
        this.openModal= true;
        this.embed_link=embed_link;
      });
  },

  methods: {
    hidePlayVideo: function () {
      this.openModal= false;
      this.embed_link='';
    },
  },
};
</script>

<style scoped>

.container {
  width: 100%;
}

iframe{
      border: none;
      margin: 0 auto;
	display: block;
}

.get_in_touch_from {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
  padding: 30px;
  background-color: white;
}
.get_in_touch_from iframe {
  box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
}
.srch_ovly .nsrch_wrp {
  width: 900px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
  position: relative;
  transition: 1.5s;
  top: calc(50% - 275px);
}
.srch_ovly {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  /* background: none; */
  backdrop-filter: none;
}
.srch_ovly .srcls {
  color: rgb(255, 255, 255);
  font-size: 24px;
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
  font-family: "Glyphicons Halflings" !important;
}

@media only screen and (max-width: 700px) {
  .srch_ovly .nsrch_wrp {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 30px 5px;
    position: relative;
    transition: 1.5s;
    top: calc(50% - 275px);
  }
  .get_in_touch_from iframe {
    width: 100%;
  }

  .content-landing-page {
    padding: 0px !important;
  }
}

</style>
